<script setup lang="ts">

import BannerSlide from '@/components/sections/banner-slide.vue';
import BannerGallery from '@/components/sections/banner-gallery.vue';
import InfoContact from '@/components/sections/info-contact.vue';



const { locale, locales,setLocale } = useI18n()
const { t } = useI18n({
  useScope: 'local'
})


let title_baycrest = locale.value == 'th' ? 
`ดิ แอสเพน ทรี ได้ทำความร่วมมือกับ Baycrest <br>เพื่อนำความรู้ด้านการดูแลผู้สูงวัยและสุขภาพสมอง`:
`The Aspen Tree in partnership with Baycrest <br>of expertise in senior care and cognitive health.` ;

let cont_baycrest = locale.value == 'th' ? 
`โดยนำเสนอการดูแลแบบองค์รวมและต่อเนื่องตลอดช่วงชีวิต ตั้งแต่การดูแลระดับเบื้องต้นจนถึงการดูแล แบบประคับประคองอย่างเหมาะสม เพื่อมอบคุณภาพชีวิตที่ดีที่สุดให้แก่ผู้สูงวัยทุกท่าน`:
`Through a holistic approach with minimal intervention from medications, Aspen Tree provides a continuum of care throughout the senior adults life, from primary through to palliative care.` ;

let cont_baycrest_2 = locale.value == 'th' ? 
`ท่ามกลางบรรยากาศแห่งความสงบและไร้ความกังวล พร้อมสิ่งอำนวยความสะดวกที่ส่งเสริม สุขภาพและคุณภาพชีวิต รวมถึงการบริการดูแลระดับมาตรฐานโลกที่เข้าถึงได้ เพื่อมอบความเป็นอยู่ที่ดี และเติมเต็มชีวิตผู้สูงวัยอย่างแท้จริง`:
`As an innovative model of care for senior living that offers lifetime care, that allows elders to age in place with fulfillment and purpose with a world-class health and wellness facilities and services at their doorstep.` ;

let our_part_prefix = locale.value == 'th' ? `พันธมิตรของเรา`:`OUR PARTNERS` ;

let our_part_title = locale.value == 'th' ? `BAYCREST HEALTH SCIENCES`:`BAYCREST HEALTH SCIENCES` ;
let our_part_desc = locale.value == 'th' ? `พันธมิตรของเรา`:`OUR PARTNERS` ;
const images2: { img: string}[] = [
    { img: '/image/health-brain/thumb-aspen-our-mission-1.jpg',},
    { img: '/image/health-brain/thumb-aspen-our-mission-2.jpg',   },
    { img: '/image/health-brain/thumb-aspen-our-mission-3.jpg',},
    { img: '/image/health-brain/thumb-aspen-our-mission-4.jpg',},
];


const partner: { img: string}[] = [
    { img: '/image/health-brain/thumb-partnership-1.png',},
    { img: '/image/health-brain/thumb-partnership-2.png',   },
    { img: '/image/health-brain/thumb-partnership-3.png',},
    { img: '/image/health-brain/thumb-partnership-4.png',},
    { img: '/image/health-brain/thumb-partnership-5.png',},
    { img: '/image/health-brain/thumb-partnership-6.png',},
];

import { gsap , TweenMax } from "gsap";
const breadcrumb = ref();
const header = ref();

onMounted(() => {
    setTimeout(() => {
        TweenMax.fromTo(breadcrumb.value, 1.5, {opacity: 0, y:-50}, {opacity: 1,  y:0 , delay: .2});
        TweenMax.fromTo(header.value.querySelector('h5'), 1.5, {opacity: 0, y:50}, {opacity: 1,  y:0 , delay: .3});
        TweenMax.fromTo(header.value.querySelector('h1'), 1.5, {opacity: 0, y:50}, {opacity: 1,  y:0 , delay: .4});
        TweenMax.fromTo(header.value.querySelector('p'), 1.5, {opacity: 0, y:50}, {opacity: 1,  y:0 , delay: .6});
    }, 500);
});


</script>
<template>
     <nav aria-label="breadcrumb" ref="breadcrumb">
       <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">Health & Brain Center</li>
            </ol>
       </div>
    </nav>
    <section class="section st-content  w-100 float-left aspen-health-brain-center position-relative">
        <div class="container">
            <div class="aspen-content text-center text-uppercase mb-4" ref="header">
                <h5 class="clr-secondary">the aspen tree</h5>
                <h1 class="clr-primary tosz">Health & Brain<br class="d-block"> center</h1>
                <p v-if="locale == 'en'">An individual’s conscious decision to live in one’s own home <br class="d-lg-block d-none">
                    and community safely, independently and comfortably for as long as possible.<br class="d-lg-block d-none">
                     The Aspen Tree ensures that an optimal quality of life is provided <br class="d-lg-block d-none">
                     with dedicated services and expert care to support the<br class="d-lg-block d-none">
                    wellbeing of older adults.</p>
                <p v-else>การได้ใช้ชีวิตอย่างมีความสุขในบ้านและสภาพแวดล้อมที่คุ้นเคย <br class="d-lg-block d-none">
                    ด้วยความรู้สึกปลอดภัย มีอิสระ และความสะดวกสบายตลอดไปคือสิ่งที่เรามุ่งมั่น  <br class="d-lg-block d-none">
                    ที่ ดิ แอสเพน ทรี เราพร้อมมอบบริการด้านการดูแล สุขภาพที่เป็นเลิศและมืออาชีพ <br class="d-lg-block d-none">
                    โดยทีมผู้เชี่ยวชาญที่มีความทุ่มเทและความเอาใจใส่ เพื่อคุณภาพชีวิตที่ ดีที่สุดของผู้สูงวัย</p>
            </div>
        </div>
        <picture class="fw" ref="boxImg">
            <source media="(max-width:767px)" srcset="/image/health-brain/hero-banner-m.jpg">
            <img class="fw" src="/image/health-brain/hero-banner-d.jpg" alt="">
        </picture>
       
    </section>

    <section class="section aspen-health-brain-cont">
        <img class="abs ele-health-brain-1" src="/public/image/health-brain/ele-health-brain-1.png" alt="">
        <img class="abs ele-health-brain-2" src="/public/image/health-brain/ele-health-brain-2.png" alt="">
        <div class="container">
            <div class="aspen-hl-health-brain">
                <div class="aspen-hl-inner aspen-hl-inner-r">
                    <div class="unit">50</div>
                    <div class="h5">million people <br>worldwide<br> live with dementia</div>
                </div>
                <div class="aspen-hl-inner aspen-hl-inner-l">
                    <div class="unit">10</div>
                    <div class="h5">million <br>new cases each year</div>
                </div>
            </div>

            <div class="aspen-content pd-30 text-center box-line-bullet">
                <!-- <p class="f-mon t-md">World Health Organization The world’s aging population<br>
                brings about an even greater interest in living healthier lifestyles and<br>
                improvement of overall wellbeing to achieve greater longevity and quality of life in older age.</p> -->
                <p v-if="locale == 'en'" class="f-mon t-md">The demands of a busy modern lifestyle and a rising aging population<br class="d-lg-block d-none">
                    worldwide has bought about a renewed interest in wellbeing, longevity and<br class="d-lg-block d-none">a greater quality of life, especially as we age.</p>
                <p v-else class="f-mon t-md">ในยุคสมัยที่เต็มไปด้วยความวุ่นวายและจำนวนประชากรผู้สูงวัยทั่วโลกที่เพิ่มขึ้นอย่างต่อเนื่อง การมี<br class="d-lg-block d-none">
                    อายุยืนอย่างมีคุณภาพและมีสุขภาพที่ดี จึงนับเป็นเรื่องสำคัญยิ่ง การให้ความสนใจและดูแลสุขภาพ<br class="d-lg-block d-none">
                    อย่างถูกวิธีคือปัจจัยสำคัญที่จะช่วยยกระดับคุณภาพชีวิตของผู้สูงวัยให้ดียิ่งขึ้นอย่างแท้จริง</p>
            </div>
            <div class="aspen-content pd-30 text-center">
                <img class="logo-baycrest" src="/image/health-brain/logo-aspen-baycrest.png" alt="">
                <h4 class="text-uppercase" v-html="title_baycrest"></h4>
            </div>
            <div  v-if="locale == 'en'"  class="aspen-hl-overyear aspen-content">
                <div class="aspen-hl-overyear-inner f-big-caslon">
                    <h4 class="vw-h4">over</h4>
                    <div class="text-large">100</div>
                    <h4 class="vw-h4">years of <br class="d-block">expertise</h4>
                </div>
                <h4 class="vw-h4">in senior care and cognitive health.</h4>
            </div>
            <div v-else class="aspen-hl-overyear aspen-content">
                <h4 class="vw-h4">เป็นผู้เชี่ยวชาญด้านสุขภาพสมองที่มีประสบการณ์ยาวนานกว่ารอบศตวรรษ</h4>
            </div>
            <div class="fw pd-20">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-5 col-lg-4">
                        <div class="aspen-content f-mon t-md">
                            <p v-html="cont_baycrest"></p>
                        </div>
                    </div>
                    <div class="col-12 col-md-5 col-lg-4">
                        <div class="aspen-content f-mon t-md">
                            <p v-html="cont_baycrest_2"></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="aspen-our-partner fw">
                <picture class="fw" ref="boxImg">
                    <source media="(max-width:767px)" srcset="/image/health-brain/aspen-health-brain-center-banner-2-m.jpg">
                    <img class="fw" src="/image/health-brain/aspen-health-brain-center-banner-2-d.jpg" alt="">
                </picture>
               <div class="fw aspen-our-partner-cont">
                    <div class="row justify-content-center">
                        <div class="col-12 col-md-5 position-relative">
                            <div class="aspen-our-partner-hl aspen-content">
                                <h4 class="text-uppercase" v-html="our_part_prefix"></h4>
                                <div class="tosz text-uppercase f-big-caslon" style="color: #EEEADC;" v-html="our_part_title"></div>
                                <p v-if="locale == 'en'"  class="f-mon">The Aspen Tree is proud to be to be operated by Baycrest, with over 100 years of experiences, an aging and brain health innovator. Baycrest’s constant quest to meet the needs of the aging population brings about a unique approach to preventive care and age-related cognitive decline in older adults.</p>
                                <p v-else class="f-mon">ดิ แอสเพน ทรี ภูมิใจนำเสนอประสบการณ์การดูแลระดับมาตรฐานสากล ด้วยการร่วมมือกับ Baycrest ผู้นำด้านนวัตกรรมการดูแลผู้สูงวัย และเป็นผู้เชี่ยวชาญด้านสุขภาพสมองที่มีประสบการณ์ยาวนานกว่า รอบศตวรรษ ด้วยความมุ่งมั่นอย่างต่อเนื่อง Baycrest ได้พัฒนารูปแบบการดูแลเฉพาะสำหรับผู้สูงวัย ทั้งการป้องกัน และชะลอความเสื่อมของสมรรถภาพสมองของผู้สูงวัย ด้วยแนวทางการดูแลที่โดดเด่นและเป็น เอกลักษณ์เฉพาะตัว</p>

                            </div>
                        </div>
                        <div class="col-12 col-md-5">
                            <div class="aspen-content pd-50 aspen-our-partner-p">
                                <p v-if="locale == 'en'"  class="f-mon">Baycrest Health Sciences is a global leader in geriatric residential living, healthcare, research, innovation and education, with a special focus on brain health and aging. As the scientific center for dementia research with 350 scientists, Baycrest is the global leader in research, innovation, education and care for older adults.</p>
                                <p v-else class="f-mon">Baycrest Health Sciences เป็นผู้นำระดับโลกในการดูแลผู้สูงวัยแบบครบวงจร ตั้งแต่ที่พักอาศัย การ ดูแลสุขภาพ ไปจนถึงงานวิจัย นวัตกรรม และการศึกษา โดยให้ความสำคัญกับการดูแลสุขภาพสมอง Written & prepared by Namor Komarakul Na nakorn และพัฒนาคุณภาพชีวิตของผู้สูงวัย ศูนย์วิจัยด้านภาวะสมองเสื่อมของ Baycrest มีนักวิจัยกว่า 350 คน ทำให้องค์กรนี้ก้าวขึ้นเป็นผู้นำระดับโลกในการวิจัย คิดค้นนวัตกรรม ถ่ายทอดความรู้ และให้การดูแลผู้ สูงวัยอย่างดีเยี่ยม</p>
                            </div>
                        </div>
                    </div>
               </div>
            </div>
        </div>
    </section>
    <section class="st st-content aspen-our-mission fw ">
        <div class="container">
            <div class="fw bg-grav pd">
                <div class="aspen-content text-center text-uppercase mb-4">
                    <h4 v-if="locale == 'en'" class="clr-secondary line-bullet"><span>it is our mission<br> to set a new standard in Asia</span></h4>
                    <h4 v-else>ดิ แอสเพน ทรี ทาง Baycrest <br>มุ่งมั่นที่จะยกระดับมาตรฐานการดูแลผู้สูงวัยในเอเชีย</h4>
                    <!-- <h2 class="clr-primary"><span>to provide a quality and just<br> continuum of care for older
                            adults,<br> to enhance their health, wellbeing<br> and fulfill their purpose in life.</span>
                    </h2> -->
                    <h2 v-if="locale == 'en'" class="clr-primary"><span>to provide the best care possible for older adults, to enhance their health, wellbeing <br class="d-lg-block d-none">and fulfil their purpose in life with dignity.</span></h2>
                    <h2 v-else class="clr-primary"><span>พร้อมมอบการดูแลที่ดีที่สุดสำหรับผู้สูงวัย <br class="d-lg-block d-none">เพื่อเสริมสร้างสุขภาพ พัฒนาคุณภาพชีวิต <br class="d-lg-block d-none">และทำให้ทุกท่านดำเนินชีวิตอย่างมีคุณค่าและศักดิ์ศรี</span></h2>

                </div>
                <div class="fw">
                    <div class="row g-2 gx-md-2">
                        <div class="col-6 col-lg-3" v-for="(item, index) in images2" :key="index">
                            <img class="fw" :src="item.img" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="st st-content aspen-partnership fw pd pt-0">
        <div class="container">
            <div class="aspen-content text-center text-uppercase mb-lg-5 mb-4">
                <h3 class="clr-secondary">Partnership</h3>
            </div>
            <div class="aspen-partnership-list">
                <div class="aspen-partnership-item" v-for="(item, index) in partner" :key="index">
                    <img class="fw" :src="item.img" alt="">
                </div>
            </div>
        </div>
    </section>
    <InfoContact/>
</template>


<style lang="scss" scoped>

.ele-health-brain-1{
    left: 0;
    top: 0;
    width: 250px;
    z-index: -1;
    pointer-events: none;
}
.ele-health-brain-2{
    right: 0;
    top: 0;
    width: 250px;
    z-index: -1;
    pointer-events: none;
}

.logo-baycrest{width: 270px;}
.aspen-health-brain-center{border-bottom: 16px solid #B8A272;}

.aspen-health-brain-cont {
    overflow: visible;
    position: relative;
    z-index: 3;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 20%, rgba(237,232,228,1) 42%, rgba(237,232,228,1) 100%);
}
.aspen-hl-health-brain {
    width: 70%;
    display: flex;
    justify-content: space-between;
    background-color: #B8A272;
    padding:1.563vw 3.646vw;
    margin: -70px auto 0;
    align-items: center;
    color: #fff;
    gap: 7.188vw;
   position: relative;
}
.aspen-hl-health-brain:before {
    content: "";
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    width: 1px;
    height: calc(100% - 60px);
    background-color: #fff;
}

.aspen-hl-inner{display: flex;align-items: center; gap: 20px;width: 50%;justify-content: center;text-transform: uppercase;position: relative;}
.aspen-hl-inner .unit{
    font-size: 4.167vw;
    width: auto;
    float: left;
    line-height: 0.2;
    position: relative;
    top: -10px;
}



.aspen-hl-overyear.aspen-content{
    display: flex;
    align-items: center;
    width: 80%;
    background-color: #FFFFFF;
    margin: 0 auto;
    float: none;
    justify-content: center;
    gap: 15px;
    color: #983C1D;
    text-transform: uppercase;
    border-radius: 35px 0 35px 0;
    padding: 0.781vw 2.083vw;
}
.aspen-hl-overyear .aspen-hl-overyear-inner{
    display: flex;
    align-items: center;
    gap: 15px;
}
.aspen-our-partner-cont{position: relative;}
.aspen-our-partner-cont::before{content: "";position: absolute;width: 100vw;height: 130%;left: calc(50% - 50vw);top: -30%;background-color: #fff;z-index: -1;}
.aspen-hl-overyear.aspen-content .text-large{line-height: .5;position: relative;top: -10px;}
.aspen-our-partner-hl {
    width: calc(100% - ((var(--bs-gutter-x) * 0.5) * 2));
    margin-top: 0;
    padding: 1.823vw 3.046vw 50px;
    background-color: #B8A272;
    color: #fff;
    position: absolute;
    bottom: 0;
    left: calc(var(--bs-gutter-x) * 0.5);
}
.aspen-our-partner > picture > img{
    position: relative;
}
.aspen-our-mission .container .bg-grav{position: relative;}
.aspen-our-mission .container .bg-grav::before{
    content: "";
    width: 110%;
    height: 80%;
    top: 0;
    left: -5%;
    position: absolute;
    border-radius: 10px;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(237,232,228,1) 42%, rgba(237,232,228,1) 100%);
    z-index: -1;
}
// .bg-grav > .fw{
//     width: 110%;
//     position: relative;
//     left: -5%;
// }

.aspen-partnership-list{width: 100%;display: flex;flex-wrap: wrap;align-content: center;gap: 48px;justify-content: center;}
.aspen-partnership-list .aspen-partnership-item{height: 73px;width: auto;display: flex;align-items: center;justify-content: center;}
.aspen-partnership-list .aspen-partnership-item img{max-height: 73px;object-fit: contain;object-position: center center;}
.aspen-our-partner-p{padding: 50px 15px;}
@media (max-width: 1439.98px){

}
@media (max-width: 1199.98px){
    .aspen-our-partner-p{padding:50px 2.646vw;}
}
@media (max-width: 991.98px){
    .aspen-hl-inner .unit{font-size: 7.073vw;}
    .aspen-hl-overyear.aspen-content .text-large{
        top: -5px;
    }

    .aspen-our-partner-p{padding:50px 0.646vw;}
    .aspen-our-partner-hl{width: 100%;left: 0;}
    .aspen-hl-health-brain{width: 100%;}
}

@media (max-width: 767.98px){
    .aspen-hl-health-brain{
        width: 100%;
        gap: 5.188vw;
        padding: 2.563vw 3.646vw;
    }
    .aspen-hl-overyear.aspen-content{
        flex-direction: column;
        padding: 20px;
        width: 100%;
        text-align: center;

    }
   
    .aspen-hl-health-brain:before{
        top: 20px;
        height: calc(100% - 40px);
    }
    .aspen-our-partner-hl{
        position: relative;
        padding: 30px;
    }
  
.ele-health-brain-1{
    width: 20%;
}
.ele-health-brain-2{
    width: 40%;
}
.aspen-health-brain-center{border-bottom: 6px solid #B8A272;}
}
@media (max-width: 575.98px){
    .aspen-hl-inner .unit{font-size: 12.073vw;}
    .aspen-hl-overyear.aspen-content .text-large{
        font-size:14.37vw ;
    }
    .aspen-our-partner-hl{
        padding:  30px;
    }

    .aspen-hl-health-brain{flex-direction: column;}
    .aspen-hl-inner{width: 100%;}
    .aspen-hl-health-brain:before{
        height: 1px;
        width: 100%;
        left: 0;
        top: calc(50% + (5.188vw / 2) );
        transform: translateY(-50%);
    }
    .aspen-our-partner {
        width: 100vw;
        left: calc(50% - 50vw);
        position: relative;
    }
        .aspen-our-partner-p {
        padding: 30px;
    }

    .aspen-partnership-list{
        gap: 25px;
    }
    .aspen-partnership-list .aspen-partnership-item{height: 52px;}
    .aspen-partnership-list .aspen-partnership-item img{
        max-height: 52px;
    }

   
}
</style>