<script lang="ts" setup>
import { gsap , TweenMax } from "gsap";
import { Navigation, Pagination, Scrollbar, A11y } from 'swiper/modules';
import { Swiper, SwiperSlide } from 'swiper/vue';
import 'swiper/css';
import 'swiper/css/navigation';
import 'swiper/css/pagination';

const onSwiper = (swiper) => {
};
const onSlideChange = () => {
};

const heroBanner = ref(null);
const boxImg = ref(null);
const innerContain = ref(null);
onMounted(() => {
    TweenMax.fromTo(boxImg.value, 1, {opacity: 0}, {opacity: 1,});
    TweenMax.fromTo(boxImg.value, 1.6, {opacity: 0, scale:1.2}, {opacity: 1, scale:1 , delay: .5});
    TweenMax.fromTo(innerContain.value, 1.6, {opacity: 0, y: 100}, {opacity: 1, y: 0, delay: 1});
});



const props = defineProps<{
  dataCont: string;
}>();


const config = useRuntimeConfig()
const uploadPath = (path) => {
    return `${config.public.assetBaseUrl}${path}`
}

</script>
<template>
    <section class="st st-banner st-home-banner " ref="heroBanner" v-if="props.dataCont">
        <swiper :slides-per-view="1" :space-between="0" navigation :pagination="{ clickable: true }"
            :modules="[Navigation, Pagination]" @swiper="onSwiper" @slideChange="onSlideChange">
            <swiper-slide class="bg-fullwidth">
                <div class="box-img" >
                    <picture class="fw" ref="boxImg">
                        <source v-if="props.dataCont.Image && props.dataCont.Image.Image_mobile" media="(max-width:767px)" :srcset="uploadPath(props.dataCont.Image.Image_mobile.filename_disk)">
                        <img v-if="props.dataCont.Image && props.dataCont.Image.Image_desktop" class="fw" :src="uploadPath(props.dataCont.Image.Image_desktop.filename_disk)" alt="">
                    </picture>
                </div>
                <div class="container">
                    <div class="fw position-relative" ref="innerContain">
                        <div class="contain">
                            <div class="inner-contain"  >
                                <div v-if="props.dataCont.Content" class="aspen-content" v-html="props.dataCont.Content"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </swiper-slide>
        </swiper>
    </section>
</template>

<style lang="scss" scoped>
.st-banner {
    position: relative;

    .swiper {
        overflow: visible;

        .swiper-wrapper {
            overflow: visible;
            .swiper-slide{
                overflow: hidden;
            }
        }

        .swiper-button {
            width: 40px;
            transition: all ease .4s;

            &:hover::before {
                width: 100%;
            }

            &:after {
                font-size: 20px;
                color: #fff;
                z-index: 9;
            }

            /* &:hover::after {
                color: #ED1C2F;;
            } */
        }

        .box-img {
            width: 100%;
            height: 100%;
            overflow: hidden;

            img {
                width: 100%;
                float: left;
                height: auto;
                object-fit: cover;
                object-position: center center;
            }
        }

        .contain {
            position: absolute;
            z-index: 4;
            right: 0;
            bottom: 9px;
            width: auto;
            height: auto;
            background: #AF9866;
            // padding: 50px 80px 50px 50px;
            padding: clamp(1.875rem, 1.4349rem + 1.4085vw, 3.125rem);
            color: #fff;
            letter-spacing: 3px;
            text-transform: uppercase;

            .aspen-content {
                h2 {
                    font-size: 3em;
                }
            }

            .btn>span {
                padding: .8em 2em;
            }
        }

        .swiper-slide {
            position: relative;

            &:before {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 10px;
                z-index: 2;
                background: #B8A272;
            }
        }

    }
}



@media (max-width: 1199.98px) {
    // .st-banner .swiper .box-img img{min-height: 600px;}
    .st-home-banner .inner-contain .aspen-content h1,.st-home-banner .inner-contain  .aspen-content .h1{
        --font-size-h1:clamp(1.5rem, 1.2579rem + 0.7746vw, 2.1875rem);
    }

    .st-banner .swiper .contain{padding: 20px 30px;}
}

@media (max-width: 991.98px) {
    .st-home-banner .inner-contain .aspen-content h1,.st-home-banner .inner-contain  .aspen-content .h1{
        --font-size-h1:clamp(1.25rem, 1.162rem + 0.2817vw, 1.5rem);
    }
}

@media (max-width: 767.98px) {
    .st-banner .swiper .box-img img {
        min-height: auto;
    }

    .st-banner .swiper .box-img {
        height: auto;
    }

    .st-banner .swiper .contain {
        padding: 30px 15px;
        position: relative;
        top: 0;
        bottom: auto;
        width: 100%;
        float: left;
    }

    .st-home-banner {
        background-color: #AF9866;
    }
  
    .st-home-banner .inner-contain .aspen-content h1,.st-home-banner .inner-contain  .aspen-content .h1{
        --font-size-h1: clamp(2.1875rem, 2.0775rem + 0.3521vw, 2.5rem);
    }
   
    .st-banner .swiper .swiper-slide:before{
        display: none;
    }
   
}

@media (max-width: 575.98px) {
    .st-banner .swiper .contain {
        padding: 30px 0;
    }
}
</style>