<script setup lang="ts">
import {
  Navigation,
  Pagination,
  A11y,
  Thumbs,
  EffectFade,
} from "swiper/modules";
import { Swiper, SwiperSlide } from "swiper/vue";
import "swiper/css";
import "swiper/css/effect-fade";
import "swiper/css/navigation";
import "swiper/css/pagination";
import "swiper/css/thumbs";
// Define Swiper modules
const modules = [Navigation, Pagination, A11y, Thumbs, EffectFade];

// Define thumbsSwiper reference
const thumbsSwiper = ref<Swiper | null>(null);
const mainSlide = ref<Swiper | null>(null);

// Function to set thumbsSwiper
const setThumbsSwiper = (swiper: Swiper) => {
  thumbsSwiper.value = swiper;
};

const { locale, locales, setLocale } = useI18n();
const { t } = useI18n({
  useScope: "local",
});

// Define images array

const images: {
  img: string;
  img_m: string;
  title: string;
  prefix: string;
  desc: string;
  type: string;
}[] = [
  {
    img: "/image/home/list-banner-0-d.mp4",
    img_m: "/image/home/list-banner-0-m.mp4",
    title:
      locale.value == "en"
        ? `Community & Connection<br> for all generations`
        : `Community<br>ที่เชื่อมโยงและตอบโจทย์คนทุกวัย`,
    prefix: "A New Model for ",
    desc:
      locale.value == "en"
        ? `A special place that stimulates and inspires<br class="d-xl-block d-none"> discovery, exploration, learning and connection for<br class="d-xl-block d-none"> the individual and community.`
        : 'สถานที่สร้างแรงบันดาลใจให้เกิดการเรียนรู้ <br class="d-xl-block d-none">การค้นพบ และการสานสัมพันธ์',
    type: "video",
  },
  {
    img: "/image/home/list-banner-2-d.mp4",
    img_m: "/image/home/list-banner-2-m.mp4",
    title: locale.value == "en" ? "An environment" : "สภาพแวดล้อม",
    prefix: "A New Model for ",
    desc:
      locale.value == "en"
        ? 'Dedicated facilities and thoughtfully designed features<br class="d-xl-block d-none"> that enable seniors to make the most of their experiences <br class="d-xl-block d-none">and day to day life within a safe, nurturing environment.'
        : 'มาสัมผัสประสบการณ์ใหม่แห่งความสงบและความผ่อนคลาย ที่ ดิ แอสเพน ทรี <br class="d-xl-block d-none">ด้วยสิ่งอำนวยความ สะดวกและรายละเอียดการออกแบบที่พิถีพิถัน <br class="d-xl-block d-none">เพื่อให้ผู้สูงวัยได้สัมผัสประสบการณ์และใช้ชีวิตในแต่ละวันได้อย่างเต็มที่ <br class="d-xl-block d-none">ท่ามกลางสภาพแวดล้อมที่ปลอดภัยและบรรยากาศอันอบอุ่น',
    type: "video",
  },
  {
    img: "/image/home/list-banner-3-d.mp4",
    img_m: "/image/home/list-banner-3-m.mp4",
    title:
      locale.value == "en"
        ? "Dedicated Care <br>for Older Adults"
        : "การดูแลที่ถูกออกแบบ<br>มาเป็นพิเศษเพื่อผู้สูงวัย",
    prefix: "A New Model of",
    desc:
      locale.value == "en"
        ? `Where wellness programs and health clinics provide a<br class="d-xl-block d-none"> seamless experience to prevent and manage <br class="d-xl-block d-none">age-related conditions at the Aspen Tree.`
        : 'คลินิกและโปรแกรมส่งเสริมสุขภาพ ที่ ดิ แอสเพน ทรี <br class="d-xl-block d-none">มอบบริการดูแลสุขภาพแบบองค์รวม <br class="d-xl-block d-none">พร้อมนำเสนอบริการที่ครอบคลุมทั้งด้านการป้องกัน<br class="d-xl-block d-none"> และการดูแลจัดการกับภาวะสุขภาพที่เปลี่ยนแปลงตามวัย <br class="d-xl-block d-none">โดยโปรแกรมสุขภาพของเราถูกออกแบบมาเป็นพิเศษให้เหมาะสมกับผู้สูงวัย',
    type: "video",
  },
  {
    img: "/image/home/list-banner-1-d.mp4",
    img_m: "/image/home/list-banner-1-m.mp4",
    title:
      locale.value == "en"
        ? "Live with purpose to thrive & <br>fulfil aspirations"
        : "ดำเนินชีวิตอย่างมีจุดมุ่งหมาย <br>บรรลุทุกความใฝ่ฝัน",
    prefix: "A New Place to",
    desc:
      locale.value == "en"
        ? `To relax, rejuvenate, reflect on newfound purpose in life<br class="d-xl-block d-none"> within XXXXX surroundings specifically designed for<br class="d-xl-block d-none"> seniors in this new chapter of life`
        : 'เปิดประสบการณ์ใหม่แห่งการพักผ่อนอย่างแท้จริง <br class="d-xl-block d-none">ภายในโครงการ ดิ แอสเพน ทรี ที่ออกแบบมา โดยเฉพาะเพื่อเติมพลังชีวิตให้ผู้สูงวัย<br class="d-xl-block d-none"> ด้วยบรรยากาศผ่อนคลายและโอกาสในการค้นพบจุดมุ่งหมาย ใหม่ๆ ของชีวิต',
    type: "video",
  },
];

// Define images array
const images2: { img: string; title: string; prefix: string }[] = [
  {
    img: "/image/home/item-thumb-0.jpg",
    title:
      locale.value == "en"
        ? `Community & Connection<br> for all generations`
        : `Community<br>ที่เชื่อมโยงและตอบโจทย์คนทุกวัย`,
    // title: `Community & Connection for all generations`,
    prefix: "A New Model for ",
  },
  {
    img: "/image/home/item-thumb-2.jpg",
    // title: 'LIVING FOR <br>SENIORS',
    title: locale.value == "en" ? "An environment" : "สภาพแวดล้อม",
    prefix: "A New Model for ",
  },
  {
    img: "/image/home/item-thumb-3.jpg",
    // title: 'DEDICATED for CARE senior',
    title:
      locale.value == "en"
        ? "Dedicated Care <br>for Older Adults"
        : "การดูแลที่ถูกออกแบบ<br>มาเป็นพิเศษเพื่อผู้สูงวัย",
    prefix: "A New Model for ",
  },
  {
    img: "/image/home/item-thumb-1.jpg",
    title:
      locale.value == "en"
        ? "Live with purpose to thrive & <br>fulfil aspirations"
        : "ดำเนินชีวิตอย่างมีจุดมุ่งหมาย <br>บรรลุทุกความใฝ่ฝัน",
    prefix: "A New Model for ",
  },
];

const swiperIndex = ref(0);
// Function to handle slide change in main swiper
const onSlideChange = (swiper) => {
  swiperIndex.value = swiper.activeIndex;
};

// Function to handle slide change in thumbs swiper
const onSlideChange2 = () => {
  // if (thumbsSwiper.value) {
  //     thumbsSwiper.value.slideNext();
  // }
};

let mySwiper: Swiper | null = null;

// Function to synchronize mySwiper2 with mySwiper
const syncThumbs = () => {
  if (thumbsSwiper.value && mySwiper) {
    const activeIndex = mySwiper.activeIndex;
    if (activeIndex !== thumbsSwiper.value.activeIndex) {
      thumbsSwiper.value.slideTo(activeIndex);
    }
  }
};

onMounted(() => {
  // Set mySwiper instance
  mySwiper = thumbsSwiper.value;

  // Sync thumbsSwiper with mySwiper whenever mySwiper slides change
  if (mySwiper) {
    mySwiper.on("slideChange", syncThumbs);
  }

  function addPrevButtonListener() {
    const prevButtons = document.querySelectorAll(".swiper-button-prev");
    prevButtons.forEach((button) => {
      button.addEventListener("click", () => {
        if (mySwiper) {
          mySwiper.slidePrev();
        }
      });
    });
  }

  // Function to add event listener for "next" button
  function addNextButtonListener() {
    const nextButtons = document.querySelectorAll(".swiper-button-next");
    nextButtons.forEach((button) => {
      button.addEventListener("click", () => {
        if (mySwiper) {
          mySwiper.slideNext();
        }
      });
    });
  }

  // Check if any elements are returned by querySelectorAll
  const prevButtons = document.querySelectorAll(".swiper-button-prev");
  const nextButtons = document.querySelectorAll(".swiper-button-next");

  // Check if event listeners are already attached before adding them
  if (prevButtons.length > 0) {
    addPrevButtonListener();
  }

  if (nextButtons.length > 0) {
    addNextButtonListener();
  }
});
function handleSlideClick() {
  mySwiper.slideNext();
}

const props = defineProps<{
  dataCont: string;
}>();
console.log(props);

const config = useRuntimeConfig();
const uploadPath = (path) => {
  return `${config.public.assetBaseUrl}${path}`;
};
</script>

<template>
  <section class="st fw swiper-flip">
    <!-- Main Swiper with thumbs navigation -->
    <swiper
      @slideChange="onSlideChange"
      :swiper="mainSlide"
      :effect="'fade'"
      :loop="true"
      :spaceBetween="0"
      :navigation="{
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      }"
      :thumbs="{ swiper: thumbsSwiper }"
      :modules="modules"
      class="mySwiper2"
    >
      <swiper-slide v-for="(item, index) in props.dataCont" :key="index">
        <!-- <picture v-if="item.type == 'img'">
          <source media="(max-width:767px)" :srcset="item.Thumbnail.image.filename_disk" />
          <img :src="item.img" alt="" />
        </picture> -->
        <video
          controls="false"
          playsinline
          loop
          muted
          autoplay
          class="fw"
          style="pointer-events: none"
          v-if="item.Background_Video"
        >
          <source
            media="(max-width:767px)"
            :src="uploadPath(item.Background_Video.video_desktop.filename_disk)"
            type="video/mp4"
          />
          <source :src="uploadPath(item.Background_Video.video_desktop.filename_disk)" type="video/mp4" />
        </video>
        <div class="flip-cont">
          <div class="flip-cont-item flip-cont-item-1">
            <div class="aspen-content text-start text-white" v-if="item.Content" v-html="item.Content">
            </div>
            <div class="box-group-navigate">
              <div class="swiper-button-prev">
                <img
                  class="svg"
                  src="/assets/image/skin/icon-arrow-slide-l.svg"
                  alt=""
                />
              </div>
              <div class="swiper-button-next">
                <img
                  class="svg"
                  src="/assets/image/skin/icon-arrow-slide-r.svg"
                  alt=""
                />
              </div>
            </div>
          </div>
        </div>
      </swiper-slide>
    </swiper>

    <!-- Thumbs Swiper -->
    <div class="box-swiper-bt-cont">
      <div class="box-group-navigate">
        <div class="swiper-button-prev">
          <img
            class="svg"
            src="/assets/image/skin/icon-arrow-slide-l.svg"
            alt=""
          />
        </div>
        <div class="swiper-button-next">
          <img
            class="svg"
            src="/assets/image/skin/icon-arrow-slide-r.svg"
            alt=""
          />
        </div>
      </div>
      <div class="fw">
        <swiper
          @swiper="setThumbsSwiper"
          @slideChange="onSlideChange2"
          @click="handleSlideClick"
          :spaceBetween="17"
          :slidesPerView="2.8"
          :loop="true"
          :shortSwipes="false"
          :breakpoints="{
            '640': {
              slidesPerView: 2,
              spaceBetween: 20,
            },
            '767': {
              slidesPerView: 2.5,
              spaceBetween: 10,
            },
            '1199': {
              slidesPerView: 2.8,
              spaceBetween: 17,
            },
            '1439': {
              slidesPerView: 2.8,
              spaceBetween: 17,
            },
          }"
          :freeMode="true"
          :watchSlidesProgress="true"
          :modules="modules"
          class="mySwiper swiper-bt"
        >
          <swiper-slide  v-for="(item, index) in props.dataCont" :key="index">
            <div class="thumb thumb-oncard">
              <div class="thumb-img">
                <img v-if="item.Thumbnail" :src="uploadPath(item.Thumbnail.image.filename_disk)" />
              </div>
              <div class="thumb-body">
                <!-- <div class="thumb-prefix vw-h5 t-md text-uppercase">{{ item.prefix }}</div> -->
                <div
                  class="thumb-h vw-h4 t-md text-uppercase f-big-caslon"
                  v-html="item.Content"
                ></div>
              </div>
            </div>
          </swiper-slide>
        </swiper>
      </div>
    </div>
  </section>
</template>

<style lang="scss">
@media (min-width: 767.98px) {
  .flip-cont .aspen-content h2 {
    font-size: 2vw;
  }
}

.mySwiper2 .box-group-navigate {
  display: none;
}
.box-swiper-bt-cont {
  position: absolute;
  width: 50%;
  top: 58%;
  left: 50%;
  z-index: 3;
}

.box-swiper-bt-cont > .box-group-navigate {
  margin-bottom: 30px;
}
.swiper-flip {
  margin-bottom: 8vw;
  .swiper .swiper-slide picture {
    width: 100%;
    float: left;
    img {
      width: 100%;
      float: left;
      border-bottom: 5px solid #645247;
    }
  }
}
// .flip-cont{width: 100%;float: left;padding-bottom: 100px;position: relative;}
.flip-cont {
  position: absolute;
  padding-right: 40px;
  width: 50%;
  float: left;
  right: 0;
  top: 20%;
}

.box-swiper-bt-cont .thumb-oncard {
  cursor: pointer;
}
.box-swiper-bt-cont .thumb-oncard .thumb-body {
  padding: 1.042vw;
}
.box-swiper-bt-cont .thumb-oncard .thumb-body .thumb-prefix {
  font-size: 12px;
}

.box-swiper-bt-cont .thumb-oncard:hover .thumb-img img {
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -webkit-mask-image: -webkit-radial-gradient(white, black);
}
.box-swiper-bt-cont .thumb-oncard:hover .thumb-img img {
  transform: scale(1.1);
}

.box-swiper-bt-cont .thumb-oncard .thumb-body .thumb-h {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.box-swiper-bt-cont .thumb.thumb-oncard .thumb-img::before {
  background: linear-gradient(180deg, rgba(91, 74, 66, 0) 0%, #5b4a42 100%);
}

@media (max-width: 1199.98px) {
  .flip-cont {
    top: 30px;
  }
  .box-swiper-bt-cont .thumb-oncard .thumb-body .thumb-h.h5 {
    font-size: 14px;
  }
  .box-swiper-bt-cont .thumb-oncard .thumb-body .thumb-prefix {
    font-size: 11px;
  }
  .box-swiper-bt-cont {
    top: 55%;
  }

  .swiper-flip {
    margin-bottom: 13vw;
  }
}

@media (max-width: 991.98px) {
  .box-swiper-bt-cont {
    top: 51%;
  }
  .thumb-oncard .thumb-body {
    padding: 10px;
  }

  // .thumb-oncard .thumb-body .thumb-h {
  // 	font-size: 14px;
  // }
  .box-swiper-bt-cont .thumb-oncard .thumb-body .thumb-prefix {
    font-size: 10px;
  }
  .swiper-flip {
    margin-bottom: 12vw;
  }
}

@media (max-width: 767.98px) {
  .flip-cont {
    position: relative;
    width: 100%;
    top: 0;
    padding: 50px 40px;
    background-color: #5b4a42;
  }
  .box-swiper-bt-cont {
    display: none;
  }
  .swiper-flip {
    margin-bottom: 0;
  }
  .swiper-flip .swiper .swiper-slide picture img {
    border-bottom: 0;
  }
  .swiper-flip .box-group-navigate {
    position: absolute;
    top: -20px;
    margin: 0;
  }
  .flip-cont-item > .aspen-content {
    min-height: auto;
  }
  .flip-cont-item .aspen-content > * {
    filter: none;
  }

  .swiper-flip .swiper .swiper-slide {
    background-color: #5b4a42;
  }

  .mySwiper2 .box-group-navigate {
    display: flex;
  }
  .mySwiper2 .box-group-navigate > .swiper-button-prev,
  .mySwiper2 .box-group-navigate > .swiper-button-next {
    width: 40px;
    height: 40px;
  }
}
@media (max-width: 575.98px) {
  .swiper-flip .box-group-navigate {
    top: -22px;
  }
  .box-group-navigate > .swiper-button-prev,
  .box-group-navigate > .swiper-button-next {
    width: 45px;
    height: 45px;
  }
  .flip-cont {
    padding: 50px 30px;
  }
}
</style>
