<script lang="ts" setup>
import { gsap , TweenMax } from "gsap";
import { Navigation, Pagination, Scrollbar, A11y,Autoplay } from 'swiper/modules';
import { Swiper, SwiperSlide } from 'swiper/vue';
import 'swiper/css';
import 'swiper/css/navigation';
import 'swiper/css/pagination';

const onSwiper = (swiper) => {
};
const onSlideChange = () => {
};

const { locale, locales,setLocale } = useI18n()
const { t } = useI18n({
  useScope: 'local'
})
onMounted(() => {
   
});


</script>
<template>
    <section class="section st-cont-slide fw">
        <div class="container-fluid">
            <div class="fw pd">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-12 col-md-6 col-lg-5 col-xl-5 ">
                            <div class="aspen-content pd pt-0 pb-3 mb-md-0 mb-3">
                                <h1 v-if="locale == 'en'" class="text-uppercase clr-primary h-100">Compassionate<br class="d-block"> & qualified <br class="d-block">Care Angels</h1>
                                <h1 v-else class="text-uppercase clr-primary h-100">การตรวจประเมิน<span style="display: inline-block;">สุขภาพ</span> <br class="d-lg-block d-none"> แบบองค์รวม<span style="display: inline-block;">สำหรับ</span><br class="d-lg-block d-none"> ผู้สูงวัย (AHA)</h1>
                               
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-5 col-xl-5">
                            <div class="aspen-content">
                                <p v-if="locale == 'en'"  class="f-mon t-md">Aspen Health Assessment (AHA) builds upon the intensive multidisciplinary Comprehensive Geriatric Assessment
                                specifically catered for seniors, providing in-depth insights and analysis through multidimensional diagnostic program to give
                                an accurate picture of the patient’s health condition and signs
                                of geriatric syndrome.</p>
                                <p v-else  class="f-mon t-md">Aspen Health Assessment (AHA) คือการตรวจประเมินสุขภาพแบบองค์รวมสำหรับผู้สูงวัย โดยถูก
                                    พัฒนาบนหลักการ Comprehensive Geriatric Assessment และผสานความเชี่ยวชาญหลากหลาย
                                    สาขาวิชา โดย Aspen Health Assessment (AHA) มีขั้นตอนการเก็บข้อมูลด้านสุขภาพและวิเคราะห์ใน
                                    มุมมองหลายมิติ เพื่อให้ได้ข้อมูลของผู้รับบริการที่แม่นยำ ไม่ว่าจะเป็นด้านสภาวะร่างกายในปัจจุบัน
                                    รวมถึงสัญญาณบ่งชี้ปัญหาสุขภาพที่อาจเกิดขึ้นตามวัย</p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-slide-haft pd pt-0">
               <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-12 col-md-10">
                            <div class="box-group-navigate">
                                <div class="swiper-button-prev"><img class="svg" src="/assets/image/skin/icon-arrow-slide-l.svg" alt=""></div>
                                <div class="swiper-button-next"><img class="svg" src="/assets/image/skin/icon-arrow-slide-r.svg" alt=""></div>
                            </div>
                        </div>
                    </div>
               </div>
                <swiper :slides-per-view="1.2" 
                        :centeredSlides="true"
                        :space-between="0"  
                        :loop="true"
                        :autoplay="{
                            delay: 2500,
                            disableOnInteraction: false,
                        }"
                        :speed="1200"
                        :navigation="{ nextEl: '.box-slide-haft .box-group-navigate .swiper-button-next', prevEl: '.box-slide-haft .box-group-navigate .swiper-button-prev'}"
                        :breakpoints="{
                            '767': {
                                slidesPerView: 1.8,
                                spaceBetween: 0,
                            },
                        }"
                        :modules="[Navigation , Autoplay]" @swiper="onSwiper" @slideChange="onSlideChange">
                        <swiper-slide>
                            <div class="box-img" >
                                <picture class="fw" ref="boxImg">
                                    <img class="fw" src="/image/clinics/thumb-clinics-1.jpg" alt="">
                                </picture>
                            </div>
                        </swiper-slide>
                        <swiper-slide>
                            <div class="box-img" >
                                <picture class="fw" ref="boxImg">
                                    <img class="fw" src="/image/clinics/thumb-clinics-3.jpg" alt="">
                                </picture>
                            </div>
                        </swiper-slide>
                        <swiper-slide>
                            <div class="box-img" >
                                <picture class="fw" ref="boxImg">
                                    <img class="fw" src="/image/clinics/thumb-clinics-2.jpg" alt="">
                                </picture>
                            </div>
                        </swiper-slide>
                        <swiper-slide>
                            <div class="box-img" >
                                <picture class="fw" ref="boxImg">
                                    <img class="fw" src="/image/clinics/thumb-clinics-1.jpg" alt="">
                                </picture>
                            </div>
                        </swiper-slide>
                        <swiper-slide>
                            <div class="box-img" >
                                <picture class="fw" ref="boxImg">
                                    <img class="fw" src="/image/clinics/thumb-clinics-3.jpg" alt="">
                                </picture>
                            </div>
                        </swiper-slide>
                        <swiper-slide>
                            <div class="box-img" >
                                <picture class="fw" ref="boxImg">
                                    <img class="fw" src="/image/clinics/thumb-clinics-2.jpg" alt="">
                                </picture>
                            </div>
                        </swiper-slide>
                    </swiper>
            </div>
        </div>
    </section>


</template>

<style lang="scss" scoped>

@media (max-width: 1199.98px) {
}

@media (max-width: 767.98px) {
    
}
</style>