<script setup lang="ts">
const { locale, locales,setLocale } = useI18n()
const { t } = useI18n({
  useScope: 'local'
})

</script>
<template>
    <section class="section aspen-info-contact">
        <div class="container">
            <div class="inner-contact ">
                <div class="aspen-content pd-30">
                    <h4 v-if="locale == 'en'" class="text-uppercase">For more information <span style="display: inline-block;">please contact</span></h4>
                    <h4 v-else class="text-uppercase">สำหรับข้อมูลเพิ่มเติม <span style="display: inline-block;">กรุณาติดต่อหมายเลข</span></h4>
                 
                    <a href="tel:+028595995" class="btn btn-outline-light rounded-0 text-start btn-icon text-uppercase"><span  class="justify-content-between"><span>โทร : <span class="f-mon t-md">02-859-5995</span></span><img class="svg"  src="/assets/image/skin/icon-arrow-r.svg" alt=""></span></a>
                </div>
            </div>
        </div>
    </section>
</template>
<style scoped>
.aspen-info-contact{
    background: rgb(191,30,46);
    background: linear-gradient(128deg, rgba(191,30,46,1) 48%, rgba(230,100,95,1) 100%);
}
.inner-contact{text-align: center;}
.inner-contact .aspen-content{display: flex;align-items: center;justify-content: center;color: #fff; gap: 20px;}
.aspen-info-contact .btn > span{padding:.8em 2em;min-width: 240px;}
@media (max-width: 767.98px){
    .inner-contact .aspen-content {
        flex-direction: column;
    }
}
</style>