<script lang="ts" setup>
import { gsap , TweenMax } from "gsap";
import { Navigation, Pagination, Autoplay, A11y } from 'swiper/modules';
import { Swiper, SwiperSlide } from 'swiper/vue';
import 'swiper/css';
import 'swiper/css/navigation';
import 'swiper/css/pagination';

const onSwiper = (swiper) => {
};
const onSlideChange = () => {
};

const slide3 = ref();
onMounted(() => {
    setTimeout(() => {
        TweenMax.fromTo(slide3.value, 1.5, {opacity: 0, y:100}, {opacity: 1,  y:0 , delay: .8});
    }, 500);
});


</script>
<template>
    <section class="section fw pd" ref="slide3">
        <div class="container-fluid">
            <swiper class="overflow-visible"
                :slides-per-view="1.2" 
                :space-between="18"  
                :loop="true"
                :autoplay="{
                    delay: 2500,
                    disableOnInteraction: false,
                }"
                :speed="1200"
                :breakpoints="{
                    '767': {
                        slidesPerView: 3.4,
                        spaceBetween: 18,
                    },
                }"
                :modules="[Navigation,Autoplay]" @swiper="onSwiper" @slideChange="onSlideChange">
                <swiper-slide>
                    <div class="box-img" >
                        <picture class="fw" ref="boxImg">
                            <img class="fw" src="/image/service/thumb-services-1.jpg" alt="">
                        </picture>
                    </div>
                </swiper-slide>
                <swiper-slide>
                    <div class="box-img" >
                        <picture class="fw" ref="boxImg">
                            <img class="fw" src="/image/service/thumb-services-2.jpg" alt="">
                        </picture>
                    </div>
                </swiper-slide>
                <swiper-slide>
                    <div class="box-img" >
                        <picture class="fw" ref="boxImg">
                            <img class="fw" src="/image/service/thumb-services-3.jpg" alt="">
                        </picture>
                    </div>
                </swiper-slide>
                <swiper-slide>
                    <div class="box-img" >
                        <picture class="fw" ref="boxImg">
                            <img class="fw" src="/image/service/thumb-services-4.jpg" alt="">
                        </picture>
                    </div>
                </swiper-slide>
                <swiper-slide>
                    <div class="box-img" >
                        <picture class="fw" ref="boxImg">
                            <img class="fw" src="/image/service/thumb-services-5.jpg" alt="">
                        </picture>
                    </div>
                </swiper-slide>
            </swiper>
        </div>
    </section>


</template>

<style lang="scss" scoped>

@media (max-width: 1199.98px) {
}

@media (max-width: 767.98px) {
    
}
</style>