<template>
    <NuxtLayout>
        <div class="error-page ">
            <img class="abs ele-error-1" src="/public/image/health-brain/ele-health-brain-1.png" alt="">
            <img class="abs ele-error-2" src="/public/image/health-brain/ele-health-brain-2.png" alt="">
          <div class="aspen-content text-center">
                <h1 class="text-large mb-2 t-md clr-primary">{{ error.statusCode }}</h1>
                <h2 class=" f-mon  mb-3 clr-primary" v-if="error.statusCode === 404">Page not found</h2>
                <h2 class="text-uppercase mb-3"  v-else>An error occurred - {{ error.statusCode }}</h2>
                <NuxtLink class="btn btn-clr-primary rounded-pill f-mon t-md" to="/"><span>Home page</span></NuxtLink>
          </div>
        </div>
    </NuxtLayout>
</template>

<script >
export default {
    props: ["error"],
    layout: "error", // you can set a custom layout for the error page
    mounted() {
        // Calculate the heights of header and footer
        const headerHeight = document.querySelector('header').offsetHeight;
        const footerHeight = document.querySelector('footer').offsetHeight;

        // Set the height of error-page container
        const errorPage = document.querySelector('.error-page');
        errorPage.style.height = `calc(${headerHeight + footerHeight}px)`;
    }
};


</script>

<style scoped>
    .error-page{
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .ele-error-1{left: 0;top: 0;}
    .ele-error-2{right: 0;top: 0;}
</style>
