<script setup lang="ts">
const localePath = useLocalePath()
import ContHaftSlide from '@/components/sections/cont-haft-slide.vue';
import InfoContact from '@/components/sections/info-contact.vue';

const { locale, locales,setLocale } = useI18n()
const { t } = useI18n({
  useScope: 'local'
})
const images2: { img: string}[] = [
    { img: '/image/health-brain/thumb-aspen-our-mission-1.jpg',},
    { img: '/image/health-brain/thumb-aspen-our-mission-2.jpg',   },
    { img: '/image/health-brain/thumb-aspen-our-mission-3.jpg',},
    { img: '/image/health-brain/thumb-aspen-our-mission-4.jpg',},
];


const partner: { img: string}[] = [
    { img: '/image/health-brain/thumb-partnership-1.png',},
    { img: '/image/health-brain/thumb-partnership-2.png',   },
    { img: '/image/health-brain/thumb-partnership-3.png',},
    { img: '/image/health-brain/thumb-partnership-4.png',},
    { img: '/image/health-brain/thumb-partnership-5.png',},
    { img: '/image/health-brain/thumb-partnership-6.png',},
];


import { gsap , TweenMax } from "gsap";
const breadcrumb = ref();
const header = ref();
const cont = ref();
const boxImg = ref();
const leaf1 = ref();
const leaf2 = ref();
onMounted(() => {
    setTimeout(() => {
        TweenMax.fromTo(breadcrumb.value, 1.5, {opacity: 0, y:-50}, {opacity: 1,  y:0 , delay: .2});
        TweenMax.fromTo(header.value.querySelector('h5'), 1.5, {opacity: 0, y:50}, {opacity: 1,  y:0 , delay: .3});
        TweenMax.fromTo(header.value.querySelector('h1'), 1.5, {opacity: 0, y:50}, {opacity: 1,  y:0 , delay: .4});
        TweenMax.fromTo(cont.value.querySelectorAll('.aspen-content'), 1.5, { opacity: 0, y: 50 }, { opacity: 1, y: 0, delay: 0.4 });
        TweenMax.fromTo(cont.value.querySelectorAll('.aspen-content > *'), 1.5, { opacity: 0, y: 50 }, { opacity: 1, y: 0, delay: 0.4 });
        TweenMax.fromTo(boxImg.value, 1.5, {opacity: 0, y:50}, {opacity: 1,  y:0 , delay: .5});

        TweenMax.fromTo(leaf1.value, 1.5, {opacity: 0, y:50 ,x:-100}, {opacity: 1,  y:0 ,x:0 , delay: .3});
        TweenMax.fromTo(leaf2.value, 1.5, {opacity: 0, y:50 ,x:100}, {opacity: 1,  y:0 ,x:0 , delay: .4});


    }, 500);
});



</script>
<template>
     <nav aria-label="breadcrumb" ref="breadcrumb">
       <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">Health & Brain Center</li>
                <li class="breadcrumb-item"><NuxtLink :to="localePath('health-brain-center/services')">Services</NuxtLink></li>
                <li class="breadcrumb-item active" aria-current="page">Clinical</li>
            </ol>
       </div>
    </nav>
    <section class="section st-content  w-100 float-left position-relative">
        <img ref="leaf1"  class="abs ele-clinics-leaf-1" src="/image/clinics/ele-clinics-leaf-1.png" alt="">
        <img  ref="leaf2"  class="abs ele-clinics-leaf-2" src="/image/clinics/ele-clinics-leaf-2.png" alt="">
        <div class="container-fluid">
            <div class="box-clr-gd-fate">
                <div class="container">
                    <div class="aspen-content text-center text-uppercase mb-4" ref="header">
                        <h5 class="clr-secondary">the aspen tree</h5>
                        <h1 v-if="locale == 'en'" class="clr-primary tosz">Clinical Services</h1>
                        <h1 v-else class="clr-primary tosz">บริการทางการแพทย์</h1>
                    </div>

                    <picture class="fw banner-over-container" ref="boxImg">
                        <source media="(max-width:767px)" srcset="/image/clinics/clinics-banner-m.jpg">
                        <img class="fw" src="/image/clinics/clinics-banner-d.jpg" alt="">
                    </picture>

                    <div class="fw pd" ref="cont">
                        <div class="aspen-content text-center hr-y">
                            <!-- <h4 class="text-uppercase outer-text-large clr-secondary">The Health & Brain Center has <span style="display: inline-block;"><span class="text-large">10</span> different clinics</span></h4> -->
                            <h4  v-if="locale == 'en'"  class="text-uppercase clr-secondary">The Health & Brain Center offers <br>a full spectrum of services to address <br>common age-related health conditions in older adults</h4>
                            <h4  v-else  class="text-uppercase clr-secondary">ที่อาคาร Health & Brain Center <br><span style="display: inline-block;">เราให้บริการเต็มรูปแบบ</span> <span style="display: inline-block;">เพื่อดูแลสุขภาพของผู้สูงวัย</span></h4>
                        </div>
                        <div class="aspen-content text-center">
                            <p v-if="locale == 'en'"  class="f-mon t-md clr-secondary">Clients can expect a seamless, holistic health and wellness experience, delivered with a personalized<br class="d-lg-block d-none">
                            touch. Comprised of a multidisciplinary team of expert physicians, specialists, therapists and Care<br class="d-lg-block d-none">
                            Angels the clinics within the Health and Brain Center is the first stop that offers primary care to assess,<br class="d-lg-block d-none">
                            prevent, treat and manage geriatric syndromes and conditions.</p>
                            <p v-else >ที่อาคาร Health & Brain Center ของ ดิ แอสเพน ทรี ผู้รับบริการจะได้รับประสบการณ์ด้านการดูแล<br class="d-lg-block d-none">
                                สุขภาพแบบองค์รวมที่มีคุณภาพและตรงกับความต้องการเฉพาะบุคคล ด้วยทีมสหวิทยาการของแพทย์<br class="d-lg-block d-none">
                                ผู้เชี่ยวชาญ พยาบาล และผู้ดูแล เราพร้อมเป็นจุดเริ่มต้นในการดูแลสุขภาพขั้นพื้นฐาน เพื่อประเมิน<br class="d-lg-block d-none">
                                ป้องกัน รักษา และจัดการกับภาวะต่างๆ ของผู้สูงวัยอย่างครบวงจร</p>
                        </div>
                    </div>

                    <div class="asp-list pd pt-0">
                        <div class="asp-item">
                            <div class="thumb thumb-icon">
                                <div class="thumb-img">
                                    <img src="/image/clinics/icon-clinics-1.png" alt="">
                                </div>
                                <div class="thumb-body">
                                    <div v-if="locale == 'en'" class="thumb-h text-uppercase">Primary Care <br class="d-block">Clinic</div>
                                    <div class="thumb-h text-uppercase">การตรวจรักษาโรค <br class="d-block">ทั่วไป</div>
                                </div>
                            </div>
                        </div>
                        <div class="asp-item">
                            <div class="thumb thumb-icon">
                                <div class="thumb-img">
                                    <img src="/image/clinics/icon-clinics-2.png" alt="">
                                </div>
                                <div class="thumb-body">
                                    <div v-if="locale == 'en'" class="thumb-h text-uppercase">Life Plans <br class="d-block">Clinic</div>
                                    <div v-else class="thumb-h text-uppercase">การวางแผนสุขภาพ</div>
                                </div>
                            </div>
                        </div>
                        <div class="asp-item">
                            <div class="thumb thumb-icon">
                                <div class="thumb-img">
                                    <img src="/image/clinics/icon-clinics-3.png" alt="">
                                </div>
                                <div class="thumb-body">
                                    <div v-if="locale == 'en'" class="thumb-h text-uppercase">Pain Clinic</div>
                                  <div v-else class="thumb-h text-uppercase">คลินิกรักษาอาการปวด</div>
                                </div>
                            </div>
                        </div>
                        <div class="asp-item">
                            <div class="thumb thumb-icon">
                                <div class="thumb-img">
                                    <img src="/image/clinics/icon-clinics-4.png" alt="">
                                </div>
                                <div class="thumb-body">
                                    <div v-if="locale == 'en'" class="thumb-h text-uppercase">Incontinence <br class="d-block">and hygiene</div>
                                    <div v-else class="thumb-h text-uppercase">ทางเดินปัสสาวะ<br class="d-block">และสุขอนามัย <br class="d-block">(นัดหมายล่วงหน้า)</div>
                                </div>
                            </div>
                        </div>
                        <div class="asp-item">
                            <div class="thumb thumb-icon">
                                <div class="thumb-img">
                                    <img src="/image/clinics/icon-clinics-5.png" alt="">
                                </div>
                                <div class="thumb-body">
                                    <div v-if="locale == 'en'" class="thumb-h text-uppercase">Memory Care</div>
                                  <div v-else class="thumb-h text-uppercase">การดูแลด้านสมองและความจำ</div>
                                </div>
                            </div>
                        </div>
                        <div class="asp-item">
                            <div class="thumb thumb-icon">
                                <div class="thumb-img">
                                    <img src="/image/clinics/icon-clinics-6.png" alt="">
                                </div>
                                <div class="thumb-body">
                                    <div v-if="locale == 'en'" class="thumb-h text-uppercase">Balance <br class="d-block">Clinic</div>
                                  <div v-else class="thumb-h text-uppercase">ความสมดุลของการเคลื่อนไหว</div>
                                </div>
                            </div>
                        </div>
                        <div class="asp-item">
                            <div class="thumb thumb-icon">
                                <div class="thumb-img">
                                    <img src="/image/clinics/icon-clinics-7.png" alt="">
                                </div>
                                <div class="thumb-body">
                                    <div v-if="locale == 'en'" class="thumb-h text-uppercase">Bone Health <br class="d-block">Clinic</div>
                                  <div v-else class="thumb-h text-uppercase">สุขภาพกระดูก</div>
                                </div>
                            </div>
                        </div>
                        <div class="asp-item">
                            <div class="thumb thumb-icon">
                                <div class="thumb-img">
                                    <img src="/image/clinics/icon-clinics-8.png" alt="">
                                </div>
                                <div class="thumb-body">
                                    <div v-if="locale == 'en'" class="thumb-h text-uppercase">Nail & Wound <br class="d-block">Care</div>
                                  <div v-else class="thumb-h text-uppercase">การดูแลเล็บและบาดแผล<br class="d-block"> (นัดหมายล่วงหน้า)</div>
                                </div>
                            </div>
                        </div>
                        <div class="asp-item">
                            <div class="thumb thumb-icon">
                                <div class="thumb-img">
                                    <img src="/image/clinics/icon-clinics-9.png" alt="">
                                </div>
                                <div class="thumb-body">
                                    <div v-if="locale == 'en'" class="thumb-h text-uppercase">Sleep Clinic</div>
                                  <div v-else class="thumb-h text-uppercase">สุขภาวะการนอนหลับ<br class="d-block"> (นัดหมายล่วงหน้า)</div>
                                </div>
                            </div>
                        </div>
                        <div class="asp-item" v-if="locale == 'en'" >
                            <div class="thumb thumb-icon">
                                <div class="thumb-img">
                                    <img src="/image/clinics/icon-clinics-10.png" alt="">
                                </div>
                                <div class="thumb-body">
                                    <div class="thumb-h text-uppercase">Healthy Diet <br class="d-block">Clinic</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <ContHaftSlide/>
 
</template>


<style lang="scss" scoped>
.aspen-health-brain-center{border-bottom: 16px solid #B8A272;}

.aspen-health-brain-cont {
    overflow: visible;
    position: relative;
    z-index: 3;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(237,232,228,1) 42%, rgba(237,232,228,1) 100%);
}
.aspen-hl-health-brain {
    width: 70%;
    display: flex;
    justify-content: space-between;
    background-color: #B8A272;
    padding:1.563vw 3.646vw;
    margin: -70px auto 0;
    align-items: center;
    color: #fff;
    gap: 7.188vw;
   position: relative;
}
.aspen-hl-health-brain:before {
    content: "";
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    width: 1px;
    height: calc(100% - 60px);
    background-color: #fff;
}

.aspen-hl-inner{display: flex;align-items: center; gap: 20px;width: 50%;justify-content: center;text-transform: uppercase;position: relative;}
.aspen-hl-inner .unit{
    font-size: 4.167vw;
    width: auto;
    float: left;
    line-height: 0.2;
    position: relative;
    top: -10px;
}



.aspen-hl-overyear.aspen-content{
    display: flex;
    align-items: center;
    width: 80%;
    background-color: #FFFFFF;
    margin: 0 auto;
    float: none;
    justify-content: center;
    gap: 15px;
    color: #983C1D;
    text-transform: uppercase;
    border-radius: 35px 0 35px 0;
    padding: 0.781vw 2.083vw;
}
.aspen-hl-overyear .aspen-hl-overyear-inner{
    display: flex;
    align-items: center;
    gap: 15px;
}
.aspen-our-partner-cont{position: relative;}
.aspen-our-partner-cont::before{content: "";position: absolute;width: 100vw;height: 130%;left: calc(50% - 50vw);top: -30%;background-color: #fff;z-index: -1;}
.aspen-hl-overyear.aspen-content .text-large{line-height: .5;position: relative;top: -10px;}
.aspen-our-partner-hl {
    width: calc(100% - ((var(--bs-gutter-x) * 0.5) * 2));
    margin-top: 0;
    padding: 1.823vw 3.046vw 50px;
    background-color: #B8A272;
    color: #fff;
    position: absolute;
    bottom: 0;
    left: calc(var(--bs-gutter-x) * 0.5);
}
.aspen-our-partner > picture > img{
    position: relative;
}
.aspen-our-mission .container .bg-grav{position: relative;}
.aspen-our-mission .container .bg-grav::before{
    content: "";
    width: 110%;
    height: 80%;
    top: 0;
    left: -5%;
    position: absolute;
    border-radius: 10px;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(237,232,228,1) 42%, rgba(237,232,228,1) 100%);
    z-index: -1;
}
// .bg-grav > .fw{
//     width: 110%;
//     position: relative;
//     left: -5%;
// }

.aspen-partnership-list{width: 100%;display: flex;flex-wrap: wrap;align-content: center;gap: 48px;justify-content: center;}
.aspen-partnership-list .aspen-partnership-item{height: 73px;width: auto;display: flex;align-items: center;justify-content: center;}
.aspen-partnership-list .aspen-partnership-item img{max-height: 73px;object-fit: contain;object-position: center center;}

@media (max-width: 1439.98px){

}
@media (max-width: 1199.98px){
    .aspen-our-partner-p{padding:50px 2.646vw;}
}
@media (max-width: 991.98px){
    .aspen-hl-inner .unit{font-size: 7.073vw;}
    .aspen-hl-overyear.aspen-content .text-large{
        top: -5px;
    }

    .aspen-our-partner-p{padding:50px 0.646vw;}
    .aspen-our-partner-hl{width: 100%;left: 0;}
    .aspen-hl-health-brain{width: 100%;}
}

@media (max-width: 767.98px){
    .aspen-hl-health-brain{
        width: 100%;
        gap: 5.188vw;
        padding: 2.563vw 3.646vw;
    }
    .aspen-hl-overyear.aspen-content{
        flex-direction: column;
        padding: 20px;
        width: 100%;
        text-align: center;

    }
   
    .aspen-hl-health-brain:before{
        top: 20px;
        height: calc(100% - 40px);
    }
    .aspen-our-partner-hl{
        position: relative;
    }
    .aspen-health-brain-center{border-bottom: 6px solid #B8A272;}
}
@media (max-width: 575.98px){
    .aspen-hl-overyear.aspen-content .text-large{
        font-size:14.37vw ;
    }
    .aspen-our-partner-hl{
        padding: 50px 30px;
    }

    .aspen-hl-health-brain{flex-direction: column;}
    .aspen-hl-inner{width: 100%;}
    .aspen-hl-health-brain:before{
        height: 1px;
        width: 100%;
        left: 0;
        top: calc(50% + (5.188vw / 2) );
        transform: translateY(-50%);
    }
    .aspen-our-partner {
        width: 100vw;
        left: calc(50% - 50vw);
        position: relative;
    }
        .aspen-our-partner-p {
        padding: 30px;
    }

    .aspen-partnership-list{
        gap: 25px;
    }
    .aspen-partnership-list .aspen-partnership-item{height: 52px;}
    .aspen-partnership-list .aspen-partnership-item img{
        max-height: 52px;
    }
  
}
</style>