<script setup lang="ts">
const localePath = useLocalePath()
import BannerSlide from '@/components/sections/banner-slide.vue';
import BannerGallery from '@/components/sections/banner-gallery.vue';
import InfoContact from '@/components/sections/info-contact.vue';

import { gsap , TweenMax } from "gsap";
const breadcrumb = ref();
const header = ref();
const cont = ref();
const leaf1 = ref();
const leaf2 = ref();
const slide3 = ref();

onMounted(() => {
    setTimeout(() => {
        TweenMax.fromTo(breadcrumb.value, 1.5, {opacity: 0, y:-50}, {opacity: 1,  y:0 , delay: .2});
        TweenMax.fromTo(header.value.querySelector('h5'), 1.5, {opacity: 0, y:50}, {opacity: 1,  y:0 , delay: .3});
        TweenMax.fromTo(header.value.querySelector('h1'), 1.5, {opacity: 0, y:50}, {opacity: 1,  y:0 , delay: .4});
        TweenMax.fromTo(cont.value.querySelector('p'), 1.5, {opacity: 0, y:50}, {opacity: 1,  y:0 , delay: .5});
    }, 500);
});

const { locale, locales,setLocale } = useI18n()
const { t } = useI18n({
  useScope: 'local'
})


</script>
<template>
    <nav aria-label="breadcrumb" ref="breadcrumb">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">Health & Brain Center</li>
                <li class="breadcrumb-item"><NuxtLink :to="localePath('health-brain-center/services')">Services</NuxtLink></li>
                <li class="breadcrumb-item active" aria-current="page">Day Center</li>
            </ol>
        </div>
    </nav>
    
    <section class="section st-content  w-100 float-left  position-relative  st-cont-fade ">
        <div class="asp-cont-fade pd pt-0" ref="boxGlass">
            <div class="container">
                <div class="asp-cont-fade-inner" >
                    <div class="aspen-content text-center text-uppercase " :class="locale == 'th' ? 'mb-3' : ''"   ref="header">
                        <h5 class="clr-secondary">the aspen tree</h5>
                        <h1 v-if="locale == 'en'" class="clr-primary tosz line-bullet"><span>Day Center</span></h1>
                        <h1 v-else class="clr-primary tosz line-bullet"><span>ศูนย์ดูแลสุขภาพ<span style="display: inline-block;">แบบองค์รวม</span></span></h1>
                    </div>
                    <div class="aspen-content text-center mb-2" ref="cont">
                        <p v-if="locale == 'en'" class="clr-secondary f-mon t-md">A lack of social connection has been shown to lead to isolation and poses significant <br class="d-lg-block d-none">
                            risk factors for health leading to premature mortality. It is important to regularly <br class="d-lg-block d-none">
                            socialisation and engaging activities, can strengthen neural networks in the brain.<br class="d-lg-block d-none">
                            The Day Center provides a stimulating, community environment that is<br class="d-lg-block d-none">
                            focused on health and wellbeing of guests. It is ideal for seniors who<br class="d-lg-block d-none">
                            require supervision, socialization and engagement within<br class="d-lg-block d-none">
                            a professional care setting during the day</p>
                        <p v-else  class="clr-secondary f-mon t-md">การขาดปฏิสัมพันธ์ทางสังคมอาจทำให้รู้สึกโดดเดี่ยว และเป็นปัจจัยเสี่ยงสำคัญต่อสุขภาพ <br class="d-lg-block d-none">
                            ซึ่งอาจ นำไปสู่การเสียชีวิตก่อนวัยอันควร ดังนั้น ผู้สูงวัยควรมีปฏิสัมพันธ์กับผู้อื่นและทำกิจกรรมที่กระตุ้นสมอง <br class="d-lg-block d-none">
                            เป็นประจำ เพื่อจะช่วยเสริมสร้างการเชื่อมต่อของเซลล์สมองให้แข็งแรง <br class="d-lg-block d-none">
                            ศูนย์ดูแลสุขภาพแบบองค์รวมที่ ดิ แอสเพน ทรี มีสภาพแวดล้อมที่ส่งเสริมสุขภาพและความเป็นอยู่ที่ดี <br class="d-lg-block d-none">
                            ของผู้สูงวัย ที่นี่เหมาะสำหรับผู้ที่ต้องการการดูแลระหว่างวันอย่างใกล้ชิด</p>
                    </div>
                </div>
            </div>
        </div>
        <picture class="fw" ref="boxImg">
            <source media="(max-width:767px)" srcset="/image/day-center/hero-banner-m.jpg">
            <img class="fw advance-h-img" src="/image/day-center/hero-banner-d.jpg" alt="">
        </picture>

    </section>

    <section class="section st-service-overlap ">
        <div class="container">
            <picture class="img-service-overlap"  >
                <source media="(max-width:767px)" srcset="/image/day-center/day-center-banner-m.png">
                <img class="fw" src="/image/day-center/day-center-banner-d.jpg" alt="">
            </picture>
            <div class="fw pd">
                <div class="aspen-content text-center text-uppercase mb-4 ">
                    <h2 class="clr-primary tosz line-bullet h1"><span>individualized <div style="display: inline-block;">services</div></span></h2>
                </div>
                
                <div class="aspen-content text-center mb-2">
                    <h4 class="text-uppercase clr-secondary mb-2">Clients can also choose to partake in additional<br class="d-lg-block d-none"> individualised services </h4>
                    <p class="clr-secondary f-mon t-md">Depending on the level of support required for each guest,<br class="d-lg-block d-none">
                    the Day Center will tailor the level of care to support fundamental skills <br class="d-lg-block d-none">necessary for daily life or activities of daily living (ADL).
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="section st-content  pd position-relative z-index-3 pd-b-20 pt-0 st-day-center-half">
        <img src="/image/day-center/day-center-leaf-1.png" class="abs day-center-leaf-1" alt="">
        <div class="container">
            <div class="row gy-4">
                <div class="col-12">
                    <div class="thumb thumb-half ">
                        <div class="thumb-img"><img src="/image/day-center/thumb-img-half-1.jpg" alt=""></div>
                        <div class="thumb-body aspen-content hr-y text-center">
                            <div v-if="locale == 'en'" class="inner-cont-thumb">
                                <h2 class="text-uppercase clr-primary">SOCIAL <br>ACTIVITIES</h2>
                                <hr>
                                <p class="f-mon t-md clr-secondary">Range of thought-provoking and inspiring group activities<br class="d-xl-block d-none"> to enhance and maintain cognitive function, as well as<br class="d-xl-block d-none"> prevent boredom and loneliness. Activities may include</p>
                                <div class="fw mt-2">
                                    <div class="row">
                                        <div class="col-12 col-lg-6">
                                            <ul class="list-square clr-secondary f-mon t-md  text-start">
                                                <li>Mental stimulation games</li>
                                                <li>Gentle exercise including stretching</li>
                                                <li>Outings and celebrations</li>
                                            </ul>
                                        </div>
                                        <div class="col-12 col-lg-6">
                                            <ul class="list-square clr-secondary f-mon t-md  text-start">
                                                <li>Creative pursuits such as <br class="d-block">music, arts and crafts</li>
                                                <li>Discussion groups</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div v-else class="inner-cont-thumb">
                                <h2 class="text-uppercase clr-primary">กิจกรรมทางสังคม</h2>
                                <hr>
                                <p class="f-mon t-md clr-secondary">มีกิจกรรมกลุ่มที่กระตุ้นความคิดและสร้างแรงบันดาลใจ<br class="d-xl-block d-none"> หลากหลาย รูปแบบ เพื่อพัฒนาและเสริมสร้างการทำงานของสมอง <br class="d-xl-block d-none"> รวมถึงบรรเทาความเบื่อหน่ายและความ เหงา กิจกรรมเหล่านี้อาจรวมถึง</p>
                                <div class="fw mt-2">
                                    <div class="row">
                                        <div class="col-12 col-lg-6">
                                            <ul class="list-square clr-secondary f-mon t-md  text-start">
                                                <li>กิจกรรมเสริมสร้างการทำงานของสมอง</li>
                                                <li>กิจกรรมออกกำลังกายเบาๆ รวมถึงการยืดกล้ามเนื้อ</li>
                                                <li>กิจกรรมนอกสถานที่และงานเลี้ยง</li>
                                            </ul>
                                        </div>
                                        <div class="col-12 col-lg-6">
                                            <ul class="list-square clr-secondary f-mon t-md  text-start">
                                                <li>กิจกรรมสร้างสรรค์<br class="d-block"> เช่น ดนตรี ศิลปะ และงานฝีมือ</li>
                                                <li>การสนทนาแบบกลุ่ม</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="thumb thumb-half thumb-half-cont-first">
                        <div class="thumb-img"><img src="/image/day-center/thumb-img-half-2.jpg" alt=""></div>
                        <div class="thumb-body aspen-content hr-y text-center">
                            <div v-if="locale == 'en'"  class="inner-cont-thumb">
                                <h2 class="text-uppercase clr-primary">NUTRITIOUS <br>MEALS</h2>
                                <hr>
                                <p class="f-mon t-md clr-secondary">Nutritious Meals 2 healthy meals and a snack will be<br class="d-xl-block d-none"> provided on a daily basis, with customized meals for<br class="d-xl-block d-none"> those with special dietary preferences. Taste is<br class="d-xl-block d-none"> balanced with nutritional value, portion control, texture<br class="d-xl-block d-none"> and flavours designed to suit older adults.</p>
                            </div>
                            <div v-else  class="inner-cont-thumb">
                                <h2 class="text-uppercase clr-primary">อาหารเพื่อสุขภาพ</h2>
                                <hr>
                                <p class="f-mon t-md clr-secondary">เรามีบริการอาหารเพื่อสุขภาพวันละ 2 มื้อ พร้อมอาหารว่าง<br class="d-xl-block d-none">
                                    และยัง ปรับเปลี่ยนเมนูให้เหมาะกับความต้องการด้านโภชนาการของแต่ละบุคคล<br class="d-xl-block d-none">
                                    อาหารของเรา คำนึงถึงสมดุลของรสชาติ คุณค่าทางโภชนาการ<br class="d-xl-block d-none">
                                    ปริมาณ เนื้อสัมผัส และกลิ่นรส ที่เหมาะกับผู้ สูงวัยและช่วยเพิ่มความอยากอาหาร</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="thumb thumb-half">
                        <div class="thumb-img"><img src="/image/day-center/thumb-img-half-3.jpg" alt=""></div>
                        <div class="thumb-body aspen-content hr-y text-center">
                            <div v-if="locale == 'en'"  class="inner-cont-thumb">
                                <h2 class="text-uppercase clr-primary">PERSONAL <br>CARE</h2>
                                <hr>
                                <p class="f-mon t-md clr-secondary">Personal Care For those who require daily living<br class="d-xl-block d-none"> assistance such as daily grooming,<br class="d-xl-block d-none"> personal hygiene, feeding and walking</p>
                            </div>
                            <div v-else class="inner-cont-thumb">
                                <h2 class="text-uppercase clr-primary">การดูแลส่วนบุคคล</h2>
                                <hr>
                                <p class="f-mon t-md clr-secondary">สำหรับผู้ที่ต้องการความช่วยเหลือในการใช้ชีวิตประจำวัน <br class="d-xl-block d-none"> เช่น การแต่งตัว สุขอนามัยส่วนบุคคล การรับประทานอาหาร และการเดิน</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12">
                    <div class="fw box-date-open pd position-relative bg-clr-gold bg-gold-over-contain text-white">
                        <div class="container">
                            <div class="row align-items-center gy-2">
                                <div class="col-12 col-md-6  col-lg-4 ">
                                    <div class="aspen-content text-uppercase text-center border-md-1">
                                        <h5>THE ASPEN TREE</h5>
                                        <h3>Day Center is open</h3>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-lg-8 ">
                                    <div class="aspen-content text-uppercase text-center day-center-cont-fx">
                                        <h5>
                                            <span>from <span class="h2">08:00</span> to <span class="h2">17:00</span> </span>
                                            <span>Monday - Saturday</span>
                                        </h5>
                                    </div>
                                </div>
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
   
 
    <InfoContact />
</template>


<style lang="scss" scoped>
.day-center-cont-fx h5 > span:not(:last-child){margin-right: 80px;}
.aspen-health-brain-center {
    border-bottom: 16px solid #B8A272;
}

.aspen-health-brain-cont {
    overflow: visible;
    position: relative;
    z-index: 3;
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(237, 232, 228, 1) 42%, rgba(237, 232, 228, 1) 100%);
}

.aspen-hl-health-brain {
    width: 70%;
    display: flex;
    justify-content: space-between;
    background-color: #B8A272;
    padding: 1.563vw 3.646vw;
    margin: -70px auto 0;
    align-items: center;
    color: #fff;
    gap: 7.188vw;
    position: relative;
}

.aspen-hl-health-brain:before {
    content: "";
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    width: 1px;
    height: calc(100% - 60px);
    background-color: #fff;
}

.aspen-hl-inner {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 50%;
    justify-content: center;
    text-transform: uppercase;
    position: relative;
}

.aspen-hl-inner .unit {
    font-size: 4.167vw;
    width: auto;
    float: left;
    line-height: 0.2;
    position: relative;
    top: -10px;
}



.aspen-hl-overyear.aspen-content {
    display: flex;
    align-items: center;
    width: 80%;
    background-color: #FFFFFF;
    margin: 0 auto;
    float: none;
    justify-content: center;
    gap: 15px;
    color: #983C1D;
    text-transform: uppercase;
    border-radius: 35px 0 35px 0;
    padding: 0.781vw 2.083vw;
}

.aspen-hl-overyear .aspen-hl-overyear-inner {
    display: flex;
    align-items: center;
    gap: 15px;
}

.aspen-our-partner-cont {
    position: relative;
}

.aspen-our-partner-cont::before {
    content: "";
    position: absolute;
    width: 100vw;
    height: 130%;
    left: calc(50% - 50vw);
    top: -30%;
    background-color: #fff;
    z-index: -1;
}

.aspen-hl-overyear.aspen-content .text-large {
    line-height: .5;
    position: relative;
    top: -10px;
}

.aspen-our-partner-hl {
    width: calc(100% - ((var(--bs-gutter-x) * 0.5) * 2));
    margin-top: 0;
    padding: 1.823vw 3.046vw 50px;
    background-color: #B8A272;
    color: #fff;
    position: absolute;
    bottom: 0;
    left: calc(var(--bs-gutter-x) * 0.5);
}

.aspen-our-partner>picture>img {
    position: relative;
}

.aspen-our-mission .container .bg-grav {
    position: relative;
}

.aspen-our-mission .container .bg-grav::before {
    content: "";
    width: 110%;
    height: 80%;
    top: 0;
    left: -5%;
    position: absolute;
    border-radius: 10px;
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(237, 232, 228, 1) 42%, rgba(237, 232, 228, 1) 100%);
    z-index: -1;
}

// .bg-grav > .fw{
//     width: 110%;
//     position: relative;
//     left: -5%;
// }

.aspen-partnership-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    gap: 48px;
    justify-content: center;
}

.aspen-partnership-list .aspen-partnership-item {
    height: 73px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.aspen-partnership-list .aspen-partnership-item img {
    max-height: 73px;
    object-fit: contain;
    object-position: center center;
}

@media (max-width: 1439.98px) {}

@media (max-width: 1199.98px) {
    .aspen-our-partner-p {
        padding: 50px 2.646vw;
    }
}

@media (max-width: 991.98px) {
    .aspen-hl-inner .unit {
        font-size: 7.073vw;
    }

    .aspen-hl-overyear.aspen-content .text-large {
        top: -5px;
    }

    .aspen-our-partner-p {
        padding: 50px 0.646vw;
    }

    .aspen-our-partner-hl {
        width: 100%;
        left: 0;
    }

    .aspen-hl-health-brain {
        width: 100%;
    }

    .day-center-cont-fx h5 > span{margin-right: 0;width: 100%;float: left;}
}

@media (max-width: 767.98px) {
    .aspen-hl-health-brain {
        width: 100%;
        gap: 5.188vw;
        padding: 2.563vw 3.646vw;
    }

    .aspen-hl-overyear.aspen-content {
        flex-direction: column;
        padding: 20px;
        width: 100%;
        text-align: center;

    }

    .aspen-hl-health-brain:before {
        top: 20px;
        height: calc(100% - 40px);
    }

    .aspen-our-partner-hl {
        position: relative;
    }

    .box-date-open.bg-gold-over-contain{padding: 50px 15px;}
    .box-date-open.bg-gold-over-contain::before{width: 100%;left: 0;}
    .day-center-cont-fx h5{flex-direction: column;display: flex;gap:10px;}
    .day-center-cont-fx h5 > span[data-v-cdd526ea]:not(:last-child){margin-right: 0;}
    
}

@media (max-width: 575.98px) {
    .aspen-hl-overyear.aspen-content .text-large {
        font-size: 14.37vw;
    }

    .aspen-our-partner-hl {
        padding: 50px 30px;
    }

    .aspen-hl-health-brain {
        flex-direction: column;
    }

    .aspen-hl-inner {
        width: 100%;
    }

    .aspen-hl-health-brain:before {
        height: 1px;
        width: 100%;
        left: 0;
        top: calc(50% + (5.188vw / 2));
        transform: translateY(-50%);
    }

    .aspen-our-partner {
        width: 100vw;
        left: calc(50% - 50vw);
        position: relative;
    }

    .aspen-our-partner-p {
        padding: 3.646vw;
    }

    .aspen-partnership-list {
        gap: 25px;
    }

    .aspen-partnership-list .aspen-partnership-item {
        height: 52px;
    }

    .aspen-partnership-list .aspen-partnership-item img {
        max-height: 52px;
    }

  

}
</style>