<script setup lang="ts">
import { gsap , TweenMax } from "gsap";
import ListSlide3 from '@/components/sections/list-slide-3.vue';
import InfoContact from '@/components/sections/info-contact.vue';
const localePath = useLocalePath()

const { locale, locales,setLocale } = useI18n()
const { t } = useI18n({
  useScope: 'local'
})


const images2: { img: string}[] = [
    { img: '/image/health-brain/thumb-aspen-our-mission-1.jpg',},
    { img: '/image/health-brain/thumb-aspen-our-mission-2.jpg',   },
    { img: '/image/health-brain/thumb-aspen-our-mission-3.jpg',},
    { img: '/image/health-brain/thumb-aspen-our-mission-4.jpg',},
];


const partner: { img: string}[] = [
    { img: '/image/health-brain/thumb-partnership-1.png',},
    { img: '/image/health-brain/thumb-partnership-2.png',   },
    { img: '/image/health-brain/thumb-partnership-3.png',},
    { img: '/image/health-brain/thumb-partnership-4.png',},
    { img: '/image/health-brain/thumb-partnership-5.png',},
    { img: '/image/health-brain/thumb-partnership-6.png',},
];
const breadcrumb = ref();
const header = ref();
const cont = ref();
const leaf1 = ref();
const leaf2 = ref();
const slide3 = ref();

onMounted(() => {
    setTimeout(() => {
        TweenMax.fromTo(breadcrumb.value, 1.5, {opacity: 0, y:-50}, {opacity: 1,  y:0 , delay: .2});
        TweenMax.fromTo(header.value.querySelector('h5'), 1.5, {opacity: 0, y:50}, {opacity: 1,  y:0 , delay: .3});
        TweenMax.fromTo(header.value.querySelector('h1'), 1.5, {opacity: 0, y:50}, {opacity: 1,  y:0 , delay: .4});
        TweenMax.fromTo(cont.value.querySelector('h5'), 1.5, {opacity: 0, y:50}, {opacity: 1,  y:0 , delay: .5});
        TweenMax.fromTo(cont.value.querySelector('p'), 1.5, {opacity: 0, y:50}, {opacity: 1,  y:0 , delay: .7});
        TweenMax.fromTo(leaf1.value, 1.6, {opacity: 0, y:100,x:-50}, {opacity: 1,  y:0,x:0 , delay: .5});
        TweenMax.fromTo(leaf2.value, 1.6, {opacity: 0, y:100,x:50}, {opacity: 1, y:0,x:0, delay: 1});
        TweenMax.fromTo(slide3.value, 1.5, {opacity: 0, y:100}, {opacity: 1,  y:0 , delay: .8});
    }, 500);
});



</script>
<template>
     <nav aria-label="breadcrumb"  ref="breadcrumb">
       <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><NuxtLink :to="localePath('/health-brain-center')">Health & Brain Center</NuxtLink></li>
                <li class="breadcrumb-item active" aria-current="page">Service</li>
            </ol>
       </div>
    </nav>
    <section class="section st-content  w-100 float-left  position-relative clr-gd-light-dark-fade positition-relative">
        <img src="/image/service/service-leaf-top-1.png" alt="" class="ele-service-leaf-1 abs" ref="leaf1">
        <img src="/image/service/service-leaf-top-2.png" alt="" class="ele-service-leaf-2 abs" ref="leaf2">
        <div class="container">
            <div class="aspen-content text-center text-uppercase" ref="header">
                <h5 class="clr-secondary">the aspen tree</h5>
                <h1 v-if="locale == 'en'"  class="clr-primary tosz">Service</h1>
                <h1 v-else class="clr-primary tosz">บริการ</h1>
            </div>
            <div class="aspen-content text-center  mb-2"  ref="cont">
                <!-- <h5 class="clr-secondary mb-2 text-uppercase">The state of the mind, consciousness <br class="d-lg-none d-block">and the ability to process information <br class="d-block">quickly are essential brain functions used within everyday life.</h5> -->
               
                <h5 v-if="locale == 'en'" class="c clr-secondary mb-2 text-uppercase">
                        The ability to process information quickly, <br class="d-lg-none d-block">consciousness and  <br class="d-md-block d-none">state of mind are essential brain functions used in everyday life. 
                </h5>
                <h5 v-else class="c clr-secondary mb-2 text-uppercase">
                    ความสามารถในการคิด เรียนรู้ จดจำ ตัดสินใจ <br class="d-md-block  d-none">และการตอบสนองทางกาย เป็นการทำงานที่สำคัญของ สมองในแต่ละวัน 
                </h5>

                <p v-if="locale == 'en'" class="f-mon t-md">It is therefore vital to assess, prevent and manage such cognitive<br class="d-lg-block d-none">
                    syndromes closely in  the long-term, with dedicated expertise of physicians and Care Angels.<br class="d-lg-block d-none">
                    At The Aspen Tree it is our focus to support clients to maintain functionality and<br class="d-lg-block d-none">
                    independence in a holistic, sustainable way to achieve the best quality of life possible. <br class="d-lg-block d-none">
                    The Health & Brain Center offers specialized Primary Care specifically for older adults to thrive at<br class="d-lg-block d-none">
                    every life stage. A strong focus is on the expertise of our multidisciplinary clinical team,<br class="d-lg-block d-none">
                    providing superior care within a home environment.
                 </p>
                 <p v-else class="f-mon t-md">การตรวจประเมินความเสี่ยง ป้องกัน และดูแลสุขภาพสมองอย่างใกล้ชิดโดยทีมแพทย์ ผู้เชี่ยวชาญและทีมผู้ดูแล <br class="d-lg-block d-none">
                    จะช่วยให้ทราบถึงการเปลี่ยนแปลงและความผิดปกติได้ตั้งแต่เนิ่นๆ ซึ่งเป็นสิ่ง ที่มีความสำคัญเป็นอย่างยิ่ง<br class="d-lg-block d-none">
                    ที่ ดิ แอสเพน ทรี เรามุ่งมั่นที่จะส่งเสริมให้ผู้รับบริการมีสุขภาพที่แข็งแรง สามารถดำรงชีวิตได้อย่าง<br class="d-lg-block d-none">
                    อิสระ และมีคุณภาพชีวิตที่ดีที่สุดเท่าที่จะเป็นไปได้ ที่อาคาร Health & Brain Center ของ ดิ แอสเพน<br class="d-lg-block d-none">
                    ทรี เราให้บริการตรวจรักษาโรคทั่วไปสำหรับผู้สูงวัย เพื่อให้ทุกท่านสามารถใช้ชีวิตอย่างมีสุขภาพที่ดีใน<br class="d-lg-block d-none">
                    ทุกช่วงวัย ด้วยความเชี่ยวชาญของทีมแพทย์สหสาขาวิชาชีพ เรามุ่งเน้นการให้บริการดูแลสุขภาพที่เป็น<br class="d-lg-block d-none">
                    เลิศในสภาพแวดล้อมที่อบอุ่นดุจดั่งบ้านของท่านเอง
                </p>
            </div>
        </div>
        <ListSlide3 class="pb-0" />
    </section>
   
    <section class="section clr-gd-dark-light pd pb-0 sec-service-hl">
        <div class="container">
            <div class="aspen-content text-center">
                <h2 v-if="locale == 'en'" class="clr-primary text-uppercase line-bullet"><span class="pb-3">Highlight services at <br class="d-block">the Health & Brain Center</span></h2>
                <h2 v-else class="clr-primary text-uppercase line-bullet"><span class="pb-3">จุดเด่นของอาคาร <br class="d-block"> Health & Brain Center</span></h2>
            </div>
            <div class="asp-list asp-list-3 pd ">
                <div class="asp-item">
                    <div class="thumb thumb-icon">
                        <div class="thumb-img">
                            <img src="/image/service/icon-service-1.png" alt="">
                        </div>
                        <div class="thumb-body">
                            <div v-if="locale == 'en'" class="thumb-h text-uppercase">24/7 Expert<br> Healthcare team</div>
                            <div v-else class="thumb-h text-uppercase">ทีมผู้เชี่ยวชาญด้านการดูแลสุขภาพ<br> ตลอด 24 ชั่วโมง</div>
                        </div>
                    </div>
                </div>
                <div class="asp-item">
                    <div class="thumb thumb-icon">
                        <div class="thumb-img">
                            <img src="/image/service/icon-service-2.png" alt="">
                        </div>
                        <div class="thumb-body">
                            <div  v-if="locale == 'en'"  class="thumb-h text-uppercase">Multidisciplinary <br>clinical  <br>specialisms</div>
                            <div  v-else  class="thumb-h text-uppercase">ความเชี่ยวชาญ<br>ทางคลินิกแบบ<br>สหสาขาวิชาชีพ</div>
                        </div>
                    </div>
                </div>
                <div class="asp-item">
                    <div class="thumb thumb-icon">
                        <div class="thumb-img">
                            <img src="/image/service/icon-service-3.png" alt="">
                        </div>
                        <div class="thumb-body">
                            <div  v-if="locale == 'en'"   class="thumb-h text-uppercase">Rehabilitation<br> CENTER</div>
                            <div  v-else  class="thumb-h text-uppercase">ศูนย์เวชศาสตร์ฟื้นฟู</div>
                        </div>
                    </div>
                </div>
                <div class="asp-item">
                    <div class="thumb thumb-icon">
                        <div class="thumb-img">
                            <img src="/image/service/icon-service-4.png" alt="">
                        </div>
                        <div class="thumb-body">
                            <div v-if="locale == 'en'" class="thumb-h text-uppercase">Brain & <br>Memory Care</div>
                            <div v-else class="thumb-h text-uppercase">การดูแลสุขภาพ<br>สมองและความจำ</div>
                        </div>
                    </div>
                </div>
                <div class="asp-item">
                    <div class="thumb thumb-icon">
                        <div class="thumb-img">
                            <img src="/image/service/icon-service-5.png" alt="">
                        </div>
                        <div class="thumb-body">
                            <div v-if="locale == 'en'" class="thumb-h text-uppercase">Residential <br>VIP Lounge</div>
                            <div v-else class="thumb-h text-uppercase">ห้องรับรองวีไอพี<br>สำหรับผู้พักอาศัย </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section st-content  pd position-relative ">
        <div class="container">
            <div class="inner-cont-thumb  aspen-content text-center mb-5">
                <h3 v-if="locale == 'en'"  class="text-uppercase clr-secondary mb-2">The Aspen Tree <span style="display: inline-block;">inical Services</span></h3>
                <h3 v-else  class="text-uppercase clr-secondary mb-2">บริการทางการแพทย์ของ <span style="display: inline-block;">ดิ แอสเพน ทรี</span></h3>
                <p class="f-mon t-md clr-secondary">Providing peace of mind, safety and expertise you can depend on for seniors<br class="d-xl-block d-none"> and their loved ones who require primary care services, and supervision.</p>
            </div>
            <div class="thumb thumb-half thumb-half-cont-first ">
                <div class="thumb-img">
                    <img src="/image/service/thumb-half-1.png" alt="">
                </div>
                <div class="thumb-body hr-y text-center">
                    <div class="inner-cont-thumb  aspen-content">
                        <h3 class="text-uppercase clr-secondary mb-2">the aspen tree</h3>
                        <h2 class="text-uppercase clr-primary"> covers all aspects <br>of active living</h2>
                        <p class="f-mon t-md clr-secondary">Assisted living and Long term care, including <br>the following clinical services at the <span style="display: inline-block">Health & Brain Center</span></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="fw pd bg-half-fade-brown pb-0">
            <div class="container-fluid">
                <div class="fw bg-clr-secondary pd clr-white">
                    <div class="container">
                        <div class="row gy-5 4">
                            <div class="col-12 col-md-4">
                                <div class="aspen-content" v-if="locale == 'en'">
                                    <h4 class="text-uppercase mb-4">Primary Care Services</h4>
                                    <ul class="f-mon list-square">
                                        <li>Routine check-ups, preventive care, <br class="d-lg-block d-none">primary care and management of <br class="d-lg-block d-none">chronic conditions.</li>
                                        <li>Monday - Saturday 9.00 am - 4.00 pm. </li>
                                    </ul>
                                </div>
                                <div class="aspen-content" v-else>
                                    <h4 class="text-uppercase mb-4">คลินิกตรวจรักษาโรคทั่วไป</h4>
                                    <ul class="f-mon list-square">
                                        <li>การตรวจรักษาโรคทั่วไป<br class="d-lg-block d-none"> การให้คำแนะนำในการดูแลสุขภาพเชิงป้องกัน<br class="d-lg-block d-none"> และการดูแลผู้มีภาวะโรคเรื้อรัง</li>
                                        <li>วันจันทร์ - วันเสาร์ เวลา 09.00 - 16.00 น.</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="aspen-content" v-if="locale == 'en'">
                                    <h4 class="text-uppercase mb-4">Aspen Health Assessment (AHA)</h4>
                                    <ul class="f-mon list-square">
                                        <li>In-depth evaluation of an older adult's<br class="d-lg-block d-none"> health, including mental, and social aspects.</li>
                                    </ul>
                                </div>
                                <div class="aspen-content"  v-else>
                                    <h4 class="text-uppercase mb-4">การตรวจประเมินสุขภาพแบบ<br class="d-lg-block d-none"> องค์รวมสำหรับผู้สูงวัย (AHA)</h4>
                                    <ul class="f-mon list-square">
                                        <li>การตรวจประเมินสุขภาพของผู้สูงวัยอย่างละเอียด รวมถึงโภชนาการ สุขภาวะการนอนหลับ ปัจจัยเสี่ยงต่อการหกล้ม ภาวะเปราะบาง และคุณภาพชีวิต</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="aspen-content" v-if="locale == 'en'">
                                    <h4 class="text-uppercase mb-4">Memory Assessment <br class="d-lg-block d-none">and Dementia Care</h4>
                                    <ul class="f-mon list-square">
                                        <li>Cognitive assessments for early <br class="d-lg-block d-none">detection of memory-related issues<br class="d-lg-block d-none"> and comprehensive care for<br class="d-lg-block d-none"> individuals with dementia</li>
                                    </ul>
                                </div>
                                <div class="aspen-content"  v-else>
                                    <h4 class="text-uppercase mb-4">การประเมินความจำ <br class="d-lg-block d-none">และการดูแล ภาวะสมองเสื่อม</h4>
                                    <ul class="f-mon list-square">
                                        <li>การตรวจประเมินความสามารถทางการรู้คิดเพื่อตรวจพบปัญหา ที่เกี่ยวข้องกับความจำ ตั้งแต่ระยะเริ่มแรก และการดูแลอย่าง ครอบคลุมสำหรับผู้ที่มีภาวะสมองเสื่อม</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="aspen-content" v-if="locale == 'en'">
                                    <h4 class="text-uppercase mb-4">Teleconsultation Services</h4>
                                    <ul class="f-mon list-square">
                                        <li>Remote healthcare services with<br class="d-lg-block d-none"> specialist for convenience and<br class="d-lg-block d-none"> accessibility.</li>
                                    </ul>
                                </div>
                                <div class="aspen-content"  v-else>
                                    <h4 class="text-uppercase mb-4">การให้คำปรึกษาและวินิจฉัยทางไกล</h4>
                                    <ul class="f-mon list-square">
                                        <li>บริการดูแลสุขภาพทางไกลโดยแพทย์ผู้เชี่ยวชาญ <br class="d-lg-block d-none">เพื่อความ สะดวกและเข้าถึงง่าย</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="aspen-content" v-if="locale == 'en'">
                                    <h4 class="text-uppercase mb-4">Pharmacy Services</h4>
                                    <ul class="f-mon list-square">
                                        <li>Medication reviews, consultations,<br class="d-lg-block d-none"> and coordination with pharmacists.</li>
                                    </ul>
                                </div>
                                <div class="aspen-content"  v-else>
                                    <h4 class="text-uppercase mb-4">บริการเภสัชกรรม</h4>
                                    <ul class="f-mon list-square">
                                        <li>การให้คำปรึกษาและคำแนะนำด้านการใช้ยา<br class="d-lg-block d-none"> 
                                            และการ ประสานงานกับเภสัชกร <br class="d-lg-block d-none"> 
                                            เพื่อป้องกันการใช้ยาหลายขนานที่ไม่เหมาะสม (polypharmacy)</li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-12 col-md-4">
                                <div class="aspen-content" v-if="locale == 'en'">
                                    <h4 class="text-uppercase mb-4"><span class="tosz line-height-02">24</span>-Hour Support </h4>
                                    <ul class="f-mon list-square">
                                        <li>Emergency & healthcare teams are<br class="d-lg-block d-none"> always on standby</li>
                                    </ul>
                                </div>
                                <div class="aspen-content" v-else>
                                    <h4 class="text-uppercase mb-4">การดูแลตลอด 24 ชั่วโมง</h4>
                                    <ul class="f-mon list-square">
                                        <li>รองรับการดูแลแบบฉุกเฉิน <br class="d-lg-block d-none"> โดยทีมผู้เชี่ยวชาญตลอด 24 ชั่วโมง</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section  pd pt-0 position-relative overflow-visible">
        <img src="/image/service/service-leaf-bottom-1.png" alt="" class="ele-service-leaf-3 abs">
        <img src="/image/service/service-leaf-bottom-2.png" alt="" class="ele-service-leaf-4 abs">
        <div class="container">
            <div class="aspen-content text-center">
                <h2 class="clr-primary text-uppercase line-bullet">Other Services, Facilities & Amenities</h2>
                <p class="f-mon t-md">In addition to the clinical services at The Aspen Tree, there are many other amenities and services available to guests for <br> convenience or leisure. Services have been thoughtfully-designed to enhance the guest’s experience.</p>
            </div>
            <div class="asp-list asp-list-3 pd ">
                <div class="asp-item">
                    <div class="thumb thumb-icon">
                        <div class="thumb-img">
                            <img src="/image/service/icon-service-6.png" alt="">
                        </div>
                        <div class="thumb-body">
                            <div class="thumb-h text-uppercase">Nail & Wound <br class="d-block">Service</div>
                        </div>
                    </div>
                </div>
                <div class="asp-item">
                    <div class="thumb thumb-icon">
                        <div class="thumb-img">
                            <img src="/image/service/icon-service-7.png" alt="">
                        </div>
                        <div class="thumb-body">
                            <div class="thumb-h text-uppercase">Golf Simulator</div>
                        </div>
                    </div>
                </div>
                <div class="asp-item">
                    <div class="thumb thumb-icon">
                        <div class="thumb-img">
                            <img src="/image/service/icon-service-8.png" alt="">
                        </div>
                        <div class="thumb-body">
                            <div class="thumb-h text-uppercase">Cinema theatre <br class="d-block">with <span class="h3">20</span> size person <br class="d-block">capacity</div>
                        </div>
                    </div>
                </div>
                <div class="asp-item">
                    <div class="thumb thumb-icon">
                        <div class="thumb-img">
                            <img src="/image/service/icon-service-9.png" alt="">
                        </div>
                        <div class="thumb-body">
                            <div class="thumb-h text-uppercase">Multi <br class="d-block">purpose Room</div>
                        </div>
                    </div>
                </div>
                <div class="asp-item">
                    <div class="thumb thumb-icon">
                        <div class="thumb-img">
                            <img src="/image/service/icon-service-10.png" alt="">
                        </div>
                        <div class="thumb-body">
                            <div class="thumb-h text-uppercase">Arts & Craft <br class="d-block">Studio</div>
                        </div>
                    </div>
                </div>
                <div class="asp-item">
                    <div class="thumb thumb-icon">
                        <div class="thumb-img">
                            <img src="/image/service/icon-service-11.png" alt="">
                        </div>
                        <div class="thumb-body">
                            <div class="thumb-h text-uppercase">therapy <br class="d-block">garden</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</template>


<style lang="scss" scoped>
.aspen-health-brain-center{border-bottom: 16px solid #B8A272;}

.aspen-health-brain-cont {
    overflow: visible;
    position: relative;
    z-index: 3;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(237,232,228,1) 42%, rgba(237,232,228,1) 100%);
}
.aspen-hl-health-brain {
    width: 70%;
    display: flex;
    justify-content: space-between;
    background-color: #B8A272;
    padding:1.563vw 3.646vw;
    margin: -70px auto 0;
    align-items: center;
    color: #fff;
    gap: 7.188vw;
   position: relative;
}
.aspen-hl-health-brain:before {
    content: "";
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    width: 1px;
    height: calc(100% - 60px);
    background-color: #fff;
}

.aspen-hl-inner{display: flex;align-items: center; gap: 20px;width: 50%;justify-content: center;text-transform: uppercase;position: relative;}
.aspen-hl-inner .unit{
    font-size: 4.167vw;
    width: auto;
    float: left;
    line-height: 0.2;
    position: relative;
    top: -10px;
}



.aspen-hl-overyear.aspen-content{
    display: flex;
    align-items: center;
    width: 80%;
    background-color: #FFFFFF;
    margin: 0 auto;
    float: none;
    justify-content: center;
    gap: 15px;
    color: #983C1D;
    text-transform: uppercase;
    border-radius: 35px 0 35px 0;
    padding: 0.781vw 2.083vw;
}
.aspen-hl-overyear .aspen-hl-overyear-inner{
    display: flex;
    align-items: center;
    gap: 15px;
}
.aspen-our-partner-cont{position: relative;}
.aspen-our-partner-cont::before{content: "";position: absolute;width: 100vw;height: 130%;left: calc(50% - 50vw);top: -30%;background-color: #fff;z-index: -1;}
.aspen-hl-overyear.aspen-content .text-large{line-height: .5;position: relative;top: -10px;}
.aspen-our-partner-hl {
    width: calc(100% - ((var(--bs-gutter-x) * 0.5) * 2));
    margin-top: 0;
    padding: 1.823vw 3.046vw 50px;
    background-color: #B8A272;
    color: #fff;
    position: absolute;
    bottom: 0;
    left: calc(var(--bs-gutter-x) * 0.5);
}
.aspen-our-partner > picture > img{
    position: relative;
}
.aspen-our-mission .container .bg-grav{position: relative;}
.aspen-our-mission .container .bg-grav::before{
    content: "";
    width: 110%;
    height: 80%;
    top: 0;
    left: -5%;
    position: absolute;
    border-radius: 10px;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(237,232,228,1) 42%, rgba(237,232,228,1) 100%);
    z-index: -1;
}
// .bg-grav > .fw{
//     width: 110%;
//     position: relative;
//     left: -5%;
// }

.aspen-partnership-list{width: 100%;display: flex;flex-wrap: wrap;align-content: center;gap: 48px;justify-content: center;}
.aspen-partnership-list .aspen-partnership-item{height: 73px;width: auto;display: flex;align-items: center;justify-content: center;}
.aspen-partnership-list .aspen-partnership-item img{max-height: 73px;object-fit: contain;object-position: center center;}

@media (max-width: 1439.98px){

}
@media (max-width: 1199.98px){
    .aspen-our-partner-p{padding:50px 2.646vw;}
}
@media (max-width: 991.98px){
    .aspen-hl-inner .unit{font-size: 7.073vw;}
    .aspen-hl-overyear.aspen-content .text-large{
        top: -5px;
    }

    .aspen-our-partner-p{padding:50px 0.646vw;}
    .aspen-our-partner-hl{width: 100%;left: 0;}
    .aspen-hl-health-brain{width: 100%;}
}

@media (max-width: 767.98px){
    .aspen-hl-health-brain{
        width: 100%;
        gap: 5.188vw;
        padding: 2.563vw 3.646vw;
    }
    .aspen-hl-overyear.aspen-content{
        flex-direction: column;
        padding: 20px;
        width: 100%;
        text-align: center;

    }
   
    .aspen-hl-health-brain:before{
        top: 20px;
        height: calc(100% - 40px);
    }
    .aspen-our-partner-hl{
        position: relative;
    }

    .sec-service-hl.clr-gd-dark-light {
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(236, 233, 228, .5) 42%, rgba(236, 233, 228, 1) 100%);
    .aspen-health-brain-center{border-bottom: 6px solid #B8A272;}
}
  
}
@media (max-width: 575.98px){
    .aspen-hl-overyear.aspen-content .text-large{
        font-size:14.37vw ;
    }
    .aspen-our-partner-hl{
        padding: 50px 30px;
    }

    .aspen-hl-health-brain{flex-direction: column;}
    .aspen-hl-inner{width: 100%;}
    .aspen-hl-health-brain:before{
        height: 1px;
        width: 100%;
        left: 0;
        top: calc(50% + (5.188vw / 2) );
        transform: translateY(-50%);
    }
    .aspen-our-partner {
        width: 100vw;
        left: calc(50% - 50vw);
        position: relative;
    }
        .aspen-our-partner-p {
        padding: 30px;
    }

    .aspen-partnership-list{
        gap: 25px;
    }
    .aspen-partnership-list .aspen-partnership-item{height: 52px;}
    .aspen-partnership-list .aspen-partnership-item img{
        max-height: 52px;
    }
   
}
</style>