<script setup lang="ts">
const localePath = useLocalePath()
import BannerSlide from '@/components/sections/banner-slide.vue';
import BannerGallery from '@/components/sections/banner-gallery.vue';
import InfoContact from '@/components/sections/info-contact.vue';

const { locale, locales,setLocale } = useI18n()
const { t } = useI18n({
  useScope: 'local'
})


import { gsap , TweenMax } from "gsap";
const breadcrumb = ref();
const header = ref();
const cont = ref();
const boxGlass = ref();

onMounted(() => {
    setTimeout(() => {
        TweenMax.fromTo(breadcrumb.value, 1.5, {opacity: 0, y:-50}, {opacity: 1,  y:0 , delay: .2});
        TweenMax.fromTo(header.value.querySelector('h5'), 1.5, {opacity: 0, y:50}, {opacity: 1,  y:0 , delay: .3});
        TweenMax.fromTo(header.value.querySelector('h1'), 1.5, {opacity: 0, y:50}, {opacity: 1,  y:0 , delay: .4});
        TweenMax.fromTo(cont.value.querySelector('p'), 1.5, {opacity: 0, y:50}, {opacity: 1,  y:0 , delay: .5});
        TweenMax.fromTo(boxGlass.value, 1.5, {opacity: 0, y:50}, {opacity: 1,  y:0 , delay: .5});
    }, 500);
});




</script>
<template>
    <nav aria-label="breadcrumb" ref="breadcrumb">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">Health & Brain Center</li>
                <li class="breadcrumb-item"><NuxtLink :to="localePath('health-brain-center/services')">Services</NuxtLink></li>
                <li class="breadcrumb-item active" aria-current="page">Long teme Care</li>
            </ol>
        </div>
    </nav>
    <section class="section st-content  w-100 float-left  position-relative  st-cont-fade ">
        <div class="asp-cont-fade">
            <div class="container">
                <div class="asp-cont-fade-inner" ref="boxGlass">
                    <div class="aspen-content text-center text-uppercase mb-4" ref="header">
                        <h5 class="clr-secondary mb-3">the aspen tree</h5>
                        <h1 v-if="locale == 'en'" class="clr-primary tosz">Long teme Care</h1>
                        <h1 v-else class="clr-primary tosz">ศูนย์ฟื้นฟูสมรรถภาพ<br class="d-block">และการดูแลระยะยาว</h1>
                    </div>
                    <div class="aspen-content text-center mb-2" ref="cont">
                        <p v-if="locale == 'en'" class="clr-secondary f-mon t-md">Why Longterm care?<br>
                            A place to call home for older adults that require supportive healthcare services<br class="d-lg-block d-none">
                            within a professional environment for an extended duration of stay.<br  class="d-lg-block d-none">
                            Services are designed to improve quality of life with the aim of regaining full functionality.</p>
                        <p v-else>ทำไมการดูแลระยะยาวจึงมีความสำคัญสำหรับผู้สูงวัย?<br>
                            ศูนย์ฟื้นฟูสมรรถภาพและการดูแลระยะยาวที่ ดิ แอสเพน ทรี เปรียบเสมือนบ้านหลังที่สองสำหรับผู้สูงวัย <br class="d-lg-block d-none">
                            ที่ต้องการการดูแลสุขภาพอย่างต่อเนื่องจากบุคลากรทางการแพทย์ผู้เชี่ยวชาญ <br class="d-lg-block d-none">
                            ซึ่งบริการต่างๆ ถูกออกแบบมาอย่างพิถีพิถันเพื่อส่งเสริมคุณภาพชีวิตของผู้สูงวัย <br class="d-lg-block d-none">
                            โดยมีเป้าหมายหลักเพื่อช่วยให้ผู้สูงวัย กลับมามีสมรรถภาพที่ดีขึ้น</p>
                    </div>
                </div>
            </div>
        </div>
        <picture class="fw" ref="boxImg">
            <source media="(max-width:767px)" srcset="/image/long-teme-care/hero-banner-m.jpg">
            <img class="fw advance-h-img" src="/image/long-teme-care/hero-banner-d.jpg" alt="">
        </picture>

    </section>

    <section class="section st-content  pd position-relative clr-gd-dark-light">
        <div class="container">
            <div class="thumb thumb-half">
                <div class="thumb-img"><img src="/public/image/long-teme-care/thumb-img-half-1.jpg" alt=""></div>
                <div class="thumb-body aspen-content hr-y text-center">
                    <div class="inner-cont-thumb" v-if="locale == 'en'">
                        <h6 class="text-uppercase clr-secondary mb-2">Long Term Care enables <span style="display:inline-block;">clients to focus on</span> </h6>
                        <h3 class="text-uppercase clr-primary">recovery , improve <br>limitations sfrom disability , <br>manage chronic conditions</h3>
                        <hr>
                        <p class="f-mon t-md clr-secondary">that may require professional supervised management <br>from specialist doctors, trained Care Angels and nurses.</p>
                    </div>
                    <div class="inner-cont-thumb" v-else>
                        <h6 class="text-uppercase clr-secondary mb-2">การดูแลระยะยาวที่ ดิ แอสเพน ทรี</h6>
                        <h3 class="text-uppercase clr-primary">มุ่งเน้นช่วยให้ผู้รับบริการสามารถฟื้นฟู <br>สภาพร่างกายหลังการผ่าตัดหรือจากการบาดเจ็บที่รุนแรง <br>และควบคุมอาการของโรคเรื้อรังต่างๆ</h3>
                        <hr>
                        <p class="f-mon t-md clr-secondary">ซึ่งอาจจำเป็นต้องอยู่ภายใต้การดูแล<br><span style="display: inline-block;">และการติดตาม</span>อย่างใกล้ชิดจาก<span style="display: inline-block;">ผู้เชี่ยวชาญทางการแพทย์</span></p>
                    </div>

                    
                </div>
            </div>
        </div>
    </section>
    <section class="section st-content  pd pt-0 position-relative">
        <img   class="abs ele-long-teme-care-leaf-1" src="/image/clinics/ele-clinics-leaf-1.png" alt="">
        <img   class="abs ele-long-teme-care-leaf-2" src="/image/clinics/ele-clinics-leaf-2.png" alt="">
        <div class="container">
            <div class="aspen-content text-center ">
                <h3 v-if="locale == 'en'" class=" clr-secondary text-uppercase">Key services and equipment<br class="d-md-none d-block"> have been carefully <br class="d-lg-block d-none"><span style="display: inline-block;">selected to support </span> <br class="d-md-none d-block">OLDER ADULTS</h3>
                <h3 v-else class=" clr-secondary text-uppercase">การบริการและเครื่องมือต่างๆ <br class="d-block">ผ่านการคัดสรรมาอย่างพิถีพิถันเพื่อรองรับสภาวะต่างๆ</h3>
            </div>
            <div class="asp-list pd pt-3 justify-content-center">
                <div class="asp-item">
                    <div class="thumb thumb-icon">
                        <div class="thumb-img">
                            <img src="/image/long-teme-care/icon-long-teme-care-1.png" alt="">
                        </div>
                        <div class="thumb-body">
                            <div  v-if="locale == 'en'" class="thumb-h text-uppercase">neurological <br class="d-block">disorders</div>
                            <div v-else class="thumb-h text-uppercase">ความผิดปกติทาง<br class="d-block">ระบบประสาท</div>
                        </div>
                    </div>
                </div>
                <div class="asp-item">
                    <div class="thumb thumb-icon">
                        <div class="thumb-img">
                            <img src="/image/long-teme-care/icon-long-teme-care-2.png" alt="">
                        </div>
                        <div class="thumb-body">
                            <div   v-if="locale == 'en'"  class="thumb-h text-uppercase">orthopedic <br class="d-block">conditions</div>
                            <div v-else class="thumb-h text-uppercase">ความผิดปกติทาง<br class="d-block">ระบบกระดูก</div>
                        </div>
                    </div>
                </div>
                <div class="asp-item">
                    <div class="thumb thumb-icon">
                        <div class="thumb-img">
                            <img src="/image/long-teme-care/icon-long-teme-care-3.png" alt="">
                        </div>
                        <div class="thumb-body">
                            <div  v-if="locale == 'en'"  class="thumb-h text-uppercase">chronic <br class="d-block">illnesses</div>
                            <div v-else class="thumb-h text-uppercase">ความผิดปกติทาง<br class="d-block">กล้ามเนื้อไปจนถึงโรคเรื้อรัง</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="aspen-content text-center">
                <p v-if="locale == 'en'"  class="f-mon clr-secondary t-md">Personalized requirements on a case-by-case<br> basis to ensure an optimal level of care is provided</p>
                <p  v-else>ดิ แอสเพน ทรี มีความพร้อมใน การวางแผนการดูแลเพื่อตอบโจทย์<br>ความต้องการเฉพาะบุคคล เพื่อให้มั่นใจว่าผู้รับบริการจะได้รับการดูแล ที่ดีที่สุด</p>
            </div>
        </div>
    </section>
 
    <InfoContact />
</template>


<style lang="scss" scoped>
.aspen-health-brain-center {
    border-bottom: 16px solid #B8A272;
}

.aspen-health-brain-cont {
    overflow: visible;
    position: relative;
    z-index: 3;
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(237, 232, 228, 1) 42%, rgba(237, 232, 228, 1) 100%);
}

.aspen-hl-health-brain {
    width: 70%;
    display: flex;
    justify-content: space-between;
    background-color: #B8A272;
    padding: 1.563vw 3.646vw;
    margin: -70px auto 0;
    align-items: center;
    color: #fff;
    gap: 7.188vw;
    position: relative;
}

.aspen-hl-health-brain:before {
    content: "";
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    width: 1px;
    height: calc(100% - 60px);
    background-color: #fff;
}

.aspen-hl-inner {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 50%;
    justify-content: center;
    text-transform: uppercase;
    position: relative;
}

.aspen-hl-inner .unit {
    font-size: 4.167vw;
    width: auto;
    float: left;
    line-height: 0.2;
    position: relative;
    top: -10px;
}



.aspen-hl-overyear.aspen-content {
    display: flex;
    align-items: center;
    width: 80%;
    background-color: #FFFFFF;
    margin: 0 auto;
    float: none;
    justify-content: center;
    gap: 15px;
    color: #983C1D;
    text-transform: uppercase;
    border-radius: 35px 0 35px 0;
    padding: 0.781vw 2.083vw;
}

.aspen-hl-overyear .aspen-hl-overyear-inner {
    display: flex;
    align-items: center;
    gap: 15px;
}

.aspen-our-partner-cont {
    position: relative;
}

.aspen-our-partner-cont::before {
    content: "";
    position: absolute;
    width: 100vw;
    height: 130%;
    left: calc(50% - 50vw);
    top: -30%;
    background-color: #fff;
    z-index: -1;
}

.aspen-hl-overyear.aspen-content .text-large {
    line-height: .5;
    position: relative;
    top: -10px;
}

.aspen-our-partner-hl {
    width: calc(100% - ((var(--bs-gutter-x) * 0.5) * 2));
    margin-top: 0;
    padding: 1.823vw 3.046vw 50px;
    background-color: #B8A272;
    color: #fff;
    position: absolute;
    bottom: 0;
    left: calc(var(--bs-gutter-x) * 0.5);
}

.aspen-our-partner>picture>img {
    position: relative;
}

.aspen-our-mission .container .bg-grav {
    position: relative;
}

.aspen-our-mission .container .bg-grav::before {
    content: "";
    width: 110%;
    height: 80%;
    top: 0;
    left: -5%;
    position: absolute;
    border-radius: 10px;
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(237, 232, 228, 1) 42%, rgba(237, 232, 228, 1) 100%);
    z-index: -1;
}

// .bg-grav > .fw{
//     width: 110%;
//     position: relative;
//     left: -5%;
// }

.aspen-partnership-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    gap: 48px;
    justify-content: center;
}

.aspen-partnership-list .aspen-partnership-item {
    height: 73px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.aspen-partnership-list .aspen-partnership-item img {
    max-height: 73px;
    object-fit: contain;
    object-position: center center;
}

@media (max-width: 1439.98px) {}

@media (max-width: 1199.98px) {
    .aspen-our-partner-p {
        padding: 50px 2.646vw;
    }
}

@media (max-width: 991.98px) {
    .aspen-hl-inner .unit {
        font-size: 7.073vw;
    }

    .aspen-hl-overyear.aspen-content .text-large {
        top: -5px;
    }

    .aspen-our-partner-p {
        padding: 50px 0.646vw;
    }

    .aspen-our-partner-hl {
        width: 100%;
        left: 0;
    }

    .aspen-hl-health-brain {
        width: 100%;
    }
}

@media (max-width: 767.98px) {
    .aspen-hl-health-brain {
        width: 100%;
        gap: 5.188vw;
        padding: 2.563vw 3.646vw;
    }

    .aspen-hl-overyear.aspen-content {
        flex-direction: column;
        padding: 20px;
        width: 100%;
        text-align: center;

    }

    .aspen-hl-health-brain:before {
        top: 20px;
        height: calc(100% - 40px);
    }

    .aspen-our-partner-hl {
        position: relative;
    }

}

@media (max-width: 575.98px) {
    .aspen-hl-overyear.aspen-content .text-large {
        font-size: 14.37vw;
    }

    .aspen-our-partner-hl {
        padding: 50px 30px;
    }

    .aspen-hl-health-brain {
        flex-direction: column;
    }

    .aspen-hl-inner {
        width: 100%;
    }

    .aspen-hl-health-brain:before {
        height: 1px;
        width: 100%;
        left: 0;
        top: calc(50% + (5.188vw / 2));
        transform: translateY(-50%);
    }

    .aspen-our-partner {
        width: 100vw;
        left: calc(50% - 50vw);
        position: relative;
    }

    .aspen-our-partner-p {
        padding: 3.646vw;
    }

    .aspen-partnership-list {
        gap: 25px;
    }

    .aspen-partnership-list .aspen-partnership-item {
        height: 52px;
    }

    .aspen-partnership-list .aspen-partnership-item img {
        max-height: 52px;
    }
}
</style>