<script setup lang="ts">
const localePath = useLocalePath()
import InfoContact from '@/components/sections/info-contact.vue';

const { locale, locales,setLocale } = useI18n()
const { t } = useI18n({
  useScope: 'local'
})


const images2: { img: string,img_m: string, title: string }[] = [
    { img: '/image/department/thumb-img-1.jpg',img_m: '/image/department/thumb-img-1-m.jpg', 
        title: locale.value == 'en' ? 'Stroke and <br>Parkinsonism' : 'โรคหลอดเลือดสมอง <br>และ อาการพาร์กินสัน'
    },
    { img: '/image/department/thumb-img-2.jpg',img_m: '/image/department/thumb-img-2-m.jpg', 
        title: locale.value == 'en' ?  'Spinal Cord <br>Injury' : 'อาการบาดเจ็บที่ไขสันหลัง'
    },
    { img: '/image/department/thumb-img-3.jpg',img_m: '/image/department/thumb-img-3-m.jpg', 
        title: locale.value == 'en' ?  'Post <br>Operation' : 'การฟื้นฟูสุขภาพภายหลังการผ่าตัด'
    },
    { img: '/image/department/thumb-img-4.jpg',img_m: '/image/department/thumb-img-4-m.jpg', 
        title: locale.value == 'en' ?  'Cardiopulmonary <br>Issue' : 'การฟื้นฟูระบบหัวใจและหลอดเลือด'
    },

];


import { gsap , TweenMax } from "gsap";
const breadcrumb = ref();
const header = ref();
const cont = ref();
const boxGlass = ref();

onMounted(() => {
    setTimeout(() => {
        TweenMax.fromTo(breadcrumb.value, 1.5, {opacity: 0, y:-50}, {opacity: 1,  y:0 , delay: .2});
        TweenMax.fromTo(header.value.querySelector('h5'), 1.5, {opacity: 0, y:50}, {opacity: 1,  y:0 , delay: .3});
        TweenMax.fromTo(header.value.querySelector('h1'), 1.5, {opacity: 0, y:50}, {opacity: 1,  y:0 , delay: .4});
        TweenMax.fromTo(boxGlass.value, 1.5, {opacity: 0, y:50}, {opacity: 1,  y:0 , delay: .5});
    }, 500);
});




</script>
<template>
    <nav aria-label="breadcrumb" ref="breadcrumb">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">Health & Brain Center</li>
                <li class="breadcrumb-item"><NuxtLink :to="localePath('health-brain-center/services')">Services</NuxtLink></li>
                <li class="breadcrumb-item active" aria-current="page">REHABILITATION DEPARTMENT</li>
            </ol>
        </div>
    </nav>
    <section class="section st-content  w-100 float-left  position-relative  st-cont-fade ">
        <div class="asp-cont-fade" ref="boxGlass">
            <div class="container">
                <div class="asp-cont-fade-inner" >
                    <div class="aspen-content text-center text-uppercase" :class="locale == 'th' ? 'mb-3' : ''" ref="header">
                        <h5 class="clr-secondary">the aspen tree</h5>
                        <h1 v-if="locale == 'en'" class="clr-primary tosz">REHABILITATION <br class="d-block">DEPARTMENT</h1>
                        <h1 v-else class="clr-primary tosz">ศูนย์เวชศาสตร์ฟื้นฟู</h1>
                    </div>
                    <div class="row" >
                        <div class="col-12 col-md-6">
                            <div class="aspen-content mb-2">
                                <p v-if="locale == 'en'" class="clr-secondary f-mon t-md">The Rehabilitation Center provides comprehensive services to support older adults to optimize functionality, reduce disabilities and support recovery from injury or post-surgery, depending on the level of rehabilitation required. </p>
                                <p v-else  class="clr-secondary f-mon t-md">ศูนย์เวชศาสตร์ฟื้นฟู ที่ ดิ แอสเพน ทรี มุ่งเน้นการดูแลสุขภาพของผู้สูงวัยแบบองค์รวม ไม่ว่าจะเป็นการ ฟื้นฟูด้านการเคลื่อนไหว การลดความบกพร่องทางร่างกายและการฟื้นฟูสมรรถภาพหลังการบาดเจ็บ หรือหลังการผ่าตัด </p>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="aspen-content mb-2" >
                                <p  v-if="locale == 'en'" class="clr-secondary f-mon t-md">Our natural, holistic approach coupled with a selected medical-grade rehabilitation equipment provides sustainable long-term outcomes for older adults, to effectively manage pain, improve balance, flexibility and motor skills.</p>
                                <p v-else class="clr-secondary f-mon t-md">โดยการรักษาจะเป็นไปตามแนวทางที่แพทย์กำหนด ด้วยรูปแบบการรักษาแบบ ธรรมชาติบำบัดและองค์รวม ควบคู่กับอุปกรณ์ฟื้นฟูและเครื่องมือที่ทันสมัย เราจึงสามารถสร้างผลลัพธ์ การรักษาที่ยั่งยืนในระยะยาว ช่วยบรรเทาอาการปวดอย่างได้ผล เพิ่มความสมดุล ความยืดหยุ่น และ สมรรถภาพในการเคลื่อนไหวให้แก่ผู้สูงวัยให้กลับไปใช้ชีวิตประจำได้ปกติสุขมากที่สุด</p>
                            </div>
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>
        <picture class="fw" ref="boxImg">
            <source media="(max-width:767px)" srcset="/image/department/hero-banner-m.jpg">
            <img class="fw advance-h-img" src="/image/department/hero-banner-d.jpg" alt="">
        </picture>

    </section>

    <section class="st st-content fw pd clr-gd-dark-light">
        
       <div class="container-fluid">
            <div class="aspen-content text-center text-uppercase pd pt-0 position-relative">
                <img src="/image/department/ele-department-1.png" alt="" class="abs ele-department-leaf-1">
            <img src="/image/department/ele-department-2.png" alt="" class="abs ele-department-leaf-2">
                <h3  v-if="locale == 'en'"  class="clr-secondary text-uppercase">REHABILITATION</h3>
                <h3   v-else class="clr-secondary text-uppercase">การรักษาด้วยเวชศาสตร์ฟื้นฟ</h3>
                <h2 v-if="locale == 'en'"   class="clr-primary text-uppercase"><span>is suited for all older adults<br> who wish to improve their physical<br> capacity or those who suffer from <br>the following conditions</span></h2>
                <h2 v-else  class="clr-primary text-uppercase"><span>เหมาะสำหรับผู้สูงวัย<br>ทุกท่านที่ต้องการเพิ่มสมรรถภาพร่างกาย <br>หรือสำหรับผู้ที่มีปัญหาภาวะโรคต่างๆ</span></h2>

            </div>
            <div class="fw">
                <div class="row gy-4">
                    <div class="col-12 col-md-6 col-lg-3" v-for="(item, index) in images2" :key="index">
                        <div class="thumb thumb-oncard">
                            <div class="thumb-img">
                                <picture class="fw">
                                    <source media="(max-width:991px)" :srcset="item.img_m">
                                    <img class="fw" :src="item.img" alt="" >
                                </picture>
                            </div>
                            <div class="thumb-body">
                                <div class="thumb-h h4 t-md text-uppercase" v-html="item.title"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="aspen-content text-center text-uppercase pd">
                <h3 v-if="locale == 'en'"  class="clr-secondary">The Rehabilitation department provides the following <br>specially-designed services and facilities</h3>
                <h3 v-else class="clr-secondary">การรักษาด้วยเวชศาสตร์ฟื้นฟูที่ <span style="display: inline-block;">ดิ แอสเพน ทรี</span> <br class="d-md-block d-none">มีบริการและสิ่งอำนวยความสะดวกที่ออกแบบมาเฉพาะ <br class="d-md-none d-block">สำหรับผู้สูงวัย <br class="d-md-block d-none">และพร้อมตอบโจทย์ความต้องการเฉพาะบุคคลได้</h3>
            </div>
        </div>
        <div class="container-fluid">
            <div class="fw bg-clr-secondary pd clr-white">
                <div class="container">
                    <div class="row gy-5 4">
                        <div class="col-12 col-md-4">
                            <div v-if="locale == 'en'"   class="aspen-content">
                                <h4 class="text-uppercase mb-4">Pain relief</h4>
                                <ul class="f-mon list-square">
                                    <li>Based on different relief modalities, including manual therapies</li>
                                </ul>
                            </div>
                            <div v-else  class="aspen-content">
                                <h4 class="text-uppercase mb-4">การรักษาอาการปวด</h4>
                                <ul class="f-mon list-square">
                                    <li>ด้วยวิธีการต่างๆ รวมถึงการนวดบำบัด</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div v-if="locale == 'en'"   class="aspen-content">
                                <h4 class="text-uppercase mb-4">Training & Exercise</h4>
                                <ul class="f-mon list-square">
                                    <li>Which involves mobility assessment programs</li>
                                </ul>
                            </div>
                            <div v-else  class="aspen-content">
                                <h4 class="text-uppercase mb-4">โปรแกรมฝึกสมรรถภาพและออกกำลังกาย</h4>
                                <ul class="f-mon list-square">
                                    <li>ซึ่งรวมถึงการประเมินความสามารถในการเคลื่อนไหว</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div v-if="locale == 'en'"   class="aspen-content">
                                <h4 class="text-uppercase mb-4">Tailor-made Activity Program</h4>
                                <ul class="f-mon list-square">
                                    <li>Targeting common symptoms such as office syndrome, neck & back pain, including stroke and neurology exercise programs</li>
                                </ul>
                            </div>
                            <div v-else  class="aspen-content">
                                <h4 class="text-uppercase mb-4">โปรแกรมกิจกรรมที่ออกแบบเฉพาะ</h4>
                                <ul class="f-mon list-square">
                                    <li>เพื่อบรรเทาอาการที่พบบ่อยในผู้สูงวัย เช่น อาการปวดจาก การทำงานประจำ ปวดคอและหลัง รวมถึงโปรแกรมออกกำลังกายสำหรับผู้ป่วยโรคหลอดเลือด สมองและโรคทางระบบประสาท</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div v-if="locale == 'en'"   class="aspen-content">
                                <h4 class="text-uppercase mb-4">Dynamic Gym</h4>
                                <ul class="f-mon list-square">
                                    <li>For gait and balance training</li>
                                </ul>
                            </div>
                            <div v-else  class="aspen-content">
                                <h4 class="text-uppercase mb-4">ห้อง Dynamic Gym</h4>
                                <ul class="f-mon list-square">
                                    <li>เพื่อการฟื้นฟูผู้ที่มีปัญหาการทรงตัวและการเดิน</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div v-if="locale == 'en'"   class="aspen-content">
                                <h4 class="text-uppercase mb-4">Occupational therapy training</h4>
                                <ul class="f-mon list-square">
                                    <li>For swallow training and ADL</li>
                                </ul>
                            </div>
                            <div v-else  class="aspen-content">
                                <h4 class="text-uppercase mb-4">กิจกรรมบำบัด</h4>
                                <ul class="f-mon list-square">
                                    <li>กระตุ้นการเคี้ยวและการกลืนอาหารในผู้ที่มีความบกพร่องในการใช้ ชีวิตประจำวัน (ADL - Activities of Daily Living)</li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-12 col-md-4">
                            <div v-if="locale == 'en'"   class="aspen-content">
                                <h4 class="text-uppercase mb-4">Hydrotherapy bath</h4>
                                <ul class="f-mon list-square">
                                    <li>That offers massage and a multisensory experience</li>
                                </ul>
                            </div>
                            <div v-else  class="aspen-content">
                                <h4 class="text-uppercase mb-4">อ่างสปาบำบัด (Hydrotherapy bath)</h4>
                                <ul class="f-mon list-square">
                                    <li>เพื่อความรู้สึกผ่อนคลายจากการนวดและกระตุ้นประสาทสัมผัสต่างๆ ทางน ้า</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        </div>
        
   </section>
 
    <InfoContact />
</template>

<style scoped>
.ele-department-leaf-1{
    left: -15px;
    bottom: -50px;
    width: 11%;
    pointer-events: none;
}
.ele-department-leaf-2{
    right: -15px;
    top: 0;
    width: 10%;
    pointer-events: none;
}
@media (max-width: 1359.98px) {
.ele-department-leaf-1{
    width: 13%;
}
.ele-department-leaf-2{
    width: 13%;
} 
}
</style>