<script lang="ts" setup>
import listSocial from './social.vue'
const { locale, locales,setLocale } = useI18n()
const switchLocalePath = useSwitchLocalePath()
const localePath = useLocalePath()


const router = useRouter();
const footerClick = ref(null);


const nav = [
    { label: 'Home', to: '/', sub: false },
    { label: 'Living', to: '/living', sub: true },
    { label: 'health & brain center', to: '/health-brain-center', sub: true },
    { label: 'Location', to: '/location', sub: false },
];

const isActive = (route: string) => router.currentRoute.value.path === route;

function footerClickActive(has: any, index: any) {
    if (has) {
        if (footerClick.value !== null && footerClick.value == index) {
            footerClick.value = null;
        } else {
            footerClick.value = index
        }
    } else {
        footerClick.value = null;
    }
}

// const openMenu = ref(false);
// watch(openMenu, (newValue: any) => {
//   const body = document.querySelector('body');
//   if (newValue == true) {
// 	body?.classList.add('onClick');
//   } else {
// 	body?.classList.remove('onClick');
//   }
// });
</script>

<template>
    <footer class="pt-5 section clr-secondary fw bg-clr-third ">
        <img src="/assets/image/skin/bg-footer-leaf.png" alt="" class="abs ele-footer-bg-leaf">
        <div class="fw">
            <div class="container">
                <div class="row gy-md-4">
                    <div class="col-12 col-md-4 col-lg-3 order-ft-m-1">
                        <h6 class="text-uppercase mb-2 has-sub h6" @click="footerClickActive(true, 1)"><span>Living</span></h6>
                        <div class="aspen-content footer-toggle" :class="footerClick == 1 ? 'active' : ''">
                            <ul class="text-capitalize">
                                <li><a class="small-1" href="#">Residential Philosophy</a>
                                    <ul>
                                        <li><a class="small-1" href="#">Healthy Living</a></li>
                                        <li><a class="small-1" href="#">F&B</a></li>
                                        <li><a class="small-1" href="#">Wellness Plan</a></li>
                                    </ul>
                                </li>
                                <li><a class="small-1" href="#">Awards</a></li>
                                <li><a class="small-1" href="#">Partnerships</a></li>
                                <li><a class="small-1" href="#">Products</a></li>
                                <li><a class="small-1" href="#">Contact us</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-12 col-md-4 col-lg-3 order-ft-m-2">
                        <h6 class="text-uppercase mb-2 has-sub h6 d-md-none d-block" @click="footerClickActive(true, 2)"><span>Health & brain center</span></h6>
                        <NuxtLink  class="text-uppercase mb-2 has-sub h6 d-md-block d-none" :to="localePath('/health-brain-center')">Health & brain center</NuxtLink>
                        <div class="aspen-content footer-toggle" :class="footerClick == 2 ? 'active' : ''">
                            <ul class="text-capitalize">
                                <li class="d-md-none d-block"><NuxtLink class="small-1" :to="localePath('/health-brain-center')">Overview</NuxtLink></li>
                                <li><NuxtLink class="small-1" :to="localePath('/health-brain-center/services')">Services</NuxtLink>
                                    <ul>
                                        <li><NuxtLink  class="small-1" :to="localePath('/health-brain-center/services/clinics')">Clinics</NuxtLink></li>
                                        <li><NuxtLink  class="small-1" :to="localePath('/health-brain-center/services/day-center')">Day Center</NuxtLink></li>
                                        <li><NuxtLink  class="small-1" :to="localePath('/health-brain-center/services/rehabilitation-department')">Rehabilitation</NuxtLink></li>
                                        <li><NuxtLink  class="small-1" :to="localePath('/health-brain-center/services/long-teme-care')">Long term care</NuxtLink></li>
                                        <li><NuxtLink  class="small-1">Home care</NuxtLink></li>
                                    </ul>
                                </li>
                                <li><a class="small-1" href="#">Soothe Wellness</a></li>
                                <li><a class="small-1" href="#">Health Education</a></li>
                                <li><a class="small-1" href="#">Contact us</a></li>
                                <li><a class="small-1" href="#">Location</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-12 col-md-4 col-lg-3 order-ft-m-3">
                        <h6 class="text-uppercase mb-2 has-sub h6" @click="footerClickActive(true, 3)"><span>VISIT US</span>
                        </h6>
                        <div class="aspen-content footer-toggle" :class="footerClick == 3 ? 'active' : ''">
                            <ul class="text-capitalize aspen-content">
                                <li><a class="small-1" href="#">The Aspen Tree The Fore Start</a>
                                    <ul>
                                        <li><a class="small-1" href="#">Project Info</a></li>
                                        <li><a class="small-1" href="#">Activity / Healthy Living</a></li>
                                        <li><a class="small-1" href="#">F&B</a></li>
                                        <li><a class="small-1" href="#">Wellness Plan</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-12 col-lg-3 order-ft-m-0">
                        <div class="aspen-content text-start w-auto  mb-md-0 mb-5">
                            <NuxtLink :to="localePath('/')" class="navbar-logo fw mb-1">
                                <img class="svg w-auto"  src="/assets/image/skin/logo-theaspentree.svg" alt="">
                            </NuxtLink>
                            <h4 class="clr-secondary">THE ASPEN TREE <br class="d-block"> THE MOST BEAUTIFUL<br class="d-block"> CHAPTER IN LIFE</h4>
                            <div class="fw box-contact-phone t-md f-big-caslon mt-2">
                                <div class="btn-icon t-md f-mon"><span class="justify-content-start t-bold">
                                    <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M16.4759 13.3899C16.6745 13.5892 16.8234 13.8324 16.9105 14.1C16.9976 14.3675 17.0205 14.6518 16.9773 14.9298C16.9341 15.2078 16.826 15.4718 16.6618 15.7003C16.4976 15.9288 16.2819 16.1154 16.0322 16.245C14.6052 17.0077 12.9425 17.2026 11.3777 16.7907C7.22472 15.7452 1.2553 9.77577 0.209824 5.62276C-0.202142 4.05799 -0.00721183 2.39532 0.755512 0.968266C0.885131 0.718544 1.07174 0.502857 1.30022 0.338669C1.52871 0.174482 1.79264 0.0664103 2.07066 0.0232049C2.34869 -0.0200005 2.63297 0.00287496 2.90051 0.0899791C3.16804 0.177083 3.41131 0.325968 3.6106 0.524576L5.38281 2.29594C5.63838 2.54894 5.81131 2.87343 5.87883 3.22665C5.94635 3.57987 5.90529 3.94527 5.76105 4.27469C5.60321 4.6443 5.3791 4.98191 5.09977 5.27087C3.07341 7.29723 9.70411 13.9279 11.7296 11.9007C12.0186 11.6204 12.3565 11.3954 12.7266 11.2369C13.056 11.0924 13.4215 11.0512 13.7748 11.1188C14.128 11.1863 14.4525 11.3594 14.7054 11.6151L16.4759 13.3899Z" fill="#BF1E2E"/>
                                    </svg>

                                
                                    <span class="t f-big-caslon t-md h4">Call Us :</span><a href="tel:+028595995" class="clr-secondary t-md ms-2"><span class="">02-859-5995</span></a></span></div>
                                
                            </div>
                        </div>
                        <listSocial/>

                       
                    </div>

                    <div class="col-12 order-ft-m-4">
                        <listSocial class="list-social-m mb-4"/>
                        <div class="w-100 d-flex justify-content-between mt-5 border-top py-3 copy-right">
                            <p class="f-mon f-12 ">©2024 The Aspen Tree Co.,Ltd. All Rights Reserved</p>
                            <ul class="box-pdpa">
                                <li class="item-pdpa"><a class="text-nowrap f-mon f-12 clr-secondary" target="_blank" href="https://mqdc.com/th/term">Terms of Service</a></li>
                                <li class="item-pdpa"><a class="text-nowrap f-mon f-12 clr-secondary" target="_blank" href="https://mqdc.com/th/privacy-project">Privacy Policy</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</template>



<style>
.box-pdpa{width: 50%;display: flex;gap:15px;justify-content: flex-end;}
.item-pdpa{width: auto;float: left;}
footer img.abs.ele-footer-bg-leaf {
    bottom: 0;
    right: 0;
    width: 600px;
    pointer-events: none;
}

footer .aspen-content ul>li::before {
    content: "";
    width: 3px;
    height: 3px;
    border-radius: 100px;
    background-color: #6D7FAE;
    position: absolute;
    top: 11px;
    left: -14px;
}

.copy-right {
    border-color: #5B4A42 !important;
}

@media (max-width: 991.98px) {
    .order-ft-m-0 {
        order: 0;
    }

    .order-ft-m-1 {
        order: 1;
    }

    .order-ft-m-2 {
        order: 2;
    }

    .order-ft-m-3 {
        order: 3;
    }

    .order-ft-m-4 {
        order: 4;
    }
}
@media (max-width: 767.98px) {


    .footer-toggle {
        position: absolute;
        visibility: hidden;
        opacity: 0;
        transition: all ease .4s;
    }

    .footer-toggle.active {
        position: relative;
        visibility: visible;
        opacity: 1;
    }

    footer .has-sub {
        cursor: pointer;
    }

    footer .has-sub span {
        position: relative;
    }

    footer .has-sub span::after {
        content: "";
        background: url("data:image/svg+xml,%3Csvg width='11' height='7' viewBox='0 0 11 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10.9553 1.42777L5.61045 6.95144C5.55088 7.01619 5.44829 7.01619 5.38541 6.95144L0.0471617 1.42777C-0.0157191 1.36644 -0.0157191 1.28125 0.0471617 1.2165L1.22866 1.16522e-07L5.38872 4.30376C5.44829 4.34465 5.55088 4.34465 5.61376 4.30376L9.77382 1.4622e-08L10.9553 1.2165C11.0149 1.27784 11.0149 1.36303 10.9553 1.42777Z' fill='%235B4A42'/%3E%3C/svg%3E%0A") no-repeat;
        width: 11px;
        height: 11px;
        position: absolute;
        right: -20px;
        top: 50%;
        transform: translateY(-50%);
    }

    .copy-right {
        flex-direction: column-reverse;
    }

    .copy-right>.row {
        margin-bottom: 15px;
    }

    footer img.abs.ele-footer-bg-leaf{width: 550px;}

    .box-pdpa {justify-content: flex-start;margin-bottom: 10px;}
}
</style>