<script lang="ts" setup>
const { locale, locales,setLocale } = useI18n()
const switchLocalePath = useSwitchLocalePath()
const localePath = useLocalePath()
const config = useRuntimeConfig()
import { gsap , TweenMax } from "gsap";
const router = useRouter();
const menuClick = ref(null);

const outerMenuActive = ref(false);

const nav = [
	{ label: 'Home' , to: locale.value == 'en' ? '/' : '/'+locale.value ,sub: false },
	// { label: 'Living', to: '/living' ,sub: true },
	{ label: 'health & brain center', to:'/health-brain-center' ,sub: true},
	// { label: 'Location', to: 'https://mqdc.link/3QmtO8C' ,sub: false},
];

function changeLocale(code: string) {
  setLocale(code);
  setTimeout(() => {
	window.location.reload();
  }, 200);
}

// const isActive = (route: string) => {
// 	router.currentRoute.value.path === route;
// }
const winW = ref<number>(0); 
	onMounted(() => {
    winW.value = window.innerWidth; // Access innerWidth after the window is mounted

	const routeActive = document.querySelectorAll('.router-link-active');
	routeActive.forEach(element => {
		const closestLiSub = element.closest('.li-sub');
		if (closestLiSub) {
			closestLiSub.classList.add('active');
			if (closestLiSub.querySelector('.has-sub')) {
				closestLiSub.querySelector('span.has-sub.menu-mobile').classList.add('active');
			}
			
		}
	});
});

const isActive = (route: string) => {
	
	if (route == '/' || route == '/th') {
		return router.currentRoute.value.path === route;
	}else{
		
			const segments = router.currentRoute.value.path.split('/').filter((segment: string) => segment !== '');
			const routeArray = route.split('/').filter(segment => segment !== '');
			for (let i = 0; i < segments.length; i++) {
				if (segments[i] === routeArray[i]) {
					if (segments[0] == 'th' && routeArray[0] == 'th' ) {
						if (segments[i+1] === routeArray[i+1]) {
							return true;
						}else{
							return false;
						}
					}else{
						return true
					}
					
				}else{
					return false;
				}
			}
		// 	if (winW.value >= 992) {
		// }
		
	}
   
}

function menuClickActive(has:any,index: any){
	if (has) {
        menuClick.value = menuClick.value !== null && menuClick.value === index ? null : index;
    } else {
        menuClick.value = null;
    }
}
const header = ref();
onMounted(() => {
    TweenMax.fromTo(header.value, 1.2, {opacity: 0, y: -50}, {opacity: 1, y: 0, delay: 1});
	const menuItems = document.querySelectorAll('.mega-menu .active');
	if (menuItems.length > 0) {
		menuItems.forEach(item => {
			const isItem = item.closest('.mega-menu')
			isItem.closest('li').classList.add('active');
		});
	}else{
		
	}
	
});

watch(router.currentRoute, (to, from) => {
  if (from.path != to.path) {
	TweenMax.fromTo(header.value, 1.2, {opacity: 0, y: -50}, {opacity: 1, y: 0, delay: 1});
  }
});

const openMenu = ref(false);
watch(openMenu, (newValue: any) => {
	
  const body = document.querySelector('body');
  if (newValue == true) {
	body?.classList.add('onClick');
  } else {
	body?.classList.remove('onClick');
  }
});

function checkDesktopActive(index: any){
    // Check if window is defined (i.e., if we're in the browser environment)
    if (typeof window !== 'undefined') {
        const windowWidth = window.innerWidth;
        if (windowWidth >= 992) {
            return menuClick.value == index ? 'active' : '';
        }
    }
    // Return empty string if window is not defined or width is less than 992
    return '';
}

const availableLocales = computed(() => {
  return locales.value.filter(i => i.code !== locale.value)
})


const apiUrl = `/api/general`;
let data;
let rows;
try {
    const response = await useFetch(apiUrl);

    data = await response.data.value;
   console.log(data);
   
} catch (error) {
    console.error('Fetch Error:', error);
}


const getFullImagePath = (path) => {
  return `${config.public.assetBaseUrl}${path}`
}
</script>

<template>
	<header ref="header">
		<div class="container">
			<div class="navbar">
				<div class="navbar-logo">
					<NuxtLink  :to="`${ locale == 'en' ? '/' : '/'+locale}`"> 
						<img class="svg" :src="getFullImagePath(data.data[0].Logo.filename_disk)" />
					</NuxtLink>
					<button @click="openMenu = true ,menuClick = null" class="menu-click">menu</button>
				</div>
				<div class="navbar-menu" :class="openMenu ? 'active' : ''">
					<div class="navbar-menu-group">
						<div class="head-toggle-menu ">
							<NuxtLink  to="/"> 
								<img class="svg"  src="/assets/image/skin/logo-theaspentree.svg" />
							</NuxtLink>
							<button @click="openMenu = false , menuClick = null" class="close-menu"><span><img src="/image/skin/icon-close.svg" alt=""><span>close</span></span></button>
						</div>
						<ul>
							<li v-for="(item, index) in nav" :key="index"   :class="[isActive(localePath(item.to)) ? 'active' : '',checkDesktopActive(index) , item.sub ? 'li-sub' : '']" >
								<NuxtLink :class="item.sub ? 'has-sub' : ''" :to="localePath(item.to)">{{ item.label }} </NuxtLink>
								
								<NuxtLink class="menu-mobile" v-if="!item.sub" :to="localePath(item.to)" :class=" isActive(localePath(item.to)) ? 'active' : ''"  @click="openMenu = false  , menuClick = null">{{ item.label }} </NuxtLink>
								<span class="has-sub menu-mobile" v-else :class="isActive(localePath(item.to)) || menuClick == index ? 'active' : ''" @click="menuClickActive(item.sub,index)">{{ item.label }}
								{{ isActive(localePath(item.to)) }}
								</span>
								
								<div class="mega-menu" v-if="item.sub">
									<div class="container">
										<!-- <div class="sub-menu" v-if="index == 1">
											<div class="row justify-content-md-center">
												<div class="col-12 col-lg-4">
													<NuxtLink  class="menu-title menu-title-overview" :class="{'active': isActive(localePath(item.to))}" @click="openMenu = false  , menuClick = null" :to="localePath(item.to)">Overview</NuxtLink>
													<NuxtLink class="menu-title">Residential/Philosophy</NuxtLink>
													<ul class="menu-5-5">
														<li><a href="">Activity/Healthy Living</a></li>
														<li><a href="">F&B</a></li>
														<li><a href="">Wellness Plan</a></li>
													</ul>
												</div>
												<div class="col-12 col-lg-4">
													<ul>
														<li><a href="">Awards</a></li>
														<li><a href="">Partnerships</a></li>
														<li><a href="">Product</a></li>
														<li><a href="">Enquire</a></li>
													</ul>
												</div>
											</div>
										</div> -->
										<div class="sub-menu" v-if="index == 1">
											<div class="row justify-content-md-center">
												<div class="col-12 col-lg-4">
													<NuxtLink  class="menu-title menu-title-overview" :class="{'active': isActive(localePath(item.to))}" @click="openMenu = false  , menuClick = null" :to="localePath(item.to)">Overview</NuxtLink>
													<NuxtLink  :class="{'active': isActive(localePath('/health-brain-center/services'))}" @click="openMenu = false  , menuClick = null"  :to="localePath('/health-brain-center/services')" class="menu-title">SERVICES</NuxtLink>
													<ul class="menu-5-5">
														<li><NuxtLink @click="openMenu = false  , menuClick = null" :class="{'active': isActive(localePath('/health-brain-center/services/clinics'))}" :to="localePath('/health-brain-center/services/clinics')">Clinics</NuxtLink></li>
														<li><NuxtLink @click="openMenu = false  , menuClick = null" :class="{'active': isActive(localePath('/health-brain-center/services/day-center'))}" :to="localePath('/health-brain-center/services/day-center')">DAY CENTER</NuxtLink></li>
														<li><NuxtLink @click="openMenu = false  , menuClick = null" :class="{'active': isActive(localePath('/health-brain-center/services/rehabilitation-department'))}" :to="localePath('/health-brain-center/services/rehabilitation-department')">REHABILITATION</NuxtLink></li>
														<li><NuxtLink @click="openMenu = false  , menuClick = null" :class="{'active': isActive(localePath('/health-brain-center/services/long-teme-care'))}" :to="localePath('/health-brain-center/services/long-teme-care')">Long term care</NuxtLink></li>
														<!-- <li><NuxtLink @click="openMenu = false  , menuClick = null" to="">HEALTH EDUCATION</NuxtLink></li> -->
													</ul>
												</div>
												<div class="col-12 col-lg-4 d-none">
													<NuxtLink  class="menu-title">SOOTHE WELLNESS</NuxtLink>
													<ul class="menu-5-5">
														<li><NuxtLink to="">SPA</NuxtLink></li>
														<li><NuxtLink to="">ACTIVITIES</NuxtLink></li>
													</ul>
												</div>
												<div class="col-12 col-lg-4">
													<!-- <ul>
														<li><a href="">Wellness Center Sooth</a></li>
														<li><a href="">Location</a></li>
														<li><a href="">Heath Education</a></li>
														<li><a href="">Enquire</a></li>
													</ul> -->
												</div>
											</div>
										</div>
										<!-- <div class="sub-menu" v-if="index == 3">
											<div class="row justify-content-md-center">
												<div class="col-12 col-lg-4">
													<NuxtLink  class="menu-title menu-title-overview" :class="{'active': isActive(localePath(item.to))}" @click="openMenu = false  , menuClick = null" :to="localePath(item.to)">Overview</NuxtLink>
													<NuxtLink class="menu-title">ATF</NuxtLink>
													<ul class="menu-5-5">
														<li><a href="">Project Info</a></li>
														<li><a href="">Activity/Healthy Living</a></li>
														<li><a href="">F&B</a></li>
														<li><a href="">Wellness Plan</a></li>
													</ul>
												</div>
											</div>
										</div> -->
									</div>
								</div>
							</li>
							<li>
								<a class="d-block" href="https://mqdc.link/3QmtO8C" target="_blank" rel="noopener noreferrer">location</a>
							</li>
						</ul>
					</div>
					<div class="navbar-lang navbar-lang-m">
						<ul>
							<li v-for="(local, key) in locales" :key="key" :class="{'active': locale === local.code}">
								<button  @click="changeLocale(local.code)">{{ local.code }}</button>
							</li>
						</ul>
						<div class=" box-contact-phone t-md f-big-caslon">
							<div class="btn-icon t-md f-mon"><span class="justify-content-start t-bold">
								<svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M16.4759 13.3899C16.6745 13.5892 16.8234 13.8324 16.9105 14.1C16.9976 14.3675 17.0205 14.6518 16.9773 14.9298C16.9341 15.2078 16.826 15.4718 16.6618 15.7003C16.4976 15.9288 16.2819 16.1154 16.0322 16.245C14.6052 17.0077 12.9425 17.2026 11.3777 16.7907C7.22472 15.7452 1.2553 9.77577 0.209824 5.62276C-0.202142 4.05799 -0.00721183 2.39532 0.755512 0.968266C0.885131 0.718544 1.07174 0.502857 1.30022 0.338669C1.52871 0.174482 1.79264 0.0664103 2.07066 0.0232049C2.34869 -0.0200005 2.63297 0.00287496 2.90051 0.0899791C3.16804 0.177083 3.41131 0.325968 3.6106 0.524576L5.38281 2.29594C5.63838 2.54894 5.81131 2.87343 5.87883 3.22665C5.94635 3.57987 5.90529 3.94527 5.76105 4.27469C5.60321 4.6443 5.3791 4.98191 5.09977 5.27087C3.07341 7.29723 9.70411 13.9279 11.7296 11.9007C12.0186 11.6204 12.3565 11.3954 12.7266 11.2369C13.056 11.0924 13.4215 11.0512 13.7748 11.1188C14.128 11.1863 14.4525 11.3594 14.7054 11.6151L16.4759 13.3899Z" fill="#BF1E2E"/>
								</svg>

							
								<span class="t f-big-caslon t-md h4">Call Us :</span><a href="tel:+028595995" class="clr-secondary t-md ms-2"><span class="">02-859-5995</span></a></span></div>
							
						</div>
					</div>
					
				</div>
				<div class="navbar-lang">
					<ul>
						<li v-for="(local, key) in locales" :key="key" :class="{'active': locale == local.code}" ><button  @click="setLocale(local.code)">{{ local.code }}</button></li>
						<!-- <li :class="{'active': locale == 'en'}"><button  @click="switchLocalePath('en')">en</button></li>
						<li :class="{'active': locale == 'th'}"><button  @click="setLocale('th')">th</button></li> -->
					</ul>
				</div>
			</div>
		</div>
	</header>
</template>


<style>

@media (max-width: 991.98px) {
	.head-toggle-menu > a svg {
		height: 60px;
		width: 100%;
	}
}
</style>

<style scoped>
header {
	position: fixed;
	background: rgb(252, 246, 241);
	background: linear-gradient(180deg, rgba(252, 246, 241, 1) 0%, rgba(255, 255, 255, 1) 61%);
	z-index: 20;
	width: 100%;
	left: 0;
	top: 0;
	border-bottom: 4px solid #BF1E2E;
	font-family: 'Big Caslon';
}
header .container{padding: 0;}
.head-toggle-menu {display: none;}
.bg-header {
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	width: auto;
	pointer-events: none;
}

.navbar {
	align-items: flex-end;
	padding: 0;
	flex-wrap: nowrap;
}

.navbar-logo {
	width: auto;
}

.navbar-logo a,.navbar-logo button,.close-menu {color: #5B4A42;}


.navbar-menu > .navbar-menu-group > ul {
	display: flex;
	align-items: center;
	text-transform: uppercase;
	font-weight: 500;
	gap: 0;
}


.navbar-menu > .navbar-menu-group > ul > li {
	position: relative;
	padding: 50px 40px 15px 40px;
	cursor: pointer;
}



.navbar-menu > .navbar-menu-group > ul > li  ul li a.router-link-active.router-link-exact-active {
    color: #bf1f2f;
}



.navbar-menu > .navbar-menu-group > ul > li::before {
	content: "";
	position: absolute;
	background: rgb(191, 30, 46);
	background: linear-gradient(180deg, rgba(191, 30, 46, 1) 0%, rgba(230, 100, 95, 1) 100%);
	width: 100%;
	height: 100%;
	left: 0;
	bottom: 0;
	transition: all ease .5s;
	opacity: 0;
}

.navbar-menu > .navbar-menu-group > ul > li > a {
	position: relative;
}


.navbar-menu > .navbar-menu-group > ul > li.active::before {
	opacity: 1;
}





@media (min-width: 991.98px) {




	.navbar-menu > .navbar-menu-group > ul > li.li-sub:after {
		content: "";
		width: 100vw;
		height: 100dvh;
		position: fixed;
		left: 0;
		top: 92px;
		background: #00000045;
		z-index: -22;
		pointer-events: none;
		opacity: 0;
		visibility: hidden;
		transition: all ease .4s;
	}

	.navbar-menu > .navbar-menu-group > ul > li.li-sub:hover:after {
		opacity: 1;
		visibility: visible;
	}

	
	.navbar-menu > .navbar-menu-group > ul > li:hover > a{
		color: #BF1E2E;
	}
	.navbar-menu > .navbar-menu-group > ul > li > .mega-menu::after{
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top:-10px;
		background: transparent;
		visibility: hidden;
		z-index: -1;
		pointer-events: none;
	}

	.navbar-menu > .navbar-menu-group > ul > li:hover > .mega-menu::after{
		visibility: visible;
		pointer-events: all;
	}

	.navbar-menu > .navbar-menu-group > ul > li:hover > .mega-menu{
		visibility: visible;
		opacity: 1;
		pointer-events: all;
	}
	.menu-title-overview{display: none;}
}

.navbar-menu > .navbar-menu-group > ul > li.active > a,
.navbar-menu > .navbar-menu-group > ul > li.active > span {
	color: #F0EBE7;
	position: relative;
}
.navbar-lang-m{display: none;}
.navbar-lang ul {
	display: flex;
	align-items: center;
	gap: 10px;
}

.navbar-lang ul li {
	position: relative;
	text-transform: uppercase;
	margin-bottom: 15px;
}

.navbar-lang ul li:first-child {
	padding-right: 10px;
}

.navbar-lang ul li:first-child::before {
	content: "";
	position: absolute;
	height: 100%;
	width: 1px;
	background-color: #ccc;
	top: 0;
	right: 0;
}
.navbar-menu > .navbar-menu-group > ul > li > a,.navbar-menu > .navbar-menu-group > ul > li > span{
	color: #5B4A42;
}
.navbar-lang ul li button {background-color: transparent;border: 0;padding: 0;text-transform: uppercase;}
.navbar-lang ul li.active button ,.navbar-lang ul li.active a {
	color: #ED1C2F;
}



.mega-menu {
	position: fixed;
    background-color: #EDE8E4;
    top: 92px;
    padding: 50px 0;
    text-transform: uppercase;
    width: 100vw;
    left: calc(50% - 50vw);
	visibility:hidden;
	opacity: 0;
	transition: all ease .4s;
	float: left;
	pointer-events: none;
}
.mega-menu.active{
	visibility: visible;
	opacity: 1;
	pointer-events: all;
}

.mage-bg {
    position: absolute;
    width: 100%;
    height: 100vh;
    background: transparent;
    top: 0;
    left: 0;
    z-index: -1;
}


.mega-menu ul{
	width: 100%;
	float: left;

}

.mega-menu .menu-title {
    width: 100%;
    float: left;
    padding-bottom: 10px;
	margin-bottom: 10px;
    border-bottom: 1px solid #B8A272;
}
/* .mega-menu .menu-title.active{color: #BF1E2E;} */
.mega-menu ul:not(.menu-5-5) li{
	width: 100%;
    float: left;
    padding-bottom: 10px;
	margin-bottom: 10px;
    border-bottom: 1px solid #B8A272;
}
.mega-menu ul.menu-5-5 {
    display: flex;
    flex-wrap: wrap;
	padding-left: 20px;
   
}
.mega-menu ul.menu-5-5 > li{position: relative;}
.mega-menu ul.menu-5-5 > li::before {
	content: "";
	position: absolute;
    top: 8px;
    width: 7px;
    height: 7px;
    background: #5B4A42;
    border-radius: 0;
    transform: rotate(45deg);
    left: -18px;
}

.mega-menu ul.menu-5-5 > li{width: 100%;float: left;padding-bottom: 10px;}
.sub-menu {
    width: 100%;
    float: left;
    position: relative;
}
.menu-click{display: none;}


.navbar-menu-group .has-sub {
    position: relative;
}
.navbar-menu-group .has-sub::after{
	content: "";
	background: url("data:image/svg+xml,%3Csvg width='11' height='7' viewBox='0 0 11 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10.9553 1.42777L5.61045 6.95144C5.55088 7.01619 5.44829 7.01619 5.38541 6.95144L0.0471617 1.42777C-0.0157191 1.36644 -0.0157191 1.28125 0.0471617 1.2165L1.22866 1.16522e-07L5.38872 4.30376C5.44829 4.34465 5.55088 4.34465 5.61376 4.30376L9.77382 1.4622e-08L10.9553 1.2165C11.0149 1.27784 11.0149 1.36303 10.9553 1.42777Z' fill='%235B4A42'/%3E%3C/svg%3E%0A") no-repeat;
	width: 11px;
	height: 9px;
	position: absolute;
	right: -20px;
	top: 50%;
	transform: translateY(-50%);
}

.navbar-menu-group .has-sub:hover::after{
	background-image: url("data:image/svg+xml,%3Csvg width='11' height='7' viewBox='0 0 11 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10.9553 1.42777L5.61046 6.95144C5.55088 7.01619 5.44829 7.01619 5.38541 6.95144L0.0471626 1.42777C-0.0157182 1.36644 -0.0157182 1.28125 0.0471626 1.2165L1.22866 1.16522e-07L5.38872 4.30376C5.44829 4.34465 5.55088 4.34465 5.61376 4.30376L9.77382 1.4622e-08L10.9553 1.2165C11.0149 1.27784 11.0149 1.36303 10.9553 1.42777Z' fill='%23BF1E2E'/%3E%3C/svg%3E%0A");
}
li.active .has-sub::after{
	content: "";
	background-image: url("data:image/svg+xml,%3Csvg width='11' height='7' viewBox='0 0 11 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10.9553 1.42777L5.61045 6.95144C5.55088 7.01619 5.44829 7.01619 5.38541 6.95144L0.0471617 1.42777C-0.0157191 1.36644 -0.0157191 1.28125 0.0471617 1.2165L1.22866 1.16522e-07L5.38872 4.30376C5.44829 4.34465 5.55088 4.34465 5.61376 4.30376L9.77382 1.4622e-08L10.9553 1.2165C11.0149 1.27784 11.0149 1.36303 10.9553 1.42777Z' fill='white'/%3E%3C/svg%3E%0A");

}

.menu-mobile{display: none;}
@media (max-width: 1199.98px) {
	.navbar-menu > .navbar-menu-group > ul > li {
		padding: 50px 30px 15px 30px;
	}
}

@media (max-width: 991.98px) {
	.navbar-menu > .navbar-menu-group > ul > li  .mega-menu .col-12 > a.router-link-active.router-link-exact-active {
		color: #bf1f2f;
	}
	header{border-bottom: 3px solid #BF1E2E;}
	.navbar-logo {
		width: 100%;
		display: flex;
		justify-content: space-between;
	}
	
	.mega-menu ul.menu-5-5>li:before{ left: 0;   top: 24px;}
	.navbar-menu > .navbar-menu-group > ul > li > a:not(.menu-mobile){display: none;}
	.menu-mobile{display: block;}
	.navbar-menu {
		position: fixed;
		height: 100dvh;
		height: 0;
		top: 0;
		width: 100vw;
		left: 0;
		font-size: 18px; 
		background: rgb(252,246,242);
		background: linear-gradient(180deg, rgba(252,246,242,1) 0%, rgba(255,255,255,1) 16%);
		visibility: hidden;
		opacity: 0;
		transition: all ease .5s;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	.navbar-menu.active{
		height: 100dvh;
		visibility: visible;
		opacity: 1;
	}

	.navbar-menu > .navbar-menu-group > ul{
		flex-direction: column;
		max-height: calc(100dvh - 161px);
		overflow: hidden;
		overflow-y: scroll;
	}
	.navbar-lang ul li{margin-bottom: 0;}

	header > .container{max-width: none;padding: 0 15px;}
	.head-toggle-menu {
		width: 100%;
		display: flex;
		justify-content: space-between;
		padding: 0 15px;
	}
	.head-toggle-menu > a img,.head-toggle-menu > a svg{height: 60px;width: 100%;}

	.menu-click{display: block;border: 0;background-color: transparent;font-size: 16px;text-transform: uppercase;padding: 0;}
	button.close-menu {
		border: 0;
		background: none;
		text-transform: uppercase;
		padding: 20px 0 0;
		font-size: 16px;
	}
	.close-menu span{display: flex;flex-direction: column;align-items: center;gap: 8px;}
	.navbar-menu > .navbar-menu-group{
		width: 100%;
		float: left;
		height: 100%;
		max-height: calc(100% - 57px);
	}
	.navbar-menu > .navbar-menu-group > ul > li{padding: 0;width: 100%;    float: left;padding: 0 20px;margin-top: -1px;}
	.navbar-menu > .navbar-menu-group > ul > li.active{
		background-color: #EDE8E4;
	}
	.navbar-menu > .navbar-menu-group > ul > li > a,.navbar-menu > .navbar-menu-group > ul > li > span{width: 100%;padding: 16px 0;float: left;border-bottom: 1px solid #B8A272;font-size: 18px;z-index: 2;} 
	.mega-menu{width: 100%;left: 0;top: auto;padding: 0;height: 0;transition: none;}
	.mega-menu .container{max-width: none;}
	.navbar-menu > .navbar-menu-group > ul > li  a,.navbar-menu > .navbar-menu-group > ul > li  span{
		font-size: 16px;
	}
	.navbar-menu.active > .navbar-menu-group > ul > li span.has-sub.menu-mobile.active + .mega-menu{height: 100%;position: relative;visibility: visible;opacity: 1;pointer-events: all;}
	.navbar-menu.active > .navbar-menu-group > ul > li span.has-sub.menu-mobile.active + .mega-menu:before{content: "";position: absolute;width: 100vw;height: 100%;top: 0;left: calc(50% - 50vw);background-color: #EDE8E4;z-index: -1;}
	.mage-bg{display: none;}
	.navbar-menu > .navbar-menu-group > ul > li::before {display: none;}
	.navbar-menu > .navbar-menu-group > ul > li > span::before , .navbar-menu > .navbar-menu-group > ul > li > a::before {
		content: "";
		position: absolute;
		background: rgb(191, 30, 46);
		background: linear-gradient(180deg, rgba(191, 30, 46, 1) 0%, rgba(230, 100, 95, 1) 100%);
		width: 100vw;
		height: 100%;
		top: 0;
		left: calc(50% - 50vw);
		bottom: 0;
		transition: all ease .5s;
		opacity: 0;
		z-index: -1;
	}
	.navbar-menu > .navbar-menu-group > ul > li > span.active ,
	.navbar-menu > .navbar-menu-group > ul > li > a.active{
		border-color: transparent;
		color: #F0EBE7;
	}
	.navbar-lang ul li button{font-size: 16px;}
	.navbar-menu > .navbar-menu-group > ul > li > span.active::before ,
	.navbar-menu > .navbar-menu-group > ul > li > a.active::before,
	.navbar-menu > .navbar-menu-group > ul > li > span.router-link-active ::before ,
	.navbar-menu > .navbar-menu-group > ul > li > a.router-link-active ::before
	{
		opacity: 1;
	}
	.sub-menu{padding-left: 10px;}
	.sub-menu .col-12{padding: 0;}
	.mega-menu .menu-title{padding: 16px 0;font-size: 18px;margin-bottom: 0;}
	.mega-menu ul.menu-5-5 > li{
		width: 100%;
		float: left;
		padding-left: 20px;
		
	}
	.mega-menu ul:not(.menu-5-5) > li{
		width: 100%;
		float: left;
		border-bottom: 0;
	}
	.mega-menu ul.menu-5-5 > li , .mega-menu ul:not(.menu-5-5) > li{
		margin-bottom: 0;
		padding-bottom: 0;
	}
	.mega-menu ul.menu-5-5 > li:last-child{}
	.mega-menu ul:last-child > li:last-child > a ,.mega-menu ul:not(.menu-5-5) > li:last-child > a{border-bottom: 0;	}
	.mega-menu ul.menu-5-5 > li > a,
	.mega-menu ul:not(.menu-5-5) > li > a{width: 100%;float: left; padding: 16px 0 16px 0;border-bottom: 1px solid #B8A272;}

	.navbar-menu > .navbar-menu-group > ul > li:hover > a,
	.navbar-menu > .navbar-menu-group > ul > li:hover > span{
		color: #BF1E2E;
	}

	.navbar-menu > .navbar-menu-group > ul > li:hover > a.active,
	.navbar-menu > .navbar-menu-group > ul > li:hover > span.active{
		color: #F0EBE7;
	}
	.navbar-lang{display: none;}
	.navbar-lang.navbar-lang-m{display: flex;    padding: 15px;width: 100%;float: left;align-items: center;justify-content: space-between;}



	.navbar-menu-group .has-sub::after{right: 0;}
	.navbar-menu-group li:hover .has-sub::after{background-image: url("data:image/svg+xml,%3Csvg width='11' height='7' viewBox='0 0 11 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10.9553 1.42777L5.61046 6.95144C5.55088 7.01619 5.44829 7.01619 5.38541 6.95144L0.047163 1.42777C-0.0157184 1.36644 -0.0157184 1.28125 0.047163 1.2165L1.22866 1.16522e-07L5.38872 4.30376C5.44829 4.34465 5.55088 4.34465 5.61376 4.30376L9.77382 1.4622e-08L10.9553 1.2165C11.0149 1.27784 11.0149 1.36303 10.9553 1.42777Z' fill='%235B4A42'/%3E%3C/svg%3E%0A");}
	.navbar-menu-group li .has-sub.active::after{background-image: url("data:image/svg+xml,%3Csvg width='11' height='7' viewBox='0 0 11 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.0446784 5.57223L5.38954 0.0485556C5.44912 -0.0161882 5.55171 -0.0161882 5.61459 0.0485556L10.9528 5.57223C11.0157 5.63356 11.0157 5.71875 10.9528 5.7835L9.77134 7L5.61128 2.69624C5.55171 2.65535 5.44912 2.65535 5.38624 2.69624L1.22618 7L0.0446784 5.7835C-0.0148929 5.72216 -0.0148929 5.63697 0.0446784 5.57223Z' fill='%23F0EBE7'/%3E%3C/svg%3E%0A");}
}


</style>