<template>
   <div class="list-social">
        <ul class="fw">
            <li>
                <a target="_blank"  href="https://www.facebook.com/mqdcforallwellbeing">
                    <svg width="9" height="18" viewBox="0 0 9 18" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_215_632)">
                            <path
                                d="M0 5.13071H1.84491V4.17608C1.84491 3.1062 1.95676 2.30835 2.18189 1.78361C2.40702 1.2578 2.82081 0.828988 3.42504 0.496462C4.02821 0.165726 4.79102 0 5.71383 0C6.63664 0 7.58706 0.143534 8.49287 0.431675L8.04368 2.77582C7.51485 2.6484 7.00583 2.58361 6.51771 2.58361C6.02958 2.58361 5.69189 2.69887 5.48269 2.92544C5.27243 3.15309 5.16836 3.58906 5.16836 4.23514V5.13107H7.6536V7.77624H5.16836V17.8361H1.84491V7.77624H0V5.13107V5.13071Z"
                                fill="#BF1E2E" />
                        </g>
                        <defs>
                            <clipPath id="clip0_215_632">
                                <rect width="8.49323" height="17.8358" fill="white" />
                            </clipPath>
                        </defs>
                    </svg>
                </a>
            </li>
            <li>
                <a target="_blank"  href="https://www.instagram.com/mqdcforallwellbeing/">
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_215_636)">
                            <path
                                d="M10.1565 19.6161C11.058 19.6161 11.9595 19.6264 12.861 19.6133C13.7378 19.6005 14.6175 19.5968 15.4774 19.3898C17.5651 18.8874 18.8369 17.5781 19.3117 15.4894C19.4714 14.7879 19.5022 14.0711 19.5059 13.3563C19.5174 11.2866 19.5191 9.21647 19.5055 7.14632C19.4998 6.29333 19.4578 5.43869 19.2105 4.61162C18.6357 2.69085 17.3446 1.54159 15.405 1.09843C14.7035 0.938365 13.9867 0.90627 13.2725 0.902155C11.1979 0.890222 9.12339 0.888576 7.04886 0.902155C6.22472 0.907916 5.39935 0.947417 4.59702 1.17496C2.62042 1.7354 1.43832 3.0406 0.995189 5.03051C0.809625 5.86457 0.801396 6.71592 0.796047 7.56439C0.785349 9.35308 0.784526 11.1418 0.796047 12.9305C0.801807 13.8118 0.808801 14.6969 1.01494 15.5619C1.51732 17.669 2.83807 18.9479 4.94676 19.4153C5.76184 19.596 6.5942 19.6013 7.42328 19.6129C8.33423 19.6256 9.24518 19.6157 10.1561 19.6157L10.1565 19.6161ZM10.1508 2.53037C10.1508 2.53983 10.1508 2.5493 10.1512 2.55876C10.905 2.55876 11.6587 2.54765 12.4117 2.56164C13.2737 2.5781 14.1402 2.55917 14.9915 2.7287C16.3439 2.99822 17.2372 3.77838 17.612 5.12062C17.7787 5.71809 17.814 6.33407 17.819 6.94882C17.835 8.87576 17.8494 10.8027 17.8416 12.7292C17.8383 13.5193 17.8379 14.3138 17.6795 15.0948C17.4038 16.4523 16.6196 17.3456 15.27 17.7164C14.6952 17.8744 14.1036 17.9151 13.5127 17.9176C11.2761 17.927 9.03945 17.9295 6.80281 17.9155C6.31401 17.9126 5.81944 17.8674 5.33887 17.7781C3.96668 17.5234 3.06396 16.7288 2.69077 15.366C2.52702 14.7673 2.49081 14.1513 2.48793 13.537C2.47806 11.3479 2.47847 9.15886 2.48793 6.9698C2.4904 6.40813 2.5262 5.84564 2.65251 5.29303C2.86934 4.34375 3.36226 3.59116 4.22302 3.11179C4.84431 2.76574 5.53019 2.63818 6.23131 2.61678C7.53725 2.57687 8.84401 2.55753 10.15 2.52955L10.1508 2.53037Z"
                                fill="#BF1E2E" />
                            <path
                                d="M10.156 5.44146C7.47092 5.45339 5.32974 7.60624 5.34249 10.2804C5.35525 12.9427 7.52482 15.0815 10.1968 15.0655C12.8535 15.0495 14.9811 12.8773 14.9655 10.1965C14.9503 7.57455 12.7807 5.42952 10.156 5.44146ZM10.1511 7.11658C11.8747 7.11288 13.2794 8.51067 13.2913 10.2418C13.3032 11.9683 11.894 13.383 10.1593 13.3854C8.4222 13.3879 7.02244 11.9885 7.02285 10.25C7.02285 8.52219 8.42261 7.12069 10.1515 7.11658H10.1511Z"
                                fill="#BF1E2E" />
                            <path
                                d="M5.13785 6.3754C5.74927 6.39104 6.26193 5.89973 6.28168 5.27964C6.30102 4.67188 5.80111 4.14602 5.19011 4.1312C4.56635 4.11598 4.04751 4.60728 4.03229 5.22779C4.01706 5.84789 4.50998 6.35977 5.13826 6.3754H5.13785Z"
                                fill="#BF1E2E" />
                        </g>
                        <defs>
                            <clipPath id="clip0_215_636">
                                <rect width="18.7276" height="18.7276" fill="white"
                                    transform="matrix(-1 0 0 1 19.5156 0.892578)" />
                            </clipPath>
                        </defs>
                    </svg>

                </a>
            </li>
            <li>
                <a target="_blank"  href="https://twitter.com/mqdc_official">
                    <svg width="23" height="19" viewBox="0 0 23 19" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_215_640)">
                            <path
                                d="M0.809326 16.6854C2.43637 16.8366 3.99345 16.602 5.48315 15.9421C6.15804 15.6432 6.7856 15.2656 7.36276 14.795C6.99342 14.7626 6.63128 14.7178 6.27738 14.619C5.9245 14.5208 5.58808 14.384 5.26916 14.2039C4.94714 14.0218 4.65085 13.8042 4.38233 13.5491C4.11639 13.297 3.8844 13.0167 3.68687 12.708C3.4878 12.3968 3.32833 12.0671 3.20694 11.6967C3.25683 11.6998 3.2949 11.6993 3.33142 11.7055C3.92606 11.8032 4.51556 11.7739 5.09992 11.633C5.13027 11.6258 5.15908 11.6129 5.18891 11.5939C3.83604 11.2662 2.80931 10.5126 2.14367 9.28884C1.7872 8.63299 1.62259 7.92672 1.62105 7.15872C1.94615 7.3259 2.2661 7.4617 2.60303 7.55275C2.93636 7.64277 3.27484 7.69627 3.62565 7.69678C2.3232 6.73383 1.63956 5.45966 1.66168 3.83365C1.67197 3.08778 1.8767 2.39077 2.25376 1.72925C4.02843 3.85114 6.23005 5.2894 8.89412 6.00441C9.7475 6.23332 10.6163 6.36758 11.5155 6.4077C11.5026 6.329 11.4934 6.26521 11.4815 6.20246C11.0361 3.81771 12.5535 1.53995 14.8606 1.02093C16.4758 0.65776 17.8899 1.08162 19.0807 2.23542C19.1348 2.28789 19.18 2.31258 19.2613 2.29509C20.178 2.10168 21.0432 1.774 21.859 1.31516C21.8935 1.29561 21.9284 1.27761 21.9881 1.24572C21.9696 1.30384 21.9598 1.33985 21.947 1.37483C21.5982 2.32029 20.9974 3.06463 20.1548 3.61503C20.1229 3.63612 20.0915 3.65824 20.0653 3.69168C20.9269 3.6032 21.75 3.37635 22.554 3.03479C22.5493 3.0852 22.519 3.11247 22.4979 3.14282C21.9346 3.94734 21.2602 4.64434 20.4701 5.22767C20.3889 5.28786 20.3642 5.34804 20.3698 5.44629C20.3961 5.89124 20.3765 6.33568 20.3451 6.77961C20.2906 7.54915 20.1635 8.30634 19.9681 9.05171C19.413 11.1628 18.4223 13.0424 16.9486 14.6571C15.2639 16.5038 13.2007 17.7162 10.7686 18.299C10.2007 18.4354 9.62559 18.5243 9.04535 18.5881C8.3504 18.6643 7.65339 18.6709 6.95844 18.6396C5.39107 18.5686 3.88903 18.2049 2.45386 17.5686C1.91991 17.332 1.40448 17.0593 0.908091 16.7517C0.874655 16.7312 0.842248 16.709 0.809326 16.6879L0.809326 16.6854ZM12.8807 16.8397C12.8894 16.8397 12.8982 16.8402 12.9069 16.8407C12.9059 16.8232 12.9044 16.8057 12.9033 16.7877C12.8972 16.7877 12.891 16.7877 12.8848 16.7877C12.8833 16.8052 12.8817 16.8222 12.8802 16.8397H12.8807Z"
                                fill="#BF1E2E" />
                            <path
                                d="M12.8806 16.5813C12.8822 16.5638 12.8837 16.5468 12.8852 16.5293C12.8914 16.5293 12.8976 16.5293 12.9038 16.5293C12.9048 16.5468 12.9058 16.5643 12.9074 16.5823C12.8986 16.5823 12.8899 16.5818 12.8811 16.5813H12.8806Z"
                                fill="#231F20" />
                        </g>
                        <defs>
                            <clipPath id="clip0_215_640">
                                <rect width="21.7446" height="17.7622" fill="white"
                                    transform="translate(0.809326 0.892578)" />
                            </clipPath>
                        </defs>
                    </svg>

                </a>
            </li>
            <li>
                <a target="_blank"  href="https://www.youtube.com/user/MAGNOLIADTGO">
                    <svg width="22" height="16" viewBox="0 0 22 16" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_215_644)">
                            <path
                                d="M18.5344 0.675781H3.88317C2.01823 0.675781 0.507324 2.18339 0.507324 4.04425V12.0594C0.507324 13.9198 2.01823 15.4364 3.88317 15.4364H18.5349C20.3994 15.4364 21.9107 13.9198 21.9107 12.0594V4.04425C21.9107 2.18386 20.3998 0.675781 18.5349 0.675781H18.5344ZM9.15286 11.2309V5.37736C9.15286 4.86663 9.7339 4.57106 10.1481 4.87183L14.1832 7.80097C14.5273 8.05067 14.5273 8.56282 14.1832 8.81251L10.1481 11.7369C9.7339 12.0372 9.15333 11.7417 9.15333 11.2309H9.15286Z"
                                fill="#BF1E2E" />
                        </g>
                        <defs>
                            <clipPath id="clip0_215_644">
                                <rect width="21.4029" height="14.7606" fill="white"
                                    transform="translate(0.507324 0.675781)" />
                            </clipPath>
                        </defs>
                    </svg>

                </a>
            </li>
            <li>
                <a target="_blank"  href="https://www.linkedin.com/company/mqdc">
                    <svg width="19" height="18" viewBox="0 0 19 18" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_215_647)">
                            <path
                                d="M0.205322 3.17978V0H3.64645V3.17978H0.205322ZM0.205322 17.9455V4.94348H3.64645V17.9455H0.205322Z"
                                fill="#BF1E2E" />
                            <path
                                d="M19 17.9454H15.5609V11.31C15.5609 9.90694 15.4871 9.00201 15.3392 8.58918C15.1937 8.17584 14.9539 7.8548 14.6233 7.62556C14.2918 7.39582 13.8955 7.28446 13.43 7.28446C12.8336 7.28446 12.2988 7.44849 11.8253 7.77605C11.3518 8.09709 11.0272 8.52999 10.8517 9.06772C10.6766 9.60496 10.5893 10.6082 10.5893 12.0574V17.9454H7.14868V4.94339H10.3435V6.85156C11.4792 5.38281 12.9068 4.64844 14.6279 4.64844C15.3883 4.64844 16.0816 4.7929 16.7111 5.06177C17.3391 5.33716 17.8147 5.68429 18.1372 6.11066C18.4602 6.53052 18.683 7.01559 18.8094 7.55333C18.9373 8.08455 18.9995 8.85805 18.9995 9.86781V17.9459L19 17.9454Z"
                                fill="#BF1E2E" />
                        </g>
                        <defs>
                            <clipPath id="clip0_215_647">
                                <rect width="18.7948" height="17.9455" fill="white"
                                    transform="translate(0.205322)" />
                            </clipPath>
                        </defs>
                    </svg>

                </a>
            </li>
        </ul>
    </div>
</template>


<style>
.list-social{width: 100%;float: left;margin-top: 60px;}
.list-social ul{display: flex;gap: 20px;align-items: center;}
.list-social-m{display: none;}
.list-social ul li a:hover{opacity: .6;}
@media (max-width: 991.98px) {
  
    .list-social{display: none;}
    .list-social.list-social-m{display: flex;margin-top: 30px;}

}
</style>