@font-face {
    font-family: 'DB HelvethaicaMon X 55';
    src: url('../font/DBHelvethaicaMonX-55Regular.woff2') format('woff2'),
        url('../font/DBHelvethaicaMonX-55Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Big Caslon';
    src: url('../font/BigCaslon-Medium.woff2') format('woff2'),
        url('../font/BigCaslon-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'db_helvethaicamon_x55_regular';
    src: url('../font/db_helvethaicamon_x_v3.2-webfont.woff2') format('woff2'),
         url('../font/db_helvethaicamon_x_v3.2-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}