:root{
    --dark: #000;
    --ligth-grey: #888;
}
/* INVERT PAGE  */

.invert-dark{background-color: var(--dark);}
.invert-dark .nav-light{color: var(--ligth) !important;background-color: var(--dark);}
.invert-dark nav a{color: var(--ligth);}
.invert-dark .box-menu>ul>li a.active{color: var(--ligth);text-decoration: underline;}
.invert-dark nav svg,.invert-dark nav path{fill: var(--ligth) !important;}
.invert-dark footer .bg-grey-light{background-color: var(--dark);color: var(--ligth);}
.invert-dark footer .aspen-content,.invert-dark footer a,.invert-dark footer ul li,.invert-dark footer label{color: var(--ligth);}
.invert-dark footer hr{border-color:var(--ligth)}
.invert-dark footer.border-top{border-color: #000 !important;}
.invert-dark .box-service .dropdown-toggle{border-color: var(--ligth);color: var(--ligth);}
.invert-dark .tab-nav-list:before{background-color: rgb(255 255 255 / 53%);}
.invert-dark .tab-nav-list a{color: var(--ligth-grey);}
.invert-dark .tab-nav-list a.active  { border-bottom: 0 solid var(--ligth); color:var(--ligth);}
.invert-dark {color: var(--ligth)}
.invert-dark  .thumb{color: var(--ligth);}
.invert-dark   .thumb .thumb-txt-h{color: var(--ligth);}
.invert-dark  .swiper-pagination-bullet{background-color: var(--ligth);}
.invert-dark  .swiper-pagination-bullet-active{background-color: var(--ligth);}
.invert-dark  .swiper-button-next:after,.invert-dark  .swiper-button-prev:after{color: var(--ligth);}
.invert-dark   .sec-title{color: var(--ligth);}
.invert-dark   .sec-title .aspen-content{color: var(--ligth);}

.invert-dark  .aspen-content{color: var(--ligth);}

.invert-dark footer .aspen-content .footer-tel{color: var(--ligth);}
.invert-dark footer .aspen-content .email-footer{color: var(--ligth);}
/* INVERT SECTION  */


.invert-ligth{color: var(--ligth)}
.invert-ligth .thumb{color: var(--ligth);}
.invert-ligth  .thumb .thumb-txt-h{color: var(--ligth);}
.invert-ligth .swiper-pagination-bullet{background-color: var(--ligth);}
.invert-ligth .swiper-pagination-bullet-active{background-color: var(--ligth);}
.invert-ligth .swiper-button-next:after,.invert-ligth .swiper-button-prev:after{color: var(--ligth);}
.invert-ligth  .sec-title{color: var(--ligth);}
.invert-ligth  .sec-title .aspen-content{color: var(--ligth);}

.invert-ligth .aspen-content{color: var(--ligth);}
