@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


/*@import url('@/assets/css/reset.css');  @import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');@import rel="preload" url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');*/

@import url('./reset.css');
@import url('./font.css');
/* ---------------------------------------------------------------- general selector
---------------------------------------------------------------------------------- */
:root { 
	scroll-behavior:unset; 
	--Color-Primary: #BF1E2E;
	--Color-Secondary: #5B4A42;
	--Color-Third:#F0EBE7;
	--Color-Grey:#6D7FAE;
	--Color-Body: #414D5B;
    --Color-gold:#B8A272;

	--Body: #5B4A42;
	--Body-Active: #000000;
	--Body-Disable: #A8B1BC;

	--Body-link: #000000;
	--Body-link-Active: #5B5B5B;
	--Body-link-Disable: #EEEEEE;

	--Body-secondary-link:#5B5B5B;

	--transparent:transparent;
	--acc-active:#fff;

	--ligth:#ffffff;
    
    
}


:root{
	--font-body:'Montserrat','db_helvethaicamon_x55_regular', sans-serif;
    --font-header:'Big Caslon','db_helvethaicamon_x55_regular', sans-serif;
    --font-size-large:4.948vw;
    --font-size-over: clamp(1.875rem, 1.2148rem + 2.1127vw, 3.75rem);
	--font-size-h1:clamp(2.1875rem, 2.0775rem + 0.3521vw, 2.5rem); 
	--font-size-h2:clamp(1.5rem, 1.2579rem + 0.7746vw, 2.1875rem);
	--font-size-h3:clamp(1.25rem, 1.162rem + 0.2817vw, 1.5rem);
	--font-size-h4:clamp(1.125rem, 1.081rem + 0.1408vw, 1.25rem);
	--font-size-h5: clamp(1rem, 0.956rem + 0.1408vw, 1.125rem);
	--font-size-h6:1rem;
	--font-size-body:clamp(0.875rem, 0.840rem + 0.133vw, 1rem);
    --font-vw-size-h4:1.042vw;
    --font-vw-size-h5:0.938vw;
	--radius_default:9px;
	--radius_card:10px;
	--radius_button:10px
}
/* .breadcrumb-item > a, .breadcrumb-item{font-size: clamp(0.75rem, 0.4375rem + 1vw, 1rem);} */
.breadcrumb-item > a, .breadcrumb-item{font-size: 12px;font-family: var(--font-body);font-weight: 500;}
.preload {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: 99999;
    background-image: url(https://cms.digitalnex.com/uploads/logo-white-2.webp);
    background-repeat: no-repeat;
    background-size: 150px;
    background-position: center center;
	opacity: 1;
	transition: opacity 2s ease-in-out 2s;
}
  
  .fadeout {
	opacity: 0;
  }
  


    html[lang="th"] {

        --font-body:'db_helvethaicamon_x55_regular', sans-serif;
        --font-header:'db_helvethaicamon_x55_regular', sans-serif;
        --font-size-large: 3vw;
        
    }
    html[lang="th"] .aspen-content > * { line-height: 1.6 !important;}
    html[lang="th"]  .aspen-content  .tosz{line-height: unset !important;}
    html[lang="th"] .f-mon{
    font-family: var(--font-body) !important;
    }
    html[lang="th"] .f-big-caslon {
        font-family: var(--font-body) !important;
    }
    html[lang="th"] .st-home-banner .f-big-caslon {
        font-family: 'Big Caslon' !important;
    }
    html[lang="th"]  .aspen-hl-overyear.aspen-content .text-large[data-v-7f492514] {
        line-height: 1;
        position: relative;
        top: 0;
    }

    html[lang="th"]  .aspen-hl-inner .unit[data-v-7f492514]{top: 0;}

  html[lang="en"] .text-uppercase .upper {
    
  }




  .hidden {
	display: none;
  }
body { scroll-behavior: smooth;font-size: var(--font-size-body); text-rendering: optimizeLegibility; -moz-osx-font-smoothing: grayscale; font-smoothing: antialiased; -webkit-font-smoothing: antialiased; text-shadow: rgba(0, 0, 0, .01) 0 0 1px; background-color:#fff;font-family:var(--font-body);line-height:1.5;color: var(--Body); }
.onClick{overflow: hidden;}
* { box-sizing:border-box;}
main{overflow:hidden;}
a { color:var(--Color-Body); outline:none; text-decoration:none; transition:all ease .5s; cursor:pointer;}
a:hover { text-decoration:none; color:var(--Color-Primary);} 
a:focus { outline:none; box-shadow:none;}
img { max-width:100%;height: auto;width:auto;}
select {-webkit-appearance:none;}
i,em{font-style: italic;}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 { margin-bottom: 0;}
button{color: #51413A;}
hr { border-top: 1px solid var(--Color-Grey);}
.validate{font-size: 12px;color: var(--Color-Secondary);margin-top:5px;width:100%; float: left;}
.wrapper {width:100%; overflow: hidden; position: relative; max-width: unset; margin: 0 auto; }
.sec { float:left; width:100%; position:relative; margin-bottom:100px;}
.sec-pd { float:left; width:100%; position:relative; padding-bottom:100px;}
.box  { float:left; width:100%; position:relative;}
.abs { position:absolute;}
.abs img { float:left; width: 100%; pointer-events: none;}
.abs img { float:none; width:auto;}
.abs > img {float: left; width: 100%; pointer-events: none;}
.ele { left:50%; top:50%; position:absolute;pointer-events: none;}
.zindex-1{z-index:1;}
.zindex-2{z-index:2;}
.radius { position:relative; overflow:hidden; border-radius:10px;}
.tinline { display:inline-block;}
.underline-no { text-decoration: none!important;}
.underline { text-decoration: underline;}
.container-1360 { max-width:1360px}
.container-960 { max-width:960px}
.small-1{font-size:  clamp(0.875rem, 0.853rem + 0.0704vw, 0.9375rem);}
.small-2{font-size: 0.8em;}
.loadpage {position: fixed;z-index: 99999;top: 0;left: 0;width: 100%;height: 100%;background: url(../image/skin/logo-theaspentree.svg) no-repeat center center #fff;background-size: 64px;}
.h-auto { height:auto!important;}
.pd-80{padding: 80px 0;}
.pd-70{padding: 70px 0;}
.pd-60{padding: 60px 0;}
.pd-50{padding: 50px 0;}
.pd-40{padding: 40px 0;}
.pd-30{padding: 30px 0;}
.pd-20{padding: 20px 0;}
.pd-b-20{padding-bottom: 20px !important;}

.pd-all-50{padding: 2.604vw;}
.m-0-auto{margin: 0 auto;}
.p-0-20{padding:0 20px;}
.mg{margin: 50px 0;}
.text-justify{text-align: justify;}
.f-big-caslon {font-family: 'Big Caslon';}
.f-mon {font-family: 'Montserrat' !important;}
.t-bold { font-weight: 600;}
.t-md { font-weight: 500;}
.t-regular {font-weight: 400;}
.t-light { font-weight: 300;}
.t-black { font-weight: 600;} 
.t-sm { font-size: 0.9em;}
b, strong {font-weight: normal; font-weight: 600;}
u, .txt-upper,.t-upper {text-transform: uppercase;}
.font-weight-bold {font-weight: normal; font-weight: 600;}
.font-italic { font-family: 'scgitalic';}
.font-underline { text-decoration: underline;}

.bg-fullwidth { background-repeat:no-repeat; background-position: center top; background-size:cover;}

.fw,.section { float:left; width:100%;}
.section {overflow:hidden;}
/* .section.show{opacity: 1;} */
.container  { padding-left: 15px; padding-right: 15px;}
.container-1600 { max-width:1360px}
.container-fluid { max-width:none;}
.container:not(.container-fluid) .container { padding:0px}
.cont-contain { float:left; width:100%; }
.cont-abs {position:absolute;top:0px; left:0px;height:100%; z-index: 1;}
.cont-img { width:50%; float:left; } 
.cont-txt { width:50%; float:left; } 
.pd { padding:50px 0;}

/*
 |*******************************************************************************************
 | COLOR
 |*******************************************************************************************
*/
.clr-primary { color: var(--Color-Primary);}
.clr-secondary { color: var(--Color-Secondary);}
.clr-third { color: var(--Color-Third);}
.clr-grey { color: var(--Color-Grey);}
.clr-gradient,.clr-gradient span,.clr-gradient b ,.clr-gradient strong{background: linear-gradient(217.7deg, #FFD600 0%, var(--Color-Secondary) 13.02%, var(--Color-Primary) 100%);-webkit-background-clip: text;-webkit-text-fill-color: transparent;background-clip: text;text-fill-color: transparent;}
.bg-clr-gradient-orange { background: linear-gradient(217.7deg, #FFD600 0%, var(--Color-Secondary) 13.02%, var(--Color-Primary) 100%);-webkit-background-clip: text;-webkit-text-fill-color: transparent;background-clip: text;text-fill-color: transparent;}
.clr-white { color:#fff;} 

.bg-clr-primary { background-color: var(--Color-Primary);}
.bg-clr-secondary { background-color: var(--Color-Secondary);}
.bg-clr-third { background-color: var(--Color-Third);}
.bg-clr-grey { background-color: var(--Color-Grey);}
.bg-clr-gold{background-color: var(--Color-gold);}
.bg-clr-grey-light { background-color: #EBEBEB;}
.bg-clr-gradient { background: linear-gradient(217.7deg, #FFD600 0%, var(--Color-Secondary) 13.02%, var(--Color-Primary) 100%); }
.bg-clr-gradient-orange { background: linear-gradient(217.7deg, #FFD600 0%, #F15C22 0%,  #FDDB32 100%); }
.bg-clr-gradient-blue{background: linear-gradient(217deg, #00EDB4 -6.78%, #00B6ED -0.16%, #0054FF 17.95%, #001A45 103.79%);}
.bg-clr-white { background-color:#fff;} 
.bg-clr-blue-light { background-color: #F1F4FA;}

/*
 |*******************************************************************************************
 | CONTENT
 |*******************************************************************************************
*/


.cont-img-relative .box-graph{display:block;}

.ul-col-2 ul {
	column-count: 2;
	
	list-style-type: none;
}
.st-bg-grd-third .box-title-h.clr-primary{color:#fff;}
.aspen-content { float:left; width:100%; font-size:1em; color:var((--Color-Body)); line-height:1.2; position:relative; }

.aspen-content h1,.aspen-content .h1,.h1 {
	font-size: var(--font-size-h1);
	line-height: 1.4;
    word-break: break-all;
    font-family: var( --font-header);
}

.aspen-content h2,.aspen-content .h2,.h2 {
	font-size: var(--font-size-h2);
   	line-height: 1.4;
       font-family: var( --font-header);
}

.aspen-content h3,.aspen-content .h3,.h3 {
	font-size: var(--font-size-h3);
   line-height: 1.4;
   font-family: var( --font-header);
}

.aspen-content h4,.aspen-content .h4,.h4 {
	  font-size: var(--font-size-h4);
   line-height: 1.4;
   font-family: var( --font-header);
}

.aspen-content h5,.aspen-content .h5,.h5 {
	font-size: var(--font-size-h5);
	line-height: 1.4;
    font-family: var( --font-header);
}

.aspen-content h6,.aspen-content .h6,.h6 {
   font-size: var(--font-size-h6); 
   line-height: 1.4;
   font-family: var( --font-header);
}

.aspen-content .vw-h4,.vw-h4{
    font-size: var(--font-vw-size-h4); 
    line-height: 1.4;
 }

 .aspen-content .vw-h5,.vw-h5{
    font-size: var(--font-vw-size-h5); 
    line-height: 1.4;
 }

.hr-y{border-top: 1px solid #5B4A42; border-bottom: 1px solid #5B4A42; padding: 20px 0;width: auto;margin: 0 auto;float: none;display: table;margin-bottom: 20px;}

.aspen-content pre{white-space: normal; overflow: unset; overflow-y: unset; word-break: break-word;}
.aspen-content h1[style^=""] ,.aspen-content h2[style^=""] ,.aspen-content h3[style^=""] ,.aspen-content h4[style^=""] ,.aspen-content h5[style^=""] ,.aspen-content h6:has [style] {-webkit-text-fill-color: inherit;}
.aspen-content  h1 small,.aspen-content  h2 small,.aspen-content  h3 small,.aspen-content  h4 small,.aspen-content  h5 small,.aspen-content  h6 small{font-size:0.9em}
.aspen-content  .h1 .t-small,.aspen-content  .h2 .t-small,.aspen-content  .h3 .t-small,.aspen-content  .h4 .t-small,.aspen-content  .h5 .t-small,.aspen-content  .h6 .t-small{font-size:0.68em}
.aspen-content  .h1 .text-oversize,.aspen-content  .h2 .text-oversize,.aspen-content  .h3 .text-oversize,.aspen-content  .h4 .text-oversize,.aspen-content  .h5 .text-oversize,.aspen-content  .h6 .text-oversize{font-size:1.6em;}
.minor-txt{font-size:0.8em;}
.aspen-content blockquote, q { quotes: "" ""; padding-left: 20px; border-left: 2px solid;}
.aspen-content blockquote.blue-sky{border-color:#00B6ED;}
.aspen-content p { line-height:1.6; }
.aspen-content a:not([class*=btn]) { color:#0554ff; text-decoration:underline;word-break:break-word ;}
.aspen-content a:not([class*=btn]):hover { text-decoration:underline;}
.aspen-content iframe	{  border:none; display:block;max-width: 100%;}
.aspen-content p img {  margin-bottom:0px;vertical-align:middle;}
.aspen-content img { max-width:100%; }
.aspen-content ol	{ display:block; list-style:decimal outside;  padding-left:25px; }
.aspen-content ul	{ display:block; list-style:none outside ;margin-left:0px;  padding-left:16px; position:relative; }
.aspen-content ul > li { list-style: none;position: relative;}
.aspen-content ul > li::before{content: "" ;width: 3px;height: 3px;border-radius: 100px;background-color: #6D7FAE;position: absolute;top: 8px;left: -14px;}
.aspen-content ul > li > ul{padding-left: 25px;}

.aspen-content  .tosz{font-size: var(--font-size-over);}
.line-height-02{line-height: .2;}
.aspen-content .text-large{font-size: var(--font-size-large);position: relative; top: 0.5vw;}
.outer-text-large{margin-top: -3.125vw;}
.aspen-content li	{ padding-bottom:5px; position:relative;line-height: 1.6; }
.aspen-content li:last-child{padding-bottom: 0;}
.aspen-content hr:not([class])  { border-top: 2px solid #ccc; width:100%; margin-bottom:20px; margin-top:20px;}

.aspen-content.content-inverse,.content-inverse  { color:#fff!important;}
.aspen-content.content-inverse a:not(.btn),
.content-inverse a:not(.btn) { color:#fff!important}
.content-inverse .btn-text{color: #fff;}
.content-inverse .swiper-button-next svg,.content-inverse  .swiper-button-prev svg{fill: #fff;}
.br-clr-grey{border-top:2px solid #6D7FAE;}


.aspen-content-button {font-size:1em; }
.aspen-content-button img { margin-bottom:0px;}
.aspen-content-button.button-hoz { width:auto; float: none; display: inline-block;}
.aspen-content-button.button-hoz + .aspen-content-button.button-hoz { margin-left:10px;}
.aspen-content-space { height:15px; float:left; width:100%;}
.aspen-content-editor h1 ,.aspen-content-editor h2 ,.aspen-content-editor h3, .aspen-content-editor h4 ,.aspen-content-editor h5 ,.aspen-content-editor h6 {-webkit-text-fill-color: inherit; background:none; }
.aspen-content-editor video { height:auto!important; width:100%!important;}
/* .aspen-content-editor p{margin-bottom:15px;} */
.aspen-content-editor p:last-child{margin-bottom:0;}
.aspen-content-editor ul > li:last-child{padding-bottom: 0; }
.aspen-content-editor ul,.aspen-content-editor ol{margin-bottom: 15px;}
/* .aspen-content-editor ul:last-child{margin-bottom: 0;} */


.aspen-content table thead th{    white-space: nowrap;}
.aspen-content table br{display: block !important;}
.aspen-content table {
    --bs-table-color: var(--bs-body-color);
	--bs-table-bg: #0054FF;
    --bs-table-border-color: var(--bs-border-color);
    --bs-table-striped-color: var(--bs-body-color);
    --bs-table-striped-bg: rgba(0, 0, 0, 0.05);
    --bs-table-active-color: var(--bs-body-color);
    --bs-table-active-bg: rgba(0, 0, 0, 0.1);
    --bs-table-hover-color: var(--bs-body-color);
    --bs-table-hover-bg: rgba(0, 0, 0, 0.075);
    width: 100%;
    margin-bottom: 1rem;
    color: var(--bs-table-color);
    vertical-align: top;
    border-color: var(--bs-table-border-color);
}
.aspen-content table tbody>tr:nth-of-type(odd) {
    --bs-table-accent-bg: #F1F4FA;
}

.table-br .aspen-content table, .table-br .aspen-content table td, .table-br .aspen-content table tr, .table-br .aspen-content table th {
    height: auto !important;
    border: 1px solid rgba(0, 84, 255, 0.2);
    border-collapse: collapse;
}


.aspen-content table > thead {
    vertical-align: bottom;
}

.aspen-content table > thead tr ,.aspen-content table > thead th ,.aspen-content table > thead td,.aspen-content table > tfoot tr ,.aspen-content table > tfoot th ,.aspen-content table > tfoot td{
	background-color: #0054FF;
	color: #fff;
	font-weight: 500;
}


.aspen-content table > :not(caption) > * > * {
    padding: 0.5rem 0.5rem;
    background-color: #fff;
    border-bottom-width: 1px;
    box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
}
.aspen-content table > tbody {
    vertical-align: inherit;
}
.aspen-content table,.aspen-content table  td,.aspen-content table  tr,.aspen-content table  th{height: auto !important;}



/*
 |*******************************************************************************************
 | BUTTON
 |*******************************************************************************************
*/
.btn{padding: 0;font-size: var(--font-size-body); font-family: var( --font-header);}
/* .btn,.btn:active { font-weight: 500;padding: 0; position: relative;background-color:var(--Color-Secondary); border: 2px solid var(--Color-Secondary); color:#fff;border-radius: 5px;text-align: center;line-height: 1;} */
.btn > span { font-size: var(--font-size-body); padding: .8em 3em; display: flex; align-items: center;justify-content: center; position: relative;}
.btn-sm > span {font-size: 0.9em; padding: .6em 2em;}
.btn-lg > span {font-size: 1.2em; padding: .7em 2em;}

.btn-icon svg,.btn-icon img {fill:#fff; width:1em; height:1em; transition:all ease .4s;}
.btn-icon > span { position: relative; display:flex; align-items:center; justify-content:center;}
.btn-icon span + svg,.btn-icon span + img ,
.btn-icon svg + span,.btn-icon img + span { margin-left:.5em;}

.btn-text { text-decoration: none; background:none!important; box-shadow: none!important; border: none!important;}
.btn-text span {padding:0;line-height: 1.4;}
.btn-text svg { fill: inherit;}

.btn-clr-primary { background-color:var(--Color-Primary); border: 2px solid var(--Color-Primary); color:#fff;}
.btn-clr-primary svg { fill:#fff;}
.btn-clr-primary.btn-text {  color:var(--Color-Primary);}
.btn-clr-primary.btn-text svg {fill:var(--Color-Primary);}

.btn-clr-secondary { background-color:#fff; border: 2px solid #fff; color:var(--Color-Secondary);}
.btn-clr-secondary svg { fill:var(--Color-Secondary);}
.btn-clr-secondary.btn-text {  color:#fff;}
.btn-clr-secondary.btn-text svg {fill:#fff;}

.btn-clr-third { background-color:var(--Color-Primary); border: 2px solid var(--Color-Primary); color:#fff;}
.btn-clr-third svg { fill:#fff;}
.btn-clr-third.btn-text {  color:var(--Color-Primary);}
.btn-clr-third.btn-text svg {fill:var(--Color-Primary);}

.btn-clr-grey { background-color:var(--Color-Grey); border: 2px solid var(--Color-Grey); color:#fff;}
.btn-clr-grey svg { fill:#fff;}
.btn-clr-grey.btn-text {  color:var(--Color-Grey);}
.btn-clr-grey.btn-text svg {fill:var(--Color-Grey);}

/* == Hover == */
.btn.focus, .btn:focus {outline: 0;box-shadow:none;}
.btn:hover {  background-color:#fff; border: 1px solid var(--Color-Secondary); color:var(--Color-Secondary); }
.btn:hover svg { fill:var(--Color-Secondary)}

.btn-text:hover { color:var(--Color-Grey)!important;}
.btn-text:hover svg { fill: var(--Color-Grey)!important;}

.btn-clr-primary:hover {background-color:#fff; border: 2px solid var(--Color-Secondary); color:var(--Color-Secondary); }
.btn-clr-primary:hover svg { fill:var(--Color-Secondary)}
.btn-clr-secondary:hover { background-color:var(--Color-Secondary); border: 2px solid #fff; color:#fff;}
.btn-clr-secondary:hover svg { fill:#fff;}
.btn-clr-third:hover {background-color:#fff; border: 2px solid var(--Color-Primary); color:var(--Color-Primary); }
.btn-clr-third:hover svg { fill:var(--Color-Primary)}

.btn-clr-light.btn-text svg{ fill:var(--ligth)}
.btn-clr-light:hover {background-color:#fff; border: 2px solid var(--ligth); color:var(--ligth); }
.btn-clr-light.btn-text:hover{color:var(--ligth); }
.btn-clr-light.btn-text:hover svg { fill:var(--ligth)}

.btn-outline-light:hover{border-color: #fff;}
.btn-outline-light svg{fill: #fff;}
.btn-outline-light:hover svg{fill: #000;} 
.nex-button-dark .btn {background-color:var(--Color-Secondary); border: 2px solid var(--Color-Secondary); color:#fff;}
.nex-button-dark .btn:hover{ background-color:#fff; border: 2px solid var(--Color-Secondary); color:var(--Color-Secondary);}
.nex-button-light .btn {background-color:#fff; border: 2px solid #fff; color:var(--Color-Secondary);}
.nex-button-light .btn:hover{background-color:var(--Color-Secondary); border: 2px solid #fff; color:#fff;}
.nex-button-text-link-dark .btn {text-decoration: none; background:none!important; box-shadow: none!important; border: none!important; color:var(--Color-Secondary);}
.nex-button-text-link-dark .btn:hover{text-decoration: none; background:none!important; box-shadow: none!important; border: none!important; color:var(--Color-Grey)!important;}
.nex-button-text-link-dark span {padding:0;line-height: 1.4;}
.nex-button-text-link-light .btn {text-decoration: none; background:none!important; box-shadow: none!important; border: none!important; color:#fff;}
.nex-button-text-link-light .btn:hover{text-decoration: none; background:none!important; box-shadow: none!important; border: none!important; color:#fff!important;}
.nex-button-text-link-light span {padding:0;line-height: 1.4;}
/*
 |*******************************************************************************************
 | TAB & ACCORDION
 |*******************************************************************************************
*/
 .st-list-acc-default .accor-body-content {float: left;width: 100%;}

/*
 |*******************************************************************************************
 | FORM
 |*******************************************************************************************
*/

.form-control:focus, button:focus{ outline: none;box-shadow:none;}

.check-group { float:left; width:100%; text-align:left; font-size: 0.9em;}
.check-group .check-title { float:left; margin-right:20px; width:auto;  margin-bottom:10px;}
.check-group .check-line { float:left; margin-right: 20px; color:#ccc}
.check-group .check-list { float:left; width:100%; margin-bottom:10px; }
.check-group.checkinline .check-title { margin-bottom:0px;}
.check-group.checkinline .check-list { margin-bottom:0px;}
.check-group label { display: inline-block;cursor: pointer;position: relative;padding-left: 30px;margin-right: 15px;	margin-bottom:0px;}
.check-group input[type=checkbox] { display:none;}
.check-group label:before { content: "";	display: inline-block; width:20px; height:20px;position:absolute; left:0; top:0px; background-color:#fff; border:2px solid #d9dbda; border-radius:4px;}
.check-group input[type=checkbox]:checked + label:before { background: #fff; border:2px solid #d9dbda;}
.check-group label:after { content:""; position:absolute;} 
.check-group input[type=checkbox]:checked + label:after { width:10px; height:10px; top:5px; left:5px; border-radius:2px; background-color:var(--Color-Secondary); } 
.check-group.checkinline .check-list { width:auto;}

.radio-group { float:left; width:100%; text-align:left; font-size: 0.9em;}
.radio-group .radio-title { float:left; margin-right:20px; width:auto;  margin-bottom:10px;}
.radio-group .radio-line { float:left; margin-right: 20px; color:#ccc}
.radio-group .radio-list { float:left; width:100%; margin-bottom:10px; }
.radio-group.radioinline .radio-title { margin-bottom:0px;}
.radio-group.radioinline .radio-list { margin-bottom:0px;}
.radio-group label { display: inline-block;cursor: pointer;position: relative;padding-left: 30px;margin-right: 15px;	margin-bottom:0px;}
.radio-group input[type=radio] { display:none;}
.radio-group label:before { content: "";	display: inline-block; width:20px; height:20px;position:absolute; left:0; top:0px; background-color:#fff; border:2px solid #d9dbda; border-radius:100%;}
.radio-group input[type=radio]:checked + label:before { background: #fff; border:2px solid #d9dbda;}
.radio-group label:after { content:""; position:absolute;} 
.radio-group input[type=radio]:checked + label:after { width:10px; height:10px; top:5px; left:5px; border-radius:100%; background-color:var(--Color-Secondary);  } 
.radio-group.radioinline .radio-list { width:auto;}

.uploadFile{position:relative;}
.form-group { float: left; width: 100%;margin-bottom: 0.5em;}
.form-group input{border: 1px solid rgba(0, 0, 0, .05); font-size: 0.9em; background-color: #FAFAFA; width: 100%; float: left; padding:.8em 1.2em; border-radius:.2em;}
.form-group .info-small { font-size: 0.8em; float: left; width: 100%;}
.form-group .file-input__label {position: relative;border: 1px solid rgba(0, 0, 0, .05); min-height: 50px;background-color: #FAFAFA; width: 100%; float: left; padding:.8em 1.2em; border-radius:.2em;display: flex;align-items: center;}
.form-group .file-input__label span{}
.form-group .file-input__label input {width: 0.1px;height: 0.1px;opacity: 0;overflow: hidden;position: absolute;z-index: -1;}
.form-group .file-input__label span.upload-icon { right:0px; top: 50%; position: absolute; cursor: pointer;display: flex;align-items: center;font-weight: 600;color:var(--Color-Secondary);font-size:0.9em;float: right;padding: 8px;justify-content: center;margin:0 5px;    transform: translateY(-50%);}
.form-group .file-input__label span.upload-icon span {color:var(--Color-Secondary);}
.form-group .file-input__label svg {height: 15px;fill: var(--Color-Secondary); margin-right: .5em;}
.form-group .file-input__label span.placehol{font-size: 0.9em; cursor: pointer;display: flex;align-items: center;color: #8f8f8f;float: left;justify-content: center;height: 100%;}
/*.form-group .file-input__input { width: 0.1px;	height: 0.1px;	opacity: 0;	overflow: hidden;	position: absolute;	z-index: -1;} */
.form-group .file-input__input {
    width: 100%;
    height: 100%;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    left: 0;
	cursor:pointer;
}

.form-group textarea { resize:none; border: 1px solid rgba(0, 0, 0, .05); font-size: 0.9em; border: none;  background-color: #FAFAFA; width: 100%; float: left; padding:.8em 1.2em;border-radius:.2em;}
.form-group  p.info-small{width: calc(100% - 220px)!important;margin-left: 220px;margin-top: 10px;float: left;}
.form-group-hoz > label ,
.form-group-hoz .radio-title,
.form-group-hoz .check-title  { min-height: 1px; width: 200px; float: left; }
.form-group-hoz > label span,
.form-group-hoz .radio-title span,
.form-group-hoz .check-title span { color:#dd1b24;}
.form-group-hoz input ,
.form-group-hoz textarea ,
.form-group-hoz .bootstrap-select,
.form-group-hoz .select-nx,
.form-group-hoz .file-input__label,
.form-group-hoz .g-recaptcha { width: calc(100% - 220px)!important; margin-left: 20px; float: left; }
.form-group-hoz .check-group.checkinline .check-list,
.form-group-hoz .radio-group.radioinline .radio-list { max-width:calc(100% - 220px) ;}



.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) { background: none;float: left;width: 100%;}
.bootstrap-select>.dropdown-toggle { font-size: 1em; border: 1px solid rgba(0, 0, 0, .05); background: #eee; box-shadow:none; width: 100%; float: left; padding:.33em .8em; border-radius:.2em; font-family: inherit; line-height: 1; color:#333;}
.bootstrap-select>.dropdown-toggle:hover { background: #eee;}
.bootstrap-select>.dropdown-toggle:hover:before { position: relative; width: auto; height: auto; background-color: transparent;}
.bootstrap-select .dropdown-toggle:focus {outline:0!important;	outline-offset:0; box-shadow: none;}
.btn-light:not(:disabled):not(.disabled).active:focus, .btn-light:not(:disabled):not(.disabled):active:focus, .show>.btn-light.dropdown-toggle:focus {outline:0!important;	outline-offset:0; box-shadow: none;background: #eee;}
.dropdown-toggle::after { position: absolute; right:.7em; top:.7em;}
.dropdown-menu { font-size: 1em;}

.form-invalid { display: none; position: relative; font-size: 0.6em;color:#dd1b24;}
.is-invalid .form-invalid { display: block;}
.is-invalid > label ,
.is-invalid .radio-title,
.is-invalid .check-title  {color:#dd1b24;}
.nav-link:focus{color: #000;}
.nav-link:hover{color: #dd1b24;}
input.input-validate,textarea.input-validate,.input-validate .custom-select,.select-nx .select-check.dropdown dt a.input-validate,.form-group .file-input__label.input-validate {border: 1px solid var(--Color-Secondary) !important;}
/*
 |*******************************************************************************************
 | select
 |*******************************************************************************************
*/

/*
 |*******************************************************************************************
 | TITLE
 |*******************************************************************************************
*/
.box-title { display: flex; justify-content: space-between;align-items: center; padding-bottom: 2em;}

.f-12{font-size: 12px;}
/*
 |*******************************************************************************************
 | SECTION TEMPLATE 
 |*******************************************************************************************
*/
.st .pd { padding:50px 0;}
.st .sec-contain { display: block;}

.st { position:relative; z-index: 2;}
.st .cont-contain { display: block;}
.st .cont-img { padding:0 15px; } 
.st .cont-txt { padding:0 15px; }

.sec-title{width: 100%;float: left;}

.bg-px-left { background-position-x: left !important;}
.bg-px-center { background-position-x: center !important;}
.bg-px-right { background-position-x: right !important;}
.bg-py-top { background-position-y: top !important;}
.bg-py-middle { background-position-y: center !important;}
.bg-py-bottom { background-position-y: bottom !important;}
.bg-rp-no_repeat { background-repeat: no-repeat !important;}
.bg-rp-repeat_all { background-repeat: repeat !important;}
.bg-rp-repeat_x { background-repeat: repeat-x !important;}
.bg-rp-repeat_y { background-repeat: repeat-y !important;}
.bg-fx-fixed { background-attachment: fixed !important;}
.bg-fx-static { background-attachment: inherit !important;}
.bg-sz-cover { background-size: cover !important;}
.bg-sz-contain { background-size: contain !important;}
.bg-sz-auto { background-size: auto !important;}

.text-top { display: flex; align-items: flex-start!important;}
.text-middle { display: flex; align-items: center!important;}
.text-bottom { display: flex; align-items: flex-end!important;}

.cont-top { align-items: flex-start;}
.cont-middle { align-items: center;}
.cont-bottom { align-items: flex-end;}

.aspen-content blockquote, q {
    border-left:2px solid #0054FF;
}


.content-inverse .aspen-content blockquote, q {
    border-left:2px solid #ffffff;
}

.text-left {
    text-align: left;
	justify-content: flex-start;
}

.text-center {
    text-align: center;
	justify-content: center;
}


.text-right {
    text-align: right;
	justify-content: flex-end;
}


/* .row-wrap{margin-top: 64px;} */

/*
 |*******************************************************************************************
 | NAV
 |*******************************************************************************************
*/

/*
 |*******************************************************************************************
 | THUMB
 |*******************************************************************************************
*/
.box-thumb {height: 100%;}
.thumb { float:left; width:100%; height: 100%; position:relative; line-height:1.6}
.thumb-group { float: left; width: 100%; height: 100%;display: flex;}
.thumb-img {float:left; width:100%; overflow: hidden; text-align:center; position:relative;transition:all ease .4s;}



.thumb-txt { float:left; width:100%;height: 100%;}
.thumb-txt-h { text-transform:uppercase; transition:all ease .2s;margin-bottom: 5px; font-weight: bold;overflow: hidden; display: -webkit-box; -webkit-box-orient: vertical;}
.thumb-txt-p { transition:all ease .2s;overflow: hidden; display: -webkit-box; -webkit-box-orient: vertical;}
.thumb-txt-top {display: flex;align-items: center;gap: 20px;margin-bottom: 7px;}

.thumb-txt-top > *{color: #6d7fae;font-size: 0.9em;position: relative;}
.thumb-txt-top:not(.txt-top-col) > *:not(:last-child)::before { content: '|'; position: absolute; top: 0; right: -11px; color: #6d7fae; opacity: .8;}

.thumb-cate{display: flex;flex-wrap: wrap;gap: 20px;}
.thumb-cate > *{color: #6d7fae;font-size: 1em;position: relative;}
.thumb-cate > *::before { content: '|'; position: absolute; top: 0; right: -11px; color: #6d7fae; opacity: .8;}

.st .box-thumb .thumb-hoz .thumb-txt-top.txt-top-col{gap: 0px;align-items: baseline;margin-bottom: 0;}
.thumb-hoz .txt-top-col{    flex-direction: column;}
.st .box-thumb .thumb-ver .thumb-group {flex-direction:column;gap: 10px;height: auto;}
.st .box-thumb .thumb-ver.thumb-has-button .thumb-txt { padding-bottom:calc(1.5em + 30px)}
.st .box-thumb .thumb-ver.thumb-has-button .thumb-txt a.btn { position: absolute; bottom: 1.5em; left:  1.5em;}
.st .box-thumb .thumb-ver .thumb-txt-h{-webkit-line-clamp: 3;}
.st .box-thumb .thumb-ver .thumb-txt-p{-webkit-line-clamp: 3;}

.st .box-thumb .thumb-hoz .thumb-group {flex-direction:row;gap: 10px;}
.st .box-thumb .thumb-hoz .thumb-img { float: left; width: 40%;position: relative;  overflow: hidden;}
/* .st .box-thumb .thumb-hoz .thumb-img img{height: 100%;} */
.st .box-thumb .thumb-hoz .thumb-txt { float: left; width:60%; padding:0; padding-left: 20px;}
.st .box-thumb .thumb-hoz .thumb-txt-h{-webkit-line-clamp: 2;}
.st .box-thumb .thumb-hoz .thumb-txt-p{-webkit-line-clamp: 3;}

.box-thumb .thumb-hoz .thumb-img picture,.box-thumb .thumb-ver .thumb-img picture,
.box-thumb .thumb-hoz .thumb-img img,.box-thumb .thumb-ver .thumb-img img{width: 100%;display: block;}

.box-thumb .thumb-on-card .thumb-txt { position: absolute; }
.box-thumb .thumb-on-card .thumb-group .thumb-txt{display: flex;padding: 2em;}
.box-thumb .thumb-on-card .thumb-group.cont-top .thumb-txt{ align-items: flex-start;}
.box-thumb .thumb-on-card .thumb-group.cont-middle .thumb-txt{ align-items: center;}
.box-thumb .thumb-on-card .thumb-group.cont-bottom .thumb-txt{ align-items: flex-end;}
.box-thumb .thumb-on-card .thumb-img img{height: 100%; float: left;}
/*
 |*******************************************************************************************
 | SECTION CONTENT 
 |*******************************************************************************************
*/

.st-content{}
.st-content .box-thumb .thumb-hoz .thumb-group{height: 100%;}
.st-content .box-thumb .thumb-hoz .thumb-img{width: 50%;}
.st-content .box-thumb .thumb-hoz .thumb-img img{ width: auto;margin: 0 auto;}
.st-content .box-thumb .thumb-hoz .thumb-txt{width: 50%;height: auto;}
.st-content .thumb-txt-group{width: 100%; display: flex; flex-direction: column; height: 100%; justify-content: space-between;}
.st.st-hoz_left .box-thumb .thumb-hoz .thumb-group  .thumb-txt{padding-left: 1.5em;}
.st.st-hoz_right .box-thumb .thumb-hoz .thumb-group {flex-direction: row-reverse;}
.st.st-hoz_right .box-thumb .thumb-hoz .thumb-group  .thumb-txt{padding-right: 1.5em;}
.st-content_only  .box-thumb .thumb-hoz .thumb-img{display: none;}
.st-image_only .box-thumb .thumb-hoz .thumb-txt{display: none;}
.st-image_only .box-thumb .thumb-hoz .thumb-img{width: 100%;}
.st-content_only .box-thumb .thumb-hoz .thumb-txt{width: 100%;}

.btn-text{color: var(--Body);}
/*
 |*******************************************************************************************
 | BANNER
 |*******************************************************************************************
*/

.st-banner { position: relative;}
.st-banner .video-loop .box-thumb .thumb-txt ,.st-banner .video-youtube .box-thumb .thumb-txt{position: absolute;width: 100%;display: flex;height: auto;}
.st-banner .thumb-txt.text-left {justify-content: flex-start;}
.st-banner .thumb-txt.text-center {justify-content: center;}
.st-banner .box-thumb .thumb-hoz .thumb-txt{width: 100%;padding: 15px ;}
.st-banner .thumb-txt.text-right {justify-content: flex-end;}
.st-banner  .box-video{height: 100%;}
.st-banner  .box-video video{object-fit: cover;}
.st-banner  .box-video iframe{width: 100%;height: 100%;}
.st-banner .video-youtube .box-thumb  .thumb-img {position: absolute;width: 100%;height: 100%;top: 0;left: 0;z-index: 1;transition: all ease .5s;}
.st-banner .video-youtube .box-thumb .thumb-img picture{height: 100%;object-fit: cover;}
.st-banner .video-youtube .box-thumb .thumb-img.hide{opacity: 0;}
.st-banner .box-thumb .thumb-hoz.pd{padding: 0;}

.play-button {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: bold;
}

.st-banner .container .banner-image .box-thumb .thumb-hoz .thumb-img{width: 100%;}
.st-banner .container .banner-image .box-thumb .thumb-hoz .thumb-txt{display: none;}
.st-banner .container .banner-image .box-thumb .thumb-hoz .play-button{display: none;}

/*
 |*******************************************************************************************
 | LISTINGS
 |*******************************************************************************************
*/

/*
 |*******************************************************************************************
 | VIDEO
 |*******************************************************************************************
*/

.video-container {	display:inline-block;margin:auto; position: relative; width:100%; float:left;opacity:0.8;height: 100%;}
.video-space { float:left; width:100%; position:relative; transition:all .5s ease;z-index:1;}
.video-space img { float:left; width:100%;}
.video-loop-space {float: left;width: 100%; height: 100%; position: relative;transition: all .5s ease;z-index: 1;}
.video-loop-space img { float:left; width:100%;}
.loop-play{opacity: 0; z-index: -1; transition: z-index .01s 1s, opacity 1s;}
.video-button { position:absolute; transition:all .5s ease; z-index:2;}
.video-put { position:absolute; top:0px; left:0px; width:100%; height:100%;z-index:3; }
.video-put .player { position:absolute; top:0px; left:0px; width:100%; height:100%;}
.click-to-play-video { cursor:pointer;}
.videoplay-icon { transform-origin: center center; width:100px; height:100px; position:absolute; z-index: 1; top:50%; left:50%; transform:translate(-50%,-50%); display:flex; align-items:center; justify-content:center; ; font-size:20px; border-radius:100%; transition:all ease .4s;}
.videoplay-icon img { transform-origin: center center; transition:all ease .4s;}
.container-video-loop {cursor: pointer; display: inline-block;margin: auto;position: relative;width: 100%;float: left;background-color: #000;}
.video-text { text-transform:uppercase; font-size:16px; font-weight:300; color:#fff; text-align:left; margin-top:10px; }
.video-loop {position:absolute; height: 100%;}
.inactive-state {background-repeat: no-repeat;background-size: 100%;}
.box-video {float:left; width:100%;    background-color: #000;position:relative;}



.embed-responsive {position: relative;display: block;width: 100%;padding: 0;overflow: hidden;}
.embed-responsive::before {display: block;content: "";}
.embed-responsive-16by9::before {padding-top: 56.25%;}
.embed-responsive-4by3::before {padding-top: 75%;}
.embed-responsive-1by1::before {padding-top: 100%;}
.embed-responsive .embed-responsive-item, .embed-responsive embed, .embed-responsive iframe, .embed-responsive object, .embed-responsive video {position: absolute;top: 0;bottom: 0;left: 0;width: 100%;height: 100%;border: 0; border-radius: 10px; overflow: hidden;}



/*
 |*******************************************************************************************
 | TAB & ACCORDION
 |*******************************************************************************************
*/

/*
 |*******************************************************************************************
 | SWIPER SLIDE
 |*******************************************************************************************
*/

#site-wrapper .swiper-button-prev:after,#site-wrapper .swiper-button-next:after{content: none;}
.st-listing .swiper-pagination{position: relative;margin-top: 30px;}
.swiper-wrapper .swiper-slide { height: auto;  }

.group-pagination { width: 100%; position: relative; display: flex; justify-content: space-around; align-items: center; margin-top: 50px; padding: 0 ;}
.swiper-pagination { position: relative; top: 0;}
.swiper-button-prev { position: relative; top: 0; left: 0;width: 30px; height: 30px; margin-top: 0px;}
.swiper-button-next { position: relative; top: 0; right: 0;width: 30px; height: 30px; margin-top: 0px;}
.swiper { overflow: hidden;}
.swiper-pagination-bullet { background: var(--Color-Primary); transition: all ease-in .5s;}
.swiper-pagination-bullets.swiper-pagination-horizontal { top: auto; bottom: auto;}
.swiper-pagination-bullet.swiper-pagination-bullet-active { background: #6D7FAE; width: 30px; border-radius: 100px;}
.swiper-button-next:after,
.swiper-button-prev:after { content: none;}
.swiper-button-next svg,
.swiper-button-prev svg { fill: #6D7FAE; width: 30px; height: 30px;}

.st-bg-grd-primary .swiper-pagination-bullet ,
.st-bg-grd-primary-ver  .swiper-pagination-bullet ,
.st-bg-grd-primary-hoz .swiper-pagination-bullet ,
.st-bg-grd-secondary .swiper-pagination-bullet  ,
.st-bg-grd-third .swiper-pagination-bullet ,
.st-bg-grd-grey  .swiper-pagination-bullet { background: #fff;}

.st-bg-grd-primary .swiper-pagination-bullet.swiper-pagination-bullet-active ,
.st-bg-grd-primary-ver  .swiper-pagination-bullet.swiper-pagination-bullet-active ,
.st-bg-grd-primary-hoz .swiper-pagination-bullet.swiper-pagination-bullet-active ,
.st-bg-grd-secondary .swiper-pagination-bullet.swiper-pagination-bullet-active  ,
.st-bg-grd-third .swiper-pagination-bullet.swiper-pagination-bullet-active ,
.st-bg-grd-grey  .swiper-pagination-bullet.swiper-pagination-bullet-active { background: #fff;}


footer{border-top: 5px solid #BF1E2E;position: relative;}
footer .aspen-content a:not([class*=btn]){color: #5B4A42;text-decoration: none;font-family: 'Montserrat';}
footer .aspen-content a:not([class*=btn]):hover{text-decoration: none;color: #BF1E2E;;}
footer .aspen-content ul{}

/* 
 |*******************************************************************************************
 | Thumb TEMPLATE
 |*******************************************************************************************
*/

.img-ratio-3-2 {aspect-ratio: 3 / 2;object-fit: cover;}
/* 
 |*******************************************************************************************
 | PAGE TEMPLATE
 |*******************************************************************************************
*/

.line-bullet{margin-bottom: 15px; width: 100%;float: left;padding-bottom: 15px;display: flex;justify-content: center;}
.line-bullet > span{position: relative;}
.line-bullet > span:before{content: "";position: absolute;width: 100%;height: 2px;left: 0;bottom: -16px;background-color: #5B4A42;}
.line-bullet > span:after{content: "";position: absolute;bottom: -19.5px;left: calc(50% - 5px);transform: translateX(-50%) rotate(45deg);width: 10px;height: 10px;background-color: #51413A;}

.box-line-bullet{position: relative;}
.box-line-bullet:before{content: "";position: absolute;width: 100%;height: 2px;  max-width: 70%;  left: 50%;bottom: 0;background-color: #51413A;transform: translateX(-50%);}
.box-line-bullet:after{content: "";position: absolute;bottom: -4px;left: calc(50% - 5px);transform: translateX(-50%) rotate(45deg);width: 10px;height: 10px;background-color: #51413A;}
/*
 |*******************************************************************************************
 | POPUP
 |*******************************************************************************************
*/

/*
 |*******************************************************************************************
 | pagination
 |*******************************************************************************************
*/


/* .bg-haft-gold{position: relative;}
.bg-haft-gold::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background-color: #B8A272;
	z-index: -1;
} */
.box-cont-img{position: relative;}
.box-cont-img .box-bg-leaf{ position: absolute;
    top: 50%;
    left: calc(50% - 50vw);
    width: 100vw;
    height: 100%;
    background: #B8A272 no-repeat;
	background-size: 100%;
	z-index: -1;
	}

    img.abs.ele-leaf-1 {
        top: 50%;
        left: -20%;
        width: 45%;
        transform: translateY(-53%);
        z-index: -2;
    }

img.abs.ele-leaf-2 {
    top: 50%;
    right: -17%;
    width: 35%;
    z-index: -2;
    transform: translateY(-55%);
}

img.abs.ele-leaf-3 {
    top: 0;
    right: 0;
    width: 60%;
}
.bg-cont-gold{position: relative;}
.bg-cont-gold:before {
    content: "";
    width: 100vw;
    height: 100%;
    position: absolute;
    left: calc(50% - 50vw);
    background: #B8A272;
    bottom: -50px;
    z-index: -2;
}

/* .swiper.swiper-bt{
	position: absolute;
    bottom: -100px;
    right: 0;
    width: 50%;
} */
/* .swiper.swiper-bt .swiper-slide {
    width: calc(100% / 3) !important;
} */

.thumb-oncard{
	position: relative;
    border: 1px solid rgb(255 241 204 / 30%);
}
.thumb-oncard .thumb-img{}
.thumb .thumb-img{width: 100%;float: left;position: relative;}
.thumb.thumb-oncard .thumb-img::before{content: "";position: absolute;width: 100%;height: 100%;left: 0;top: 0;background: rgb(91,74,66); background: linear-gradient(180deg, rgba(91, 74, 66, 0) 0%, #6D7074 100%);z-index: 1;}
.thumb .thumb-img img{width: 100%;float: left;transition: all ease .5s;}
a:hover .thumb .thumb-img img{transform: scale(1.1);}
.thumb-oncard .thumb-body{
    position: absolute;
    width:100%;
    bottom: 0;
    left: 0;
    z-index: 1;
    color: #fff;
    padding: 15px;
}
.thumb-oncard .thumb-body .thumb-h{}
.flip-cont-item > .aspen-content {
    min-height: 15.625vw;
}
.flip-cont-item .aspen-content > *{
    filter: drop-shadow(5px 5px 5px #000000);
}


.breadcrumb{margin: 20px 0;text-transform: uppercase; font-family: var( --font-header);}
.breadcrumb-item.active{color: var(--Color-Primary);}
.breadcrumb-item + .breadcrumb-item::before{content: var(--bs-breadcrumb-divider, "|");color: #D0D0D0;}
.banner-over-container{width: calc(100% - ((50% - 50vw))); max-width: none;margin-left: calc((50% - 50vw) / 2);}


.asp-list{width: calc(100% + (50% - 50vw) / 4);display: flex;flex-wrap: wrap;gap: 20px;margin: 0 auto; font-family: var(--font-header);}
.asp-item{width: calc((100% / 4) - 20px);}

.asp-list-3 .asp-item{width: calc((100% / 3) - 20px);}
.thumb.thumb-icon {
    display: flex;
    align-items: center;
    gap: 20px;
}
.thumb.thumb-icon .thumb-img {width: 95px;}
.thumb.thumb-icon .thumb-img img{width: 95px;height: 95px;}
.thumb.thumb-icon .thumb-body{width: calc(100% - 95px - 20px);}
.box-clr-gd-fate{
    width: 100%;
    float: left;
    position: relative;

}
.box-clr-gd-fate::before {
    content: "";
    position: absolute;
    width: calc(100% - var(--bs-gutter-x));
    height: 100%;
    top: 0;
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 20%, rgba(236, 233, 228, 1) 62%, rgba(236, 233, 228, 1) 100%);
    z-index: -1;
    left: calc(var(--bs-gutter-x)* 0.5);
    border-radius:10px ;
}

.st-cont-slide .swiper{overflow: visible;}
.st-cont-slide .swiper .swiper-slide {  transition:all ease 1s; transform: scale(0.9);}
.st-cont-slide .swiper .swiper-slide-active{transform: scale(1);}
.box-slide-haft {
    width: 100%;
    position: relative;
    float: left;
}
.box-slide-haft::before{
    content: "";
    width: 100vw;
    height: 100%;
    position: absolute;
    left: calc(50% - 50vw);
    top: 0;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(236,233,228,1) 42%, rgba(236,233,228,1) 100%);
}
.box-slide-haft .box-group-navigate{
    position: relative;
    top: -30px;
}

.box-group-navigate {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 2px;
    padding: 0;
    float: left;
    margin-top: 10px;
  }
  
  .box-group-navigate > .swiper-button-prev, .box-group-navigate >  .swiper-button-next {
    position: relative;
    background-color: #BF1E2E;
    width: clamp(1.875rem, 1.4583rem + 0.8681vw, 2.5rem);
    height: clamp(1.875rem, 1.4583rem + 0.8681vw, 2.5rem);
    left: 0;
    right: 0;
    transition: all ease .4s;
    margin: 0;
  }
  
  .box-group-navigate > *::before {
    content: "";
    position: absolute;
    width: 0;
    height: 100%;
    background-color: #FFC720;
    color: #ED1C2F;
    left: 0;
    top: 0px;
    transition: all ease .6s;
    z-index: -1;
  }
  
  .box-group-navigate > *:hover::before {
    width: 100%;
  }
  
  .box-group-navigate > *::after {
    font-size: 11px;
    color: #fff;
    z-index: 9;
  }
  
  .box-group-navigate > *:hover::after {
    color: #ED1C2F;
  }
  .box-group-navigate > .swiper-button-prev svg, .box-group-navigate > .swiper-button-next svg{width: 7px;}
  
  .ele-clinics-leaf-1{left: 0;top: 0;width: 11%;}
  .ele-clinics-leaf-2{right: 0;top: 0;width: 11%;}

  .ele-long-teme-care-leaf-1{left: 0;top: 0;width: 11%;}
  .ele-long-teme-care-leaf-2{right: 0;top: 0;width: 11%;}

.asp-cont-fade {
    float: left;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  
}
.asp-cont-fade .asp-cont-fade-inner{width: 100%;float: left;position: relative;padding: 0 0 50px;}
.asp-cont-fade .asp-cont-fade-inner::before{
    content: "";
    width: calc(100% - ((50% - 50vw)));
    height: 100%;
    position: absolute;
    top: 0;
    left: calc((50% - 50vw) / 2);
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 20%, rgba(236, 233, 228, 1) 62%, rgba(236, 233, 228, 1) 100%);
    opacity: .9;
    backdrop-filter: blur(40px);
    border-radius: 10px;
}

.thumb.thumb-half{
    width: 100%;
    display: flex;
    width: calc(100% - ((50% - 50vw)));
    margin-left: calc((50% - 50vw) / 2);
    gap: 20px;
}
.thumb.thumb-half:hover .thumb-img img{transform: scale(1);}
.thumb-half-cont-first{flex-direction: row-reverse;}
.thumb.thumb-half .aspen-content hr:not([class]) {
    width: 60%;
    margin: 20px auto;
    border-top: 1px solid #5B4A42;
    opacity: 1;
}
.img-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}
.img-grid img:nth-of-type(1) {
    grid-column: 1 / 3;
    grid-row: 1;
}
.img-grid img:nth-of-type(2) {
    grid-column:  3/4;
    grid-row: 1;
}
.img-grid img:nth-of-type(3) {
    grid-column:  1;
    grid-row: 2;
}
.img-grid img:nth-of-type(4) {
    grid-column:  2/4;
    grid-row: 2;
}
.thumb.thumb-half .thumb-img{
    width: 55%;
}
.thumb.thumb-half .thumb-img img{height: 100%;object-fit: cover;}
.thumb.thumb-half .thumb-body{
    width: 45%;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    padding: 20px;
}


.clr-gd-dark-light{background: rgb(255,255,255);background: linear-gradient(0deg, rgba(255,255,255,1) 60%, rgba(236,233,228,1) 100%, rgba(236,233,228,1) 100%);}
.clr-gd-light-dark{background: rgb(255,255,255);background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(236,233,228,.5) 42%, rgba(236,233,228,1) 100%);} 
.clr-gd-light-dark-fade{background: rgb(255,255,255);background: linear-gradient(180deg, rgba(255,255,255,1) 60%, rgba(236,233,228,1) 100%, rgba(236,233,228,1) 100%);} 

.aspen-content ul.list-square > li::before {
    width: 7px;
    height: 7px;
    background: #fff;
    border-radius: 0;
    transform: rotate(45deg);
    left: -18px;
}
.aspen-content  .list-square.clr-secondary > li::before {
    background: var(--Color-Secondary);
}
.aspen-content ul.list-square {padding-left: 20px;}
.bg-half-fade-brown{position: relative;}
.bg-half-fade-brown:before {
    content: "";
    position: absolute;
    bottom: 50%;
    left: 0;
    width: 100vw;
    background-color: red;
    height: 100%;
    z-index: -1;
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0, rgba(236, 233, 228, 1) 70%, rgba(236, 233, 228, 1) 100%);
}
.ele-service-leaf-1{left: 0;top: 5%;width: 16%;}
.ele-service-leaf-2{right: 0;top: 0%;width: 15%;}
.ele-service-leaf-3{left: 0;top: -50%;width: 12%;z-index: -1;}
.ele-service-leaf-4{right: 0;bottom: 5%;width: 10%;z-index: -1;}
.border-md-1{border-right: 1px solid #fff;}


section.section.st-service-overlap {
    margin-top: -6%;
    z-index: 2;
    position: relative;
    overflow: visible;
}

section.section.st-service-overlap::before{
    content: "";
    width: calc(100% - 30px);
    height: 100%;
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0, rgba(236, 233, 228, 1) 70%, rgba(236, 233, 228, 1) 100%);
    top: 15px;
    left: 15px;
    position: absolute;
    margin-top: 6%;
    z-index: -1;
    border-radius: 10px;
}
.z-index-3{z-index: 3;position: relative;}
.bg-gold-over-contain::before{
    content:"";
    position: absolute;
    top: 0;
    height: 100%;
    width: calc(100% - ((50% - 50vw)));
    left: calc((50% - 50vw) / 2);
    background-color: var(--Color-gold);
}
.day-center-leaf-1{bottom: 20px;right: 0;width: 22%;}

.navbar-logo img , .navbar-logo svg {
	width: 100%;
	float: left;
	height: 82px;
}


.swiper-flip video::-webkit-media-controls {
    display: none !important;
}



@media (min-width: 992px){
	.w-md-100{width: 100% !important;}
	.w-md-50{width: 50% !important;}
	.w-md-25{width: 25% !important;}
	.w-md-auto{width: auto !important;}
  
}

@media (max-width: 1599.98px){	}

@media (max-width: 1439.98px){
   

    :root{
        --font-vw-size-h4:1.39vw;
        --font-vw-size-h5:1.251vw;
    }

}
@media (max-width: 1359.98px){
	
}

@media (max-width: 1199.98px){


    :root{
        --font-vw-size-h4:1.568vw;
        --font-vw-size-h5:1.401vw;
    }
    .advance-h-img{min-height: 80vw;object-fit: cover;}
}
@media (max-width: 991.98px) {	
	
    .navbar-logo img , .navbar-logo svg{height: 60px;}
	.menu{display: none;}


    .asp-list{width: 100%;gap: 15px;}  
    .asp-item {
        width: calc((100% / 2) - 10px);
    }
    .asp-list-3 .asp-item {
        width: calc((100% / 2) - 10px);
    }
    .thumb.thumb-icon .thumb-img {
        width: 95px;
    }
    .thumb.thumb-icon .thumb-img img{
        width: 95px;
        height: 95px;
    }
    .thumb.thumb-icon .thumb-body{
        width: calc(100% - (95px + 20px));
    }

    .asp-cont-fade .asp-cont-fade-inner {
        width: 100%;
        float: left;
        position: relative;
        padding: 20px;
    }

    .thumb.thumb-half .aspen-content hr:not([class]){
        width: 80%;
        margin: 20px auto 20px;
    }

    .st-cont-slide .container-fluid .container{max-width: none;}


    .thumb.thumb-half{flex-direction: column;}
    .thumb.thumb-half .thumb-img {
        width: 100%;
    }
    .thumb.thumb-half .thumb-body{width: 100%;}
   
    .thumb.thumb-half{gap: 0;}
    .thumb.thumb-half .thumb-body.hr-y{border-top: 0; border-bottom: 0;}
}
@media (max-width: 767.98px) {	
	/*
	 |*******************************************************************************************
	 | FONT SIZE
	 |*******************************************************************************************
	*/
    .border-md-1{border-right: 0;border-bottom: 1px solid #fff;padding-bottom: 10px;}
    footer .navbar-logo img ,footer .navbar-logo svg{height: 100px;}

    :root{
        --font-vw-size-h4:2.608vw;
        --font-vw-size-h5:2.347vw;
        --font-size-large: 7.948vw;
        --font-size-body:1rem;
    }
    /* .small-1{font-size: 1.956vw;} */
    /*
	 |*******************************************************************************************
	 | BOX CONTENT
	 |*******************************************************************************************
	*/
    .aspen-content br { display: none;}
 	/*
	 |*******************************************************************************************
	 | CONTENT
	 |*******************************************************************************************
	*/

	.st-content.st-m-content_first .box-thumb .thumb-hoz .thumb-group{flex-direction: column-reverse;}
	.st-content.st-m-image_first .box-thumb .thumb-hoz .thumb-group{flex-direction: column;}
	.st-content .box-thumb .thumb-hoz .thumb-img{width: 100%;}
	.st-content .box-thumb .thumb-hoz .thumb-txt{width: 100%;}

	/*
	 |*******************************************************************************************
	 | Listing
	 |*******************************************************************************************
	*/
	.st-ls-img_left_right .nx-col .box-thumb .thumb-hoz .thumb-group, .st-ls-img_left_right_bg .nx-col .box-thumb .thumb-hoz .thumb-group,
	.st-ls-img_left_right .nx-col:nth-of-type(2n) .box-thumb .thumb-hoz .thumb-group, .st-ls-img_left_right_bg .nx-col:nth-of-type(2n) .box-thumb .thumb-hoz .thumb-group{    flex-direction: column;}
	.st-ls-img_left_right .nx-col .box-thumb .thumb-hoz .thumb-img, .st-ls-img_left_right_bg .nx-col .box-thumb .thumb-hoz .thumb-img{width: 100%;}
	.st-ls-img_left_right .nx-col .box-thumb .thumb-hoz .thumb-txt, .st-ls-img_left_right_bg .nx-col .box-thumb .thumb-hoz .thumb-txt{width: 100%;}


    .bg-cont-gold:before{
        height: 100vh;
        bottom: auto;
        top: 0;
    }
    .line-bullet span:before{
        width: 80%;
        left: 50%;
        transform: translateX(-50%);
    }

    .box-line-bullet:before{
        width: 80%;
        left: 50%;
        transform: translateX(-50%);
    }
  
    .asp-list{width:100%;    gap: 15px;}

    
    .asp-item {
        width: calc(50% - 10px);
    }
    .thumb.thumb-icon .thumb-body {
        width: calc(100% - 65px - 10px);
    }
    .asp-list-3 .asp-item{width: calc(50% - 10px);}
    .thumb.thumb-icon{gap: 10px;}

    .thumb.thumb-half{
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-left: 0;
        gap: 0;
    }
 

    .thumb.thumb-half .thumb-img{
        width: 100%;
    }
    .thumb.thumb-half .thumb-body{width: 100%;}

    .st-cont-fade{
        display: flex;
        flex-direction: column-reverse;
    }
    .st-cont-fade .asp-cont-fade{position: relative;}
    .asp-cont-fade .asp-cont-fade-inner::before{width: 100vw;left: calc(50% - 50vw);border-radius: 0;background: #fff;}

   
    section.section.st-service-overlap::before {
        left: 0;
        width: 100%;
        top: 10%;
    }

   
    /* img.img-service-overlap{width: 100vw;max-width: none;left:calc(50% - 50vw) ;position: relative;} */

    .ele-long-teme-care-leaf-1{left: 0;top: auto;width: 30%;bottom: -50px;}
    .ele-long-teme-care-leaf-2{right: 0;top: auto;width: 30%;bottom: 0;}

    .thumb.thumb-icon .thumb-body {
        width: 100%;
    }
    .thumb.thumb-icon{
        gap: 10px;
        flex-direction: column;
        text-align: center;
    }

    .hr-y{padding: 40px 0;}


    .advance-h-img{min-height: auto;}
} 

@media (max-width: 575.98px) {	

    :root{
        --font-vw-size-h4:3.478vw;
        --font-vw-size-h5:3.13vw;
        --font-size-large: 13.948vw;
    }
    /* .small-1{font-size: 2.604vw;} */

    .aspen-content .text-large{line-height: 0.5;}
    .outer-text-large{margin-bottom: 10px;}
    .banner-over-container {
        width: 100vw;
        max-width: none;
        margin-left: calc((50% - 50vw) / 2);
    }
    .box-clr-gd-fate::before{width: 100vw;left: calc(50% - 50vw);}
   
    /* .thumb.thumb-icon .thumb-img {
        width: 65px;
    } */
    /* .thumb.thumb-icon .thumb-img img{
        width: 65px;
        height: 65px;
    } */
    
    .box-group-navigate > .swiper-button-prev, .box-group-navigate > .swiper-button-next{width: 55px;height: 55px;}
    .outer-text-large{margin-top: 0;}

    html[lang="th"] .aspen-content .tosz {
        line-height: 1.6 !important;
    }

    html[lang="th"] .aspen-hl-inner{justify-content: flex-start;}
    html[lang="th"] .aspen-hl-health-brain{ padding: 4.563vw 3.646vw;}
    html[lang="th"] .aspen-hl-health-brain:before{
        top: calc(50% + 2.594vw);
    }
   
}

@media (max-width: 414.98px) {	
	
 
    :root{
        --font-vw-size-h4:4.831vw;
        --font-vw-size-h5:4.348vw;
       
    }
    /* .small-1{font-size: 3.623vw;} */
   
}


