<script setup lang="ts">
const { locale, setLocale } = useI18n()
useServerSeoMeta({
  robots: 'index, follow'
})
const head = useHead(() => ({
	htmlAttrs: {
		lang: locale,
	},
  title: 'The Aspen Tree',
  meta: [
    { charset: 'utf-8' }, // Set the character set
    { name: 'viewport', content: 'width=device-width, initial-scale=1' }, // Set the viewport meta tag
    { hid: 'description', name: 'description', content: 'A holistic wellbeing community where older adults can age in place, for the most beautiful chapter in life.' }, // Set a description meta tag
	{ name: 'keywords', content: 'Health & Brain Center, Health & Brain Center The Aspen Tree, เฮลต์ แอนด์ เบรน เซ็นเตอร์, เฮลต์ แอนด์ เบรน เซ็นเตอร์ ดิ แอสเพน ทรี, ศูนย์สุขภาพและหัวใจ, ศูนย์ดูแล ผู้สูงวัย, day care, long term care, สังคมผู้สูงวัย, assisted living, ดูแลหลังเกษียณ, สุขภาพผู้สูงอายุ, กิจกรรมป้องกันสมองเสื่อม, สมองและระบบประสาท, โรคอัลไซเมอร์ สาเหตุ, ปัสสาวะเล็ด รักษา' } 
  ],
  link: [
    { rel: 'icon', type: 'image/x-icon', href: '/favicon.ico' } // Set the favicon
    // Add more link tags as needed
  ]
}));
  
import { gsap , TweenMax } from "gsap";
const router = useRouter();
import Header from '@/components/inc/header.vue'
import Footer from '@/components/inc/footer.vue'

const preLoad = ref(false);
onMounted(() => {
	setTimeout(() => {
		preLoad.value = true;
		svg();
	}, 1000);
})
const fatePage = ref();
onMounted(() => {
    TweenMax.fromTo(fatePage.value, 1, {opacity: 0}, {opacity: 1});
});


watch(router.currentRoute, (to, from) => {
	TweenMax.fromTo(fatePage.value, 1, {opacity: 0}, {opacity: 1});
	preLoad.value = false;
  if (from.path != to.path) {
	
	setTimeout(() => {
		preLoad.value = true;
		svg();
	}, 1000);
  }
});
</script>
<template>
	<div :class="preLoad ? 'hide': ''" class="prelaod"></div>
	<Header />
	
	<div id="site-wrapper" ref="fatePage">
		<slot />
	</div>
	<Footer ref="fatePage" />
</template>

<style scoped>
#site-wrapper {
	-webkit-overflow-scrolling: touch;
	width: 100%;
	height: 100%;
	overflow: hidden;
	padding-top: 90px;
}

.prelaod {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: #fff;
	z-index: 9999;
	left: 0;
	top: 0;
	background: url(/image/skin/logo-theaspentree.svg) no-repeat center center #fff;
	background-size: 146.07px 82px;
	/* transition: all ease-out .5s; */
	visibility: visible;opacity: 1;
}
.prelaod.hide{
	opacity: 0;
	visibility: hidden;
	transition: all ease-out .5s;
	
}

@media (max-width: 991.98px) {
	#site-wrapper{padding-top: 63px;}
}
</style>