<script setup lang="ts">
const { locale, locales,setLocale } = useI18n()
const genarated_height_iframe_policy_whitefact = (e: MessageEvent) => {
  const t = document.getElementById("external_privacy_whitefact");
  if (e.data && e.data.type === "privacy_whitefact_iframe_height") {
    t.style.height = e.data.height + "px";
  }
};

onMounted(() => {
  window.addEventListener("message", genarated_height_iframe_policy_whitefact, false);
});

</script>
<template>
    <div class="fw">
        <div class="container">
           
            <iframe frameborder="0" scrolling="no" width="100%" :src="`https://app.whitefact.co/external-cookie-policy?id=6a1dcf1cb9eb4fa38ddd77f9998c89fd&lang=${locale.toLocaleUpperCase()}&ember=1`" id="external_privacy_whitefact" ></iframe>
        </div>
    </div>
</template>