<script setup lang="ts">

import BannerSlide from '@/components/sections/banner-slide.vue';
import BannerGallery from '@/components/sections/banner-gallery.vue';




const { locale, locales,setLocale } = useI18n()
const { t } = useI18n({
  useScope: 'local'
})


let sec_1_title = locale.value == 'th' ? 
`<h3 class='clr-primary text-uppercase line-bullet'><span>หน่ึงในโครงการท่ีมีขนาดใหญ่ท่ีสุดของไทย <br class='d-block'>ท่ีได้รับการออกแบบด้วยองค์ความรู้ด้าน <span class="upper">COGNITIVE SCIENCE</span></span></h3>` : 
`<h3 class='clr-primary text-uppercase line-bullet'><span>THAILAND'S LARGEST <br class='d-md-none d-block'>DEVELOPMENT TO DATE<br class='d-block'>INSPIRED BY COGNITIVE SCIENCE</span></h3> `

let thumb_3_title_home = locale.value == 'th' ? 
`<span class="number-year h4">ผู้นำด้านการวิจัย<br class='d-block'>เชิงลึกเกี่ยวกับสมอง </span>` : 
`<span class="number-year h2">100+</span> <span class="text-year h3">Year</span>`

let thumb_3_desc_home = locale.value == 'th' ? 
`ที่มีประสบการณ์มาอย่างยาวนานกว่าหนึ่งศตวรรษ` : 
`Experience in advanced brain research`

let thumb_head = locale.value == 'th' ? 
`<h2 class="clr-primary line-bullet"><span>โครงการที่พร้อมมอบการดูแลตลอดช่วงชีวิต <br class="d-md-block d-none">สร้างสรรค์จากงานวิจัยด้าน Cognitive<br class="d-md-block d-none"> ออกแบบมาเพื่อส่งเสริมสุขภาพองค์รวม</span></h2>` :
`<h2 class="clr-primary line-bullet"><span>A LIFETIME CARE COMMUNITY <br> INSPIRED <div style="display: inline-block;">BY COGNITIVE RESEARCH</div><br class="d-block"> DESIGNED FOR <div style="display: inline-block;">HOLISTIC HEALTH</div></span></h2>`



// โครงการที่พร้อมมอบการดูแลตลอดช่วงชีวิต สร้างสรรค์จากงานวิจัยด้าน Cognitive ออกแบบมาเพื่อ
// ส่งเสริมสุขภาพองค์รวม


const images2: { img: string, img_m: string, title: string, desc: string }[] = [
  { img: '/image/home/thumb-life-thrive-aspire-1.jpg', img_m: '/image/home/thumb-life-thrive-aspire-1-m.jpg', title: 'PREMIER<br> ASSISTED LIVING', desc: '' },
  { img: '/image/home/thumb-life-thrive-aspire-2.jpg', img_m: '/image/home/thumb-life-thrive-aspire-2-m.jpg', title: 'DEDICATED<br> CAREANGEL', desc: 'For each Long  Term Care guest' },
  { img: '/image/home/thumb-life-thrive-aspire-3.jpg', img_m: '/image/home/thumb-life-thrive-aspire-3-m.jpg',title: thumb_3_title_home, desc: thumb_3_desc_home },
];







// onMounted(async()=>{
//     console.log(locale.value);
//     const apiUrl = `/api/home`;

//     let data;
//     let rows;

//     const data_banner = ref();
//     try {
//         const response = await useFetch(apiUrl);

//         data = await response.data.value;
//         // data_banner.value = data.translations[0].Banner;
//         console.log(data);
//     } catch (error) {
//         console.error('Fetch Error:', error);
//     }

// })



  const apiUrl = `/api/home?lang=${locale.value == 'en' ? 0 : 1}`;

  const data = ref()

  try {
    const response = await useFetch(apiUrl);
    data.value = await response.data.value.data[0];
    console.log(data.value);
    
  } catch (err) {
    console.error('Error fetching data:', err);
  }


    const config = useRuntimeConfig()
    const uploadPath = (path) => {
        return `${config.public.assetBaseUrl}${path}`
    }
</script>

<template>
    <BannerSlide v-if="data.Banner" :dataCont="data.Banner" />
    <section class="section st-content  w-100 float-left py-5 bg-haft-gold position-relative">
        <img src="/assets/image/skin/ele-leaf-1.png" alt="" class="abs ele-leaf-1">
        <img src="/assets/image/skin/ele-leaf-2.png" alt="" class="abs ele-leaf-2">
        <div class="container">
            <div class="aspen-content text-center" ></div>
            <div class="w-100 float-left">
                <div class="row justify-content-center">
                    <div class="col-12">
                        <div class="aspen-content f-mon text-center t-md clr-secondary mb-2" v-if="data" v-html="data.About_intro"></div>

                        <!-- <div class="aspen-content text-center clr-secondary">
                            <h5  v-if="locale == 'en'" class="text-uppercase">The Aspen Tree provides an innovative model <br class="d-block">for a holistic lifetime care community for older adults.</h5>
                            <h5  v-else class="text-uppercase">โดยนำแนวคิดจากงานวิจัยด้าน <br class="d-md-none d-block"> Cognitive Science มาประยุกต์ใช้</h5>
                        </div> -->
                    </div>
                    <div class="col-12 col-md-12 col-lg-10 col-xl-10">
                        <div class="box-cont-img w-100 mt-5 ">
                            <div class="box-bg-leaf">
                            </div>
                            <picture class="w-100" ref="boxImg">
                                <source v-if="data.About_image && data.About_image.Image_mobile" media="(max-width:767px)" :srcset="uploadPath(data.About_image.Image_mobile.filename_disk)">
                                <img v-if="data.About_image && data.About_image.Image_desktop" class="w-100" :src="uploadPath(data.About_image.Image_desktop.filename_disk)" alt="">
                            </picture>
                        </div>
                    </div>
                </div>
            </div>
            <div class="w-100 float-left mt-md-5 mt-3 bg-cont-gold px-md-0 px-3">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-6 col-lg-5 col-xl-5 border-bottom-d">
                        <div class="aspen-content pd pt-0 pb-3 mb-md-0 mb-3 border-bottom-m"  v-if="data" v-html="data.About_content_title"></div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-5 col-xl-5">
                        <div class="aspen-content text-white" v-if="data" v-html="data.About_content_detail"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
   <BannerGallery v-if="data.Cinemagraph" :dataCont="data.Cinemagraph"/>

   <section class="st st-content st-life-beyond fw">
        <picture class="fw">
            <source v-if="data.Life_beyond_image && data.Life_beyond_image.Image_mobile" media="(max-width:767px)" :srcset="uploadPath(data.Life_beyond_image.Image_mobile.filename_disk)">
            <img v-if="data.Life_beyond_image && data.Life_beyond_image.Image_desktop" class="fw advance-h-img"  :src="uploadPath(data.Life_beyond_image.Image_desktop.filename_disk)" alt="">
        </picture>
        <div class="inner-contain py-md-4 pd-70">
            <div class="container">
                <div class="contain">
                    <div class="aspen-content text-center text-uppercase w-auto pd-20 pt-0 box-line-bullet"  v-if="data" v-html="data.Life_beyond_content">
                    </div>
                </div>
            </div>
        </div>
       
   </section>
   <section class="st st-content st-life-thrive-aspire fw pd-70">
        <img src="/assets/image/skin/ele-leaf-1.png" alt="" class="abs ele-leaf-1">
        <img src="/assets/image/skin/ele-leaf-2.png" alt="" class="abs ele-leaf-2">
       <div class="container">
            <div class="aspen-content text-center text-uppercase" v-if="data" v-html="data.Care_community_topic"></div>
            <div class="fw" v-if="data && data.Care_community_list">
                <div class="row justify-content-center">
                    <div class="col-12">
                        <div class="row gy-4 gx-3">
                            <div class="col-12 col-md-4" v-for="(item, index) in data.Care_community_list" :key="index">
                                <div class="thumb thumb-oncard">
                                    <div class="thumb-img">
                                        <picture class="fw" v-if="item.Thumbnail">
                                            <source media="(max-width:767px)" v-if="item.Thumbnail.Image_mobile" :srcset="uploadPath(item.Thumbnail.Image_mobile.filename_disk)">
                                            <img class="fw" v-if="item.Thumbnail.Image_desktop" :src="uploadPath(item.Thumbnail.Image_desktop.filename_disk)" alt="" >
                                        </picture>
                                    </div>
                                    <div class="thumb-body">
                                        <div class="thumb-h h4 t-md text-uppercase" v-if="item.Title" v-html="item.Title"></div>
                                        <div class="thumb-p f-mon"  v-html="item.Description ? item.Description : ''"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
       </div>
   </section>
</template>


<style lang="scss" scoped>
.st-life-thrive-aspire::before {
    content: "";
    position: absolute;
    width: calc(100% - 100px);
    height: 50%;
    bottom: 0;
    left: 50px;border-radius: 10px 10px 0 0;
    background: url('../assets/image/skin/texture-leaf.jpg') #BEB5A6 no-repeat center center / cover;
}
.st-life-thrive-aspire .thumb-p{min-height: 26px;}
.st-life-thrive-aspire img.abs.ele-leaf-1{
    left: -281px;
    transform: translateY(-43%);
}

.st-life-thrive-aspire img.abs.ele-leaf-2{
    transform: translateY(-35%);
}

.inner-contain{
    position: absolute;
    width: 100%;
    float: left;
    height: 100%;
}
.st-life-beyond .contain {
  
    display: flex;
    justify-content: center;
}

.number-year{}
.border-bottom-d{border-bottom: 1px solid #fff;}
@media (max-width: 1359.98px){
    .st-life-thrive-aspire:before{
        width: calc(100% - 30px);
        left: 15px;
    }
}
@media (max-width: 767.98px){
    .st-life-thrive-aspire::before {
        width: 100%;
        height: 65%;
        left: 0;
        bottom: 0;
        border-radius: 0;
    }
    .st-life-thrive-aspire img.abs.ele-leaf-1 {
        left: -180px;
        transform: none;
        top: 110px;
    }
    .st-life-thrive-aspire img.abs.ele-leaf-2{
        transform: none;
        top: 80px;
        right: -130px;
        width: 70%;
    }

    img.abs.ele-leaf-1{
        width: auto;
        left: -40%;
        transform: translateY(-44%);
    }
    img.abs.ele-leaf-2{
        width: auto;
        right: -60%;
    }

    .border-bottom-d{border: 0;}
    .border-bottom-m{border-bottom: 1px solid #fff;}

    .st-life-thrive-aspire .thumb-p{min-height:auto;}
}




</style>