<template>
    <div class="container">
        <div class="aspen-content pd">
        
            <h1>h1 Lorem ipsum dolor sit amet consectetur.</h1>
            <h2>h2 Lorem ipsum dolor sit amet consectetur.</h2>
            <h3>h3 Lorem ipsum dolor sit amet consectetur.</h3>
            <h4>h4 Lorem ipsum dolor sit amet consectetur.</h4>
            <h5>h5 Lorem ipsum dolor sit amet consectetur.</h5>
            <h6>h6 Lorem ipsum dolor sit amet consectetur.</h6>
            <p>P Lorem ipsum dolor sit amet consectetur.</p>
        </div>

        <div class="aspen-content pd f-mon"> 
        
            <h1>h1 Lorem ipsum dolor sit amet consectetur.</h1>
            <h2>h2 Lorem ipsum dolor sit amet consectetur.</h2>
            <h3>h3 Lorem ipsum dolor sit amet consectetur.</h3>
            <h4>h4 Lorem ipsum dolor sit amet consectetur.</h4>
            <h5>h5 Lorem ipsum dolor sit amet consectetur.</h5>
            <h6>h6 Lorem ipsum dolor sit amet consectetur.</h6>
            <p>P Lorem ipsum dolor sit amet consectetur.</p>
        </div>

        <div class="a aspen-content pd f-mon">
            <h1 class="tosz">เป่ายิ้งฉุบภูมิทัศน์รากหญ้าเซฟตี้ เพนตากอนสตาร์เวิร์กช็อปกษัตริยาธิราช<br> เธคแพ็คเซ็กซ์ เปโซแพทเทิร์นสมาพันธ์ ปักขคณนา </h1>
            <hr>
            <h1>เป่ายิ้งฉุบภูมิทัศน์รากหญ้าเซฟตี้ เพนตากอนสตาร์เวิร์กช็อปกษัตริยาธิราช<br> เธคแพ็คเซ็กซ์ เปโซแพทเทิร์นสมาพันธ์ ปักขคณนา  </h1>
            <h2>เป่ายิ้งฉุบภูมิทัศน์รากหญ้าเซฟตี้ เพนตากอนสตาร์เวิร์กช็อปกษัตริยาธิราช<br> เธคแพ็คเซ็กซ์ เปโซแพทเทิร์นสมาพันธ์ ปักขคณนา  </h2>
            <h3>เป่ายิ้งฉุบภูมิทัศน์รากหญ้าเซฟตี้ เพนตากอนสตาร์เวิร์กช็อปกษัตริยาธิราช<br> เธคแพ็คเซ็กซ์ เปโซแพทเทิร์นสมาพันธ์ ปักขคณนา  </h3>
            <h4>เป่ายิ้งฉุบภูมิทัศน์รากหญ้าเซฟตี้ เพนตากอนสตาร์เวิร์กช็อปกษัตริยาธิราช<br> เธคแพ็คเซ็กซ์ เปโซแพทเทิร์นสมาพันธ์ ปักขคณนา  </h4>
            <h5>เป่ายิ้งฉุบภูมิทัศน์รากหญ้าเซฟตี้ เพนตากอนสตาร์เวิร์กช็อปกษัตริยาธิราช<br> เธคแพ็คเซ็กซ์ เปโซแพทเทิร์นสมาพันธ์ ปักขคณนา  </h5>
            <h6>เป่ายิ้งฉุบภูมิทัศน์รากหญ้าเซฟตี้ เพนตากอนสตาร์เวิร์กช็อปกษัตริยาธิราช<br> เธคแพ็คเซ็กซ์ เปโซแพทเทิร์นสมาพันธ์ ปักขคณนา  </h6>
        </div>
    </div>
  </template>
  
  <script>
  export default {
  
  }
  </script>
  
  <style>
  
  </style>